<link rel="import" href="/POLYMER_2/@polymer/polymer/polymer-element.html">

<dom-module id="alfa-item-edit">

    <template>
        <h2><code>alfa-item-edit</code></h2>
    </template>

<script>!function(){document.createElement.bind(document);class e extends Polymer.Element{static get is(){return"alfa-item-edit"}ready(){super.ready()}}window.customElements.define(e.is,e)}()</script>   
</dom-module>