<link rel="import" href="/POLYMER_2/@polymer/polymer/polymer-element.html">


<link rel="import" href="alfa-worksheet-mixin.html">
<link rel="import" href="alfa-worksheet-ds-mixin.html">


<dom-module id="alfa-worksheet">

<template>
    <style>:host{font-family:'Trebuchet MS','Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial,sans-serif;--text-color:black;--head-foot-background:#eee;--border:1px solid silver}div[read-only]{display:none;margin-bottom:.25em}div[read-only] span{color:#b22222}div[top-controls] div:first-child{padding-top:.9em}div[top-controls]{font-size:.8em}div[top-controls] button{font-size:.8em}div[top-controls] input[type=button]{font-size:1.2em;height:2em;margin-bottom:2px}table{width:100%;border-collapse:collapse;border:1px solid #dcdcdc}table:focus{outline:#adc9ff}th{color:#464646;border-right:var(--border)}th[th-sys]{color:#4169e1}th[col-calculated]{background:#ffd380}thead{border-bottom:2px solid silver;background:var(--head-foot-background)}table[main-table]>thead{position:sticky;top:-1px;outline:1px solid silver}table[main-table]>thead th{outline:1px solid #fff}table[main-table]>tfoot{position:sticky;bottom:0;outline:1px solid silver}tfoot{border-top:2px solid silver;background:var(--head-foot-background)}tfoot tr:first-child{border-bottom:unset}tfoot td[sub-tot]{text-align:right}tfoot td[worksheet-total]{font-weight:700}tr{border-bottom:1px solid #dcdcdc}tr[line-note]{display:none}pre[extras-note],pre[item-note]{display:none}pre[extras-note],pre[item-note],pre[line-note]{margin:0;white-space:unset;text-align:left}tr[line-msg]{color:red}tr[line-msg] td{text-align:left}td{text-align:center;vertical-align:top}td[cloned-from-line]{background:#7fff00}.edited-lines{background:#fafad2}div[item-edit] button,div[line-cmds=edit] button,div[line-cmds=view] button{padding:0 5px;font-size:.7em}div[item-edit],div[line-cmds=edit],div[line-cmds=view]{white-space:nowrap}div[line-cmds=edit]{display:none;background:orange}table[extras-table] div[line-cmds=view]{display:none}div[item-edit]{display:none}main [main-error-msg]{margin:1em 0 0 2em;font-size:1.75em;color:grey}input[onclick^=editWorksheetTitle]{vertical-align:middle;margin-left:1em}input[onclick^=editWorksheetTitle][value=OK]{vertical-align:unset;margin-left:0}input[header-title]{min-width:32em}div[worksheet-comment]{font-size:.75em!important}div[header-norm]{float:left}div[header-edit]{float:left;margin-right:7px}input[worksheet-title]{width:32em}textarea[worksheet-comment]{width:32.2em;height:1em}input[type=button]{background-color:#1e90ff;border:2px solid #4169e1;color:#fff}input[type=button]:hover{background-color:#0045d4}input[type=button][value="N"]{background-color:#eee;color:#4169e1;border:1px solid #4169e1}input[type=button][disabled]{background-color:silver}input[type=button][value="E"]{color:transparent;border:none;background:url(../imgs/edit.png) no-repeat;background-size:contain}input[type=button][value=del]{color:transparent;border:none;background:url(../imgs/trash.png) no-repeat;background-size:contain;background-position:right}input[type=button][value="+"]{color:transparent;border:none;background:url(../imgs/plus-4.png) no-repeat;background-size:contain;height:20px}input[type=button][value="+e"]{color:transparent;border:none;background:url(../imgs/plus-4.png) no-repeat;background-size:contain;height:20px}input[type=button][value="N"]{color:transparent;border:none;background:url(../imgs/file-text-24-royalblu.svg) no-repeat;background-size:contain}input[type=button]:hover{filter:brightness(.6)}td[edit-footer]{background:#4169e1;color:#dcdcdc;text-align:left}td[edit-footer] button,td[edit-footer] input[type=button],td[edit-footer] input[type=submit]{appearance:unset;border:unset;background:unset;color:#dcdcdc;font-size:1em;font-family:unset;cursor:pointer}td[edit-footer] button:hover,td[edit-footer] input[type=button]:hover,td[edit-footer] input[type=submit]:hover{color:#fff;text-decoration:underline;text-decoration-color:orange;filter:unset}tr[tr-index*="_Z"] td{border-bottom:2px solid grey}td[value-undefined]{color:grey;background:#ffcaca}td input[data-path*=LINE_NR]{width:3em}td input[type=number]{width:5em;text-align:right}td input:read-only{border:unset;background:0 0}input[calculated-field]{outline:2px solid orange}input[new-value]{outline:2px solid red;border-style:none}input[error-value]{background:red!important}</style>
    

    

    <header>
        <div id="header-title" part="header-title">
            
            <div header-norm>
                <div worksheet-title>alfa-worksheet</div>
                <div worksheet-comment></div>
            </div>
            <div header-edit style="display:none">
                <input worksheet-title title="Display Name" style="display:block">
                <textarea worksheet-comment title="Comment"></textarea>
            </div>
            
            <input onclick="editWorksheetTitle(this)" type="button" value="E">
            <div read-only> &nbsp;&nbsp; <span>readonly</span></div>
            <br style="clear:both">
        </div>
        <div top-controls>
            <div style="float:left" title="Line, Item, Extras comments inside worksheet">
                Comments: 
                <button onclick='commentsControl("open-all")'>Open All</button>&nbsp;
                <button onclick='commentsControl("close-all")'>Close All</button>&nbsp;
            </div>
            <div style="float:right">
                <button onclick="btnDebugDS()">dbgDS</button> &nbsp;&nbsp;
                <input type="button" onclick="btnSaveWorksheet()" value="Save" title="Save worksheet">
                
            </div>
        </div>
        
    </header>
    <main>

        <form main-form>

            <table main-table></table>
        
        </form>

    </main>
</template>

<script>!function(){class e extends(AlfaWorksheetMixin(AlfaWorksheetDsMixin(Polymer.Element))){static get is(){return"alfa-worksheet"}ready(){super.ready();var e=this.getAttribute("onready-fn");e&&window[e](this),function(){console.log.apply(null,arguments)}("%c"+`<${this.tagName}>${this.id?"#"+this.id:""}`,"background:#8df","ready()")}}window.customElements.define(e.is,e)}()</script>   
</dom-module>