


 
<link rel="import" href="/POLYMER_2/@polymer/polymer/polymer-element.html">

<dom-module id="alfa-list-edit">

    <template>
        <style>button[x-cancel]{border:none;cursor:pointer;font-size:large}button[btn-debug]{border:none;cursor:pointer;text-decoration:underline;color:#00f}div[checkboxes-menu]{display:none;float:left;margin-bottom:.5em}ul[select-all-none]{display:none}div[existing-list] ul{margin-bottom:0;list-style-type:none;border-bottom:1px solid #4169e1}div[existing-list] ol{margin-top:.5em}div[existing-list] li[cmd-delete]{background:#4e4e4e}div[existing-list] li[cmd-exclude]{background:#5c0000}div[existing-list] li[cmd-clone]{background:green}ol[addnew-list] li[w-index] input{width:32em}</style>

        <div list-wizard>
            <small>List editing: &nbsp;&nbsp;<span bound_path="dsElem.listName"></span></small>
            <div style="float:right">
                <button on-click="debugDs" btn-debug>debug ds</button>
                <button on-click="listEditBtn" btn-cmd="cancel" x-cancel title="Close">✖</button>
            </div>
            <hr>

            <div checkboxes-menu>selected: &nbsp;
                <a href="#" on-click="runChecked" btn-cmd="delete">delete</a> &nbsp;
                <a href="#" on-click="runChecked" btn-cmd="exclude">exclude</a> &nbsp;
                <a href="#" on-click="runChecked" btn-cmd="clone">clone</a>
            </div>

            <div existing-list style="clear:both">
                <ul select-all-none><li><input type="checkbox" on-change="selectAllNone"><small>select All/None</small></li></ul>
            </div>

            <datalist id="the-list" bound_path="dsElem.listOfChoices"></datalist>
            <label bound_path="dsElem.addNewText">Add new, choose from the list</label>
            <input list="the-list" type="search" bound_path="dsElem.selectedFromListOfChoices" bound_onchange="change_selectedChoice">
            
            <br>
            <ol addnew-list></ol>
            <button on-click="listEditBtn" btn-cmd="ok">Save</button> &nbsp; 
            <button on-click="listEditBtn" btn-cmd="cancel">Cancel</button> &nbsp; 
            <button on-click="listEditBtn" btn-cmd="deleteAll" style="float:right"></button>
                
             
            <br>
        </div>

    </template>

    <script>!function(){var t="<alfa-list-edit>";const e=document.createElement.bind(document);class i extends Polymer.Element{static get is(){return"alfa-list-edit"}ready(){super.ready(),this.$qs=this.shadowRoot.querySelector.bind(this.shadowRoot),this.$qsa=this.shadowRoot.querySelectorAll.bind(this.shadowRoot),this.alfaDatabinding=new window.AlfaDatabinding(this.shadowRoot,this),this.listName=this.getAttribute("list-name"),this.alfaDatabinding.set("dsElem.listName",this.listName,null),this.inputPath=this.getAttribute("input-list-path"),this.onSavefnName=this.getAttribute("onsave-fn"),this.onDELfnName=this.getAttribute("ondel-fn"),this.makeDeleteAllBtn(),this.alfaDatabinding.set("dsElem.pendingOperations",{},null);var e=this.getAttribute("onready-fn");e?window[e](this,{caller:"alfa-list-edit"}):console.error(t,"onReadyfnName is Falsy!")}onOpen(){this.makeExistingList();var t=this.getAttribute("add-new-text");t&&this.alfaDatabinding.set("dsElem.addNewText",t,null)}onClose(){}makeDeleteAllBtn(){var t=this.getAttribute("delete-btn-verb");t&&(t=t.charAt(0).toUpperCase()+t.slice(1),this.$qs('button[btn-cmd="deleteAll"]').innerText=t+" all "+this.listName)}makeExistingList(){var t=document.querySelector(`ol[${this.listName}-list]`),e=this.$qs("div[existing-list]"),i=e.querySelector(`ol[${this.listName}-list]`);i&&e.removeChild(i);var n=t.cloneNode(!0);(e.append(n),n.hasChildNodes())&&(this.hasAttribute("use-checkboxes")&&(this.$qs("[checkboxes-menu]").style.display="block",this.$qs("ul[select-all-none]").style.display="block",this.$qs('ul[select-all-none] input[type="checkbox"]').checked=!1,this.$qsa('div[existing-list] input[type="checkbox"]').forEach((function(t){t.style.display="unset"}))))}runChecked(t){var e=t.target.getAttribute("btn-cmd");if("clone"!==e||"worksheets"===this.listName){var i=[];if(this.getCheckboxes().forEach((function(t){t.checked&&i.push(t)})),0!==i.length){if("clone"===e&&"worksheets"===this.listName&&i.length>1)alert(e.toUpperCase()+"\nselect only one item");else if(confirm(e.toUpperCase()+"\n"+i.length+" items")){var n=this.dsElem.pendingOperations;n[e]=[],i.forEach(function(t){let i=t.getAttribute("item-id");n[e].push(i),t.parentNode.setAttribute("cmd-"+e,""),t.checked=!1}.bind(this))}}else alert(e.toUpperCase()+"\nnothing selected")}else alert(e.toUpperCase()+"\nonly worksheet can be cloned")}getCheckboxes(){var t=this.$qsa('div[existing-list] ol input[type="checkbox"]');return Array.from(t)}selectAllNone(t){var e;e=!!t.target.checked,this.getCheckboxes().forEach((function(t){t.checked=e}))}listEditBtn(e){switch(e.target.getAttribute("btn-cmd")){case"ok":(function(){this.$qsa("ol[addnew-list] input").forEach(function(t,e){this.dsElem.pendingOperations.addnew[e]._displayName=t.value}.bind(this))}).call(this),function(){var t,e;for(let n in this.dsElem.pendingOperations){var i=this.dsElem.pendingOperations[n];"addnew"===n&&i.length>0?e=!0:i.length>0&&(t=!0)}var n="";if(!t){this.getCheckboxes().find((function(t){return t.checked}))&&(n+="\ncheckboxes were selected but no operation was done on selection")}t||e||(n+="\nNothing to save");n&&alert(this.listName+"\n"+n);return!!(t|e)}.call(this)&&function(){if("function"!=typeof window[this.onSavefnName]){return void console.error(t,"calback onSavefnName not found as window function!")}window[this.onSavefnName](this)}.call(this),this.make_OL("final-list",null,{onsave:!0}),i.call(this),window.alfaListEditor_popup(this.listName,"off");break;case"cancel":i.call(this),window.alfaListEditor_popup(this.listName,"off");break;case"deleteAll":if(!confirm(`Deleting all ${this.listName}!\nAre you sure?`))return;this.inputPath&&window.alfaDatabinding.set(this.inputPath,null,null),this.make_OL("final-list",null),function(){if("function"!=typeof window[this.onDELfnName]){return void console.error(t,"calback onDELfnName not found as window function!")}window[this.onDELfnName](this)}.call(this),i.call(this),window.alfaListEditor_popup(this.listName,"off")}function i(){this.alfaDatabinding.set("dsElem.pendingOperations",{},null),this.make_OL("addnew-list",null),this.selectAllNone({target:{checked:!1}})}}make_OL(i,n,s={}){var a;if("addnew-list"===i?a=this.$qs("ol[addnew-list]"):(a=document.querySelector(`ol[${this.listName}-list]`),n=window.alfaDatabinding.get(this.inputPath)),void 0===n)return void console.error(t,"make_OL() itemOrList==='undefined'",{listAttr:i,inputPath:this.inputPath});if(null===n)return void(a.innerHTML="");const l=this.listName;var o=this.hasAttribute("use-checkboxes"),r=this.hasAttribute("show-totals"),d=0;function h(t,n,a){var h,c=t._displayName;r&&(h=t.amounts&&t.amounts.worksheetTotal?t.amounts.worksheetTotal:0,d+=h,s.NUMBER_FORMAT&&s.CURRENCY_CODE&&(h=new Intl.NumberFormat(s.NUMBER_FORMAT,{style:"currency",currency:s.CURRENCY_CODE}).format(h)));var u=t._id,m=e("li");if("final-list"===i){if(o){var f=e("input");f.setAttribute("type","checkbox"),f.setAttribute("item-id",u),f.style.display="none",m.append(f)}var p=e("span");if(p.setAttribute("w-index",n),p.setAttribute("item-id",u),p.setAttribute("list-name",l),p.innerHTML=`${c} &nbsp;&nbsp; <small>${u}<small>`,p.addEventListener("click",window.alfalist_linkclick),m.append(p),r){var b=e("div");b.style.float="right",b.innerText=h,m.append(b)}}else m.innerHTML=`<input value="${c}" pending-index="${n}"> &nbsp;&nbsp; ${u}`;m.setAttribute("w-index",n),m.setAttribute("item-id",u),a.append(m)}Array.isArray(n)?(a.innerHTML="",n.forEach((function(t,e){h(t,e,a)}))):h(n,s.pendingIndex,a),s.NUMBER_FORMAT&&s.CURRENCY_CODE&&(d=new Intl.NumberFormat(s.NUMBER_FORMAT,{style:"currency",currency:s.CURRENCY_CODE}).format(d)),window.alfaDatabinding.set("ds.jsDocument.amounts.grandTotal_display",d,null)}onTransactionGettingList(t,e,i){if(t)console.error(MODULE_LOG,"onTransactionGettingList",t);else{var n=e.map((function(t){return{[t._displayName]:t._id}}));this.alfaDatabinding.set("dsElem.listOfChoices",n,null),this.dsElem=this.dsElem||{},this.dsElem.pendingOperations.addnew=[]}}change_selectedChoice=function(t){var e=this.dsElem.listOfChoices.find((function(e){return e[Object.keys(e)[0]]===t.value}));if(!e)return this.alfaDatabinding.set("dsElem.selectedFromListOfChoices",null,null),void alert("Please select from the list");var i=Object.keys(e)[0],n=e[i];if(e={_id:n,_displayName:i},"worksheets"===this.listName&&(e.fromTemplate=n,e.amounts={}),"quotations"===this.listName&&this.isDuplicate(e))this.alfaDatabinding.set("dsElem.selectedFromListOfChoices",null,null);else{var s=this.dsElem.pendingOperations.addnew;s.push(e);var a=s.length-1;this.alfaDatabinding.set("dsElem.pendingOperations.addnew",s,null),this.make_OL("addnew-list",e,{pendingIndex:a}),this.alfaDatabinding.set("dsElem.selectedFromListOfChoices",null,null)}};isDuplicate(t,e){return!!window.ds.quotations.find((function(e){return e.customer_id===t._id}))&&(alert("Customer:\n"+t._displayName+"\nalready has quotation."),!0)}debugDs(){console.log("%c"+t,"background:yellow",{ds:window.ds,dsElem:this.dsElem})}}window.customElements.define(i.is,i)}()</script>   
</dom-module>