
<link rel="import" href="boot.html">
<link rel="import" href="mixin.html">
<link rel="import" href="async.html">

<script>!function(){"use strict";class t{constructor(){this._asyncModule=null,this._callback=null,this._timer=null}setConfig(t,c){this._asyncModule=t,this._callback=c,this._timer=this._asyncModule.run(()=>{this._timer=null,e.delete(this),this._callback()})}cancel(){this.isActive()&&(this._cancelAsync(),e.delete(this))}_cancelAsync(){this.isActive()&&(this._asyncModule.cancel(this._timer),this._timer=null)}flush(){this.isActive()&&(this.cancel(),this._callback())}isActive(){return null!=this._timer}static debounce(e,c,s){return e instanceof t?e._cancelAsync():e=new t,e.setConfig(c,s),e}}Polymer.Debouncer=t;let e=new Set;Polymer.enqueueDebouncer=function(t){e.add(t)},Polymer.flushDebouncers=function(){const t=Boolean(e.size);return e.forEach(t=>{try{t.flush()}catch(t){setTimeout(()=>{throw t})}}),t}}()</script>
