
<link rel="import" href="boot.html">
<link rel="import" href="debounce.html">
<script>!function(){"use strict";Polymer.flush=function(){let S,h;do{S=window.ShadyDOM&&ShadyDOM.flush(),window.ShadyCSS&&window.ShadyCSS.ScopingShim&&window.ShadyCSS.ScopingShim.flush(),h=Polymer.flushDebouncers()}while(S||h)}}()</script>
