

<link rel="import" href="../utils/boot.html">
<link rel="import" href="../utils/resolve-url.html">

<script>!function(){"use strict";Polymer.Settings=Polymer.Settings||{},Polymer.Settings.useShadow=!window.ShadyDOM,Polymer.Settings.useNativeCSSProperties=Boolean(!window.ShadyCSS||window.ShadyCSS.nativeCss),Polymer.Settings.useNativeCustomElements=!window.customElements.polyfillWrapFlushCallback,Polymer.rootPath=Polymer.rootPath||Polymer.ResolveUrl.pathFromUrl(document.baseURI||window.location.href),Polymer.setRootPath=function(e){Polymer.rootPath=e},Polymer.sanitizeDOMValue=Polymer.sanitizeDOMValue||null,Polymer.setSanitizeDOMValue=function(e){Polymer.sanitizeDOMValue=e},Polymer.passiveTouchGestures=Polymer.passiveTouchGestures||!1,Polymer.setPassiveTouchGestures=function(e){Polymer.passiveTouchGestures=e},Polymer.legacyOptimizations=Polymer.legacyOptimizations||window.PolymerSettings&&window.PolymerSettings.legacyOptimizations||!1,Polymer.setLegacyOptimizations=function(e){Polymer.legacyOptimizations=e},Polymer.cancelSyntheticClickEvents="boolean"!=typeof Polymer.cancelSyntheticClickEvents||Polymer.cancelSyntheticClickEvents,Polymer.setCancelSyntheticClickEvents=function(e){Polymer.cancelSyntheticClickEvents=e}}()</script>
