<style>body{font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif}</style>
    <h1><pre>md5-hash.js</pre></h1>
    
    
    <div class="md5-hash"></div>
    
    
    enter string: <input id="input-str" focus><br><br>
    
    <small>hex   &nbsp;&nbsp;<i>set to upperCase</i></small>
    <div id="hash-hex"></div>
    <br>
    <small>base64</small>
    <div id="hash-base64"></div>
    
    
    
    <script type="module">import{Hashes}from"/ALFA_MJS/md5-hash.js";window.md5=new Hashes.MD5;const $dqs=document.querySelector.bind(document);$dqs("#input-str").addEventListener("change",(function(e){var n=e.target.value;window.md5.setUpperCase(!0),$dqs("#hash-hex").innerText=window.md5.hex(n),$dqs("#hash-base64").innerText=window.md5.b64(n)}))</script>
    