/*  alfa-ui
    css for ui layout with menu in drawer and collapsible header
 */

 * {--font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
 * {--logo-color: #dd4124}
 * {--arrow-left_url: url(/ALFA_APP/imgs-ui/arrow-left-32.png)}

html, body{
    margin: 0; 
    height:100%; 
}

/* HEADER - MAIN - FOOTER  layout ************ 

    <div header-main-footer-wrap>
        <header />
        <main />
        <footer />
    </div>                                  */

    [header-main-footer-wrap]{
        height: 100%;
        /* width: 100vh;   */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    [header-main-footer-wrap] > header{
        /* color: white;
        background: royalblue; */
    }

    [header-main-footer-wrap] > main{
        flex: 1;
        width: 100%;
        overflow: auto;
        padding: unset !important; /* padding messes flex width  !!!!!!!!!!!!!!!!!!  */
    }

    [header-main-footer-wrap] > footer{
        display: flex;
        justify-content: space-between;
        padding: 3px 0; /* horizontal messes flex */
        width: 100vw;
        background: silver;
    }
/* HEADER - MAIN - FOOTER  layout end ************ */



/* <style override-ui-header-main-footer-css> */

    [header-main-footer-wrap] > header {
        padding: .5rem 0;
        background: whitesmoke;
        border-bottom: 1px solid gainsboro;
        color: var(--logo-color);  
        font-family: var(--font-family);
        font-size: 2.7rem;
    }
    [header-main-footer-wrap] > header img{height: 32px}
    [header-main-footer-wrap] > header .powered-by {
        float: right;
        font-size: 1rem;
        font-weight: bold;
        padding-right: 1rem;
    }
    [header-main-footer-wrap] > footer {background: whitesmoke; color: silver}

    /* collapsible header */
    div[div-center]{
        position: absolute;
        top: 0;
        left: 50%;
    }
    img[btn-for-header-collapse]{
        content: var(--arrow-left_url); 
        transform: scale(.5) rotate(90deg);
        transition: transform .3s ease-in-out;
        vertical-align: top;
        margin-top: -.2em;
        filter: brightness(2); 
        cursor: pointer;
    }
    img[btn-for-header-collapse][status-collapsed]{
        transform: scale(.5) rotate(-90deg);
    }
    [header-main-footer-wrap] > header{
        height: 1em; 
        transition: height .3s ease-in-out;
        overflow: hidden;}
    [header-main-footer-wrap] > header[status-collapsed]{
        height: .01em;
    }
    [header-main-footer-wrap] footer {font-family: var(--font-family);}
/* end: <style override-ui-header-main-footer-css> */

/* <style for-panels> */
    div[container-for-vertical-panels]{height: 100%}
    div[container-for-vertical-panels] [alfa-panel-left]
        {   width: 380px;                       /* on start left panel is opened */
            border-top: 1px solid gainsboro;
        } 

    div[container-for-vertical-panels] [alfa-panel-right]{display: flex; flex-direction: column;}

    div[container-for-vertical-panels] [alfa-panel-right] ul[nav-tabs]{background: silver; list-style-type: none; margin: 0; padding:0}
    div[container-for-vertical-panels] [alfa-panel-right] ul[nav-tabs] li{
        display: inline-block; 
        margin: 0 1px; padding: 1px 2px; 
        background: gainsboro; 
        cursor:pointer;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    div[container-for-vertical-panels] [alfa-panel-right] ul[nav-tabs] li[active]{background: white}

    div[container-for-vertical-panels] [alfa-panel-right] ul[nav-tabs] li button{
        border: unset;
        background: unset;
        padding-right: 0;
        cursor: pointer;
    }
    div[container-for-vertical-panels] [alfa-panel-right] ul[nav-tabs] li button:hover{color: orange;}

    div[container-for-vertical-panels] [alfa-panel-right] iframe{
        width: 100%; 
        /* height: 100%;  */
        height: 99%;  /* WORKAROUND to eliminate vertical scroll bar */
        border: unset
    }
    div[container-for-vertical-panels] [alfa-panel-right] ul[iframe-tabs] {height: 100%; margin: 0; padding: 0; list-style-type: none;}
    div[container-for-vertical-panels] [alfa-panel-right] ul[iframe-tabs] li {height: 100%;}

    /* button controling left panel open/close */
    img[btn-for-vertical-panels].open{transform: rotate(180deg);} 
        img[btn-for-vertical-panels]{
        content: var(--arrow-left_url); 
        margin-left: .5rem;
        cursor: pointer; 
        filter: brightness(2); 
        /* vertical-align: middle; */
        transition: transform .3s ease-in-out;
    } 
/* end: <style for-panels> */

/* <style for-menu> */
    nav[alfa-menu-controls]{font-family: var(--font-family);}

    nav[alfa-menu-container]{ font-size: 1.2rem; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }
    nav[alfa-menu-container] .head{font-weight: normal; color: #1569C7} /* #1569C7 Blue Eyes,  #2B60DE Royal Blue*/
    nav[alfa-menu-container] .error{font-weight: normal; color: rgb(161, 0, 0)}
    nav[alfa-menu-container] b.accepted{font-weight: normal; font-size: 1rem; color: grey}
    nav[alfa-menu-container] i.accepted::after{content: url('../imgs/like-16.png');}

    nav[alfa-menu-container] .rejected{background-image: url('../imgs/reject-16.png');}

    nav[alfa-menu-container] [alfa-menu-item-buttons] img{height: .95em}
    nav[alfa-menu-container] [alfa-menu-item-buttons]{display: none; margin-left: .5em}
    nav[alfa-menu-container] [alfa-menu-item-buttons]:hover{ filter: invert(100%);}

    nav[alfa-menu-container] .alfa-collapsible-anim_header:hover > [alfa-menu-item-buttons]{display: inline-block;} 

    nav[alfa-menu-container] .alfa-collapsible-anim_header i{color: green}
/* end: <style for-menu> */