/* common CSS for all pages/*.html 
    @imported in application dirs, where overrides may be done
*/

* {--font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
* {--btn-background: #0073cf}
* {--btn-color: gainsboro;}
* {--btn-hover-color: white}

body{
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: var(--font-family)
}
code{color: blue; font-size: 1.1em;}

[dev-env]{display: none;}

button[btn-x]{
    /* background: #0073cf;  */
    background: var(--btn-background);
    color: var(--btn-color); border: none; padding: 0.25em 0.5em; font-family: var(--font-family); font-size: 1rem;}
button[btn-x]:hover{color: var(--btn-hover-color);}

button[btn-close-page]{float:right; border: unset; font-size:1rem;}
button[btn-close-page]:hover{background: orange;}

button[btn-debug-page]{float:right; border: unset; color:brown; margin-right: .25rem;}
button[btn-debug-page]:hover{background: orange;} 

table[bound_path]{  border-collapse: collapse;}
table[bound_path] th,
table[bound_path] td {
    /* border: 1px solid #999; */
    padding: 0.1rem 0.5rem;
    text-align: left;}
table[bound_path] [row-selected]{background: #64adff}
table[bound_path] tr {border-bottom:  1px solid silver;}
table[bound_path] thead tr {border-bottom:  2px solid grey;}

table[bound_path] col[added-col]{background: unset !important;} /* #f3f3f3 - columns shift after inserting */
table[bound_path] col[inserted-col]{background: unset !important;}