 |
<!DOCTYPE html>
<html>
<head>
  <script src="../../../webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="../../polymer.html">
</head>
<body>

<dom-module id="x-test">
  <template>
    <div>behavior says: {{behaviorProp}}</div>
    <div>element says: {{prop}}</div>
  </template>
</dom-module>
<script>var MyBehavior={properties:{behaviorProp:{value:"prop from behavior!",observer:"_propChanged"}},_propChanged:function(e){console.log(this.localName,"_propChanged",e)},ready:function(){console.log(this.localName,"MyBehavior.ready")}},MyBehavior2={ready:function(){console.log(this.localName,"MyBehavior2.ready")}};Polymer({is:"x-test",behaviors:[MyBehavior],properties:{prop:{value:"prop from x-test"}},ready:function(){console.log(this.localName,"x-test.ready")}});var XTest=customElements.get("x-test");class XClass extends(Polymer.mixinBehaviors([MyBehavior,MyBehavior2],XTest)){static get is(){return"x-class"}static get template(){return Polymer.DomModule.import("x-test","template")}static get config(){return{properties:{prop:{value:"prop from x-class"}}}}ready(){super.ready(),console.log("x-class ready")}}customElements.define(XClass.is,XClass)</script>

<x-class></x-class>

</body>
</html>
