<!doctype html>

<html>
<head>
  <title>data-table</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <script src="../../../webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="../../polymer.html">
</head>
<body>

  <script>window.emojiByType={a:"😎",b:"💰",c:"🚔",d:"💕",e:"👍",f:"🍌"}</script>

  <dom-module id="data-popup">
    <template strip-whitespace>
      <style>:host{display:inline-block;background:#add8e6;border-radius:10px;border-bottom-left-radius:0;border:1px solid #aaa;box-shadow:3px 3px 5px #535353;padding:5px;z-index:1}</style>
      <slot></slot>
    </template>
    <script>HTMLImports.whenReady((function(){Polymer({is:"data-popup"})}))</script>
  </dom-module>

  <dom-module id="data-cell">
    <template strip-whitespace>
      <style>:host{flex:1;border:2px solid #aaa;padding:5px;position:relative;background:#eee}data-popup{display:none;position:absolute;bottom:calc(100% - 15px);left:calc(100% - 15px)}:host(:hover) data-popup{display:inline-block}:host([change=up]){background:#afa}:host([change=down]){background:#faa}.type{display:inline-block;border-radius:100%;box-sizing:border-box;padding:3px 0;background:#aaa;margin-right:5px;height:30px;width:30px;text-align:center}</style>
      <div class="type">{{computeTypeIcon(type)}}</div>
      {{toFixed(value)}}
      <data-popup>{{value}}</data-popup>
    </template>
    <script>HTMLImports.whenReady((function(){Polymer({is:"data-cell",properties:{type:{type:String,notify:!0},value:{type:Number,notify:!0},change:{reflectToAttribute:!0,computed:"computeChange(value)"}},attached:function(){this.fire("register-cell")},computeChange:function(e){var t=this._prev;return this._prev=e,e>t?"up":e<t?"down":"none"},computeTypeIcon:function(e){return emojiByType[e]},toFixed:function(e){return Number(e).toFixed(2)}})}))</script>
  </dom-module>

  <dom-module id="data-row">
    <template strip-whitespace>
      <style>:host{display:flex;flex-direction:row}.title-cell{flex:1}.title{font-weight:700}.dominant{font-size:.7em}</style>
      <div class="title-cell">
        <div class="title">{{title}}</div>
        <div class="dominant">Dominant: {{computeDominant(cells.*)}}</div>
      </div>
      <template is="dom-repeat" items="{{cells}}" as="cell">
        <data-cell type="{{cell.type}}" value="{{cell.value}}"></data-cell>
      </template>
    </template>
    <script>HTMLImports.whenReady((function(){Polymer({is:"data-row",properties:{title:{type:String,notify:!0},cells:{type:Array,notify:!0}},computeDominant:function(t){var e=this.types=t.base.reduce((function(t,e){return t[e.type]=(t[e.type]||0)+1,t}),{});return emojiByType[Object.keys(e).sort((function(t,n){return e[n]-e[t]}))[0]]}})}))</script>
  </dom-module>

  <dom-module id="data-table">
    <template strip-whitespace>
      <style>:host{display:block}</style>
      Polymer: {{version}}<br>
      <button on-tap="toggleRunning">{{computeRunning(running)}}</button>
      <input value-as-number="{{tables::input}}" type="number" style="width:35px" placeholder="tables">
      <input value-as-number="{{rows::input}}" type="number" style="width:35px" placeholder="rows">
      <input value-as-number="{{columns::input}}" type="number" style="width:35px" placeholder="columns">
      <br><br>
      <select value="{{strategy::change}}">
        <option value="reset">(Mutate in place x n), reset</option>
        <option value="reset-each">(Mutate in place, reset) x n</option>
        <option value="path">(Set path from top) x n</option>
        <option value="path-leaf">(Set path from leaf) x n</option>
      </select>
      n = <input value-as-number="{{mutations::input}}" type="number" style="width:35px">
      <br><br>
      <h3>FPS: {{fps}}</h3>
      <h3>Op time: {{toFixed(optime, 2)}}</h3>
      <div xhidden>
        <template is="dom-repeat" items="{{tableData}}">
          <h3>Table {{index}}:</h3>
          <template is="dom-repeat" items="{{data}}" as="row">
            <data-row title="{{row.title}}" cells="{{row.cells}}"></data-row>
          </template>
        </template>
      </div>
    </template>
    <script>HTMLImports.whenReady((function(){var t=document.location.search.substring(1).split("&").map(t=>t.split("=")).reduce((t,e)=>(t[e[0]]=e[1],t),{});Polymer({is:"data-table",properties:{rows:{type:Number,value:Number(t.rows)||6},columns:{type:Number,value:Number(t.columns)||10},tables:{type:Number,value:Number(t.tables)||2},mutations:{type:Number,value:Number(t.mutations)||30},strategy:{type:String,value:t.strategy||"reset"},running:{type:Number,value:"false"!==t.running},tableData:{computed:"computeTableData(tables)"},optime:{value:0}},observers:["computeData(rows, columns)"],created:function(){this._fps=0,this.end=performance.now()+1e3;var t=this.cells=[];this.addEventListener("register-cell",(function(e){var a=e.composedPath()[0];a.id="cell-"+t.length,t.push(a)}))},toggleRunning:function(){this.running=!this.running,this.running&&this.go()},computeRunning:function(t){return t?"Pause":"Run"},computeData:function(t,e){for(var a=[],r=0;r<t;r++){for(var s=[],n=0;n<e;n++)s.push({value:10*Math.random(),type:["a","b","c","d","e","f"][Math.floor(6*Math.random())]});a.push({cells:s,title:"Row "+r})}this.data=a},computeTableData:function(t){return new Array(Number(t))},toFixed:function(t,e){return t.toFixed(e)},ready:function(){this.version=Polymer.version||"alacarte",this.setProperties||(this.setProperties=function(t){for(var e in t)this.set(e,t[e])}),this.go()},go:function(){for(var t=0,e=0;e<this.mutations;e++){var a=["a","b","c","d","e","f"][Math.floor(6*Math.random())],r=(Math.random()>.5?-1:1)*(5*Math.random()),s=Math.floor(Math.random()*this.rows),n=Math.floor(Math.random()*this.columns),o=this.data[s].cells[n];if("reset"==this.strategy||"reset-each"==this.strategy){if(o.type=a,o.value+=r,"reset-each"==this.strategy){var i=performance.now();this.set("data",this.data),t+=performance.now()-i}}else if("path"==this.strategy){var h=["data",s,"cells",n].join(".");(l={})[h+".type"]=a,l[h+".value"]=o.value+r;i=performance.now();this.setProperties(l),t+=performance.now()-i}else if("path-leaf"==this.strategy){var u=this.cells[Math.floor(this.cells.length*Math.random())],l={type:a,value:u.value+r};i=performance.now();u.setProperties(l),t+=performance.now()-i}}if(t&&(this.optime=(9*this.optime+t/this.mutations)/10),"reset"==this.strategy){i=performance.now();this.set("data",this.data),this.optime=(9*this.optime+(performance.now()-i))/10}this._fps++,performance.now()>this.end&&(this.fps=this._fps,this._fps=0,this.end=performance.now()+1e3);var m=this;this.running&&requestAnimationFrame((function(){m.go()}))}})}))</script>
  </dom-module>

  <data-table id="table"></data-table>


</body>
</html>
