
<!DOCTYPE html>
<html>
<head>
  <script src="../../../webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="../../polymer.html">
</head>
<body>

<dom-module id="x-host">
  <template>
    <h1>1 + [[foo]] = [[bar]]</h1>
    <x-child id="child" foo="[[foo]]" bar="{{bar}}"></x-child>
  </template>

  <script>class XHost extends Polymer.Element{static get config(){return{properties:{obj:{observer:"objChanged"}}}}objChanged(e,t){console.log("new",e,"old",t)}_shouldPropertyChange(e,t,o){return this.strict?t!==o:t instanceof Date?!(o instanceof Date)||t.getTime()!==o.getTime():super._shouldPropertyChange(e,t,o)}}customElements.define("x-host",XHost)</script>
</dom-module>

<x-host id="host"></x-host>

<script>var obj={foo:!0};host.obj=obj,host.obj=obj,console.log("strict on"),host.strict=!0,host.obj=obj,console.log("strict off"),host.strict=!1,host.obj=obj,host.obj=new Date,host.obj=new Date(host.obj.getTime())</script>

</body>
</html>
