<!doctype html>

<html>
<head>
  <meta charset="utf-8">
  <script src="../../../webcomponentsjs/webcomponents-lite.js"></script>
  <script src="../../../web-component-tester/browser.js"></script>
  <link rel="import" href="../../polymer.html">
  <link rel="import" href="array-selector-elements.html">
<body>

<test-fixture id="singleConfigured">
  <template>
    <array-selector items='[{"name": "one"},{"name": "two"},{"name": "three"}]'>
    </array-selector>
  </template>
</test-fixture>

<test-fixture id="multiConfigured">
  <template>
    <array-selector multi items='[{"name": "one"},{"name": "two"},{"name": "three"}]'>
    </array-selector>
  </template>
</test-fixture>

<test-fixture id="bind">
  <template>
    <dom-bind>
      <template>
        <observe-el id="observer" single-selected="{{singleSelected}}" multi-selected="{{multiSelected}}"></observe-el>
        <array-selector id="singleBound" items="{{items}}" selected="{{singleSelected}}"></array-selector>
        <array-selector id="multiBound" items="{{items}}" selected="{{multiSelected}}" multi></array-selector>
      </template>
    </dom-bind>
  </template>
</test-fixture>

<script>suite("single selection",(function(){test("single selection",(function(){var e=fixture("singleConfigured");assert.strictEqual(e.selected,null),assert.strictEqual(e.selectedItem,null),assert.isFalse(e.isSelected(e.items[0])),assert.isFalse(e.isSelected(e.items[1])),assert.isFalse(e.isSelected(e.items[2])),e.select(e.items[0]),assert.strictEqual(e.selected,e.items[0]),assert.strictEqual(e.selectedItem,e.items[0]),assert.isTrue(e.isSelected(e.items[0])),assert.isFalse(e.isSelected(e.items[1])),assert.isFalse(e.isSelected(e.items[2])),e.select(e.items[0]),assert.strictEqual(e.selected,e.items[0]),assert.strictEqual(e.selectedItem,e.items[0]),assert.isTrue(e.isSelected(e.items[0])),assert.isFalse(e.isSelected(e.items[1])),assert.isFalse(e.isSelected(e.items[2])),e.selectIndex(2),assert.strictEqual(e.selected,e.items[2]),assert.strictEqual(e.selectedItem,e.items[2]),assert.isFalse(e.isIndexSelected(0)),assert.isFalse(e.isIndexSelected(1)),assert.isTrue(e.isIndexSelected(2)),e.toggle=!0,e.select(e.items[2]),assert.strictEqual(e.selected,null),assert.strictEqual(e.selectedItem,null),assert.isFalse(e.isSelected(e.items[0])),assert.isFalse(e.isSelected(e.items[1])),assert.isFalse(e.isSelected(e.items[2])),e.toggle=!0,e.select(e.items[2]),assert.strictEqual(e.selected,e.items[2]),assert.strictEqual(e.selectedItem,e.items[2]),assert.isFalse(e.isSelected(e.items[0])),assert.isFalse(e.isSelected(e.items[1])),assert.isTrue(e.isSelected(e.items[2])),e.clearSelection(),assert.equal(e.selectedItem,null)})),test("bound defaults",(function(){let e=fixture("bind");assert.equal(e.$.observer.singleSelected,null),assert.sameMembers(e.$.observer.multiSelected,[]),e.items=[{name:"one"},{name:"two"},{name:"three"}],assert.equal(e.$.observer.singleSelected,null),assert.sameMembers(e.$.observer.multiSelected,[])})),test("single selection notification",(function(){let e=fixture("bind");e.items=[{name:"one"},{name:"two"},{name:"three"}],e.$.observer.singleChanged=sinon.spy(),e.$.singleBound.select(e.items[2]),assert.isTrue(e.$.observer.singleChanged.calledOnce),assert.equal(e.$.observer.singleChanged.firstCall.args[0].path,"singleSelected"),assert.equal(e.$.observer.singleChanged.firstCall.args[0].value,e.items[2]),assert.equal(e.$.observer.singleSelected,e.items[2]),e.$.observer.singleChanged=sinon.spy(),e.$.singleBound.clearSelection(),assert.equal(e.$.observer.singleSelected,null),assert.isTrue(e.$.observer.singleChanged.calledOnce),assert.equal(e.$.observer.singleChanged.firstCall.args[0].path,"singleSelected"),assert.equal(e.$.observer.singleChanged.firstCall.args[0].value,null)})),test("single selection sub-property change",(function(){let e=fixture("bind");e.items=[{name:"one"},{name:"two"},{name:"three"}],e.$.singleBound.select(e.items[2]),e.$.observer.singleChanged=sinon.spy(),e.set(["items",2,"name"],"test"),assert.isTrue(e.$.observer.singleChanged.calledOnce),assert.equal(e.$.observer.singleChanged.firstCall.args[0].path,"singleSelected.name"),assert.equal(e.$.observer.singleChanged.firstCall.args[0].value,"test"),assert.equal(e.$.observer.singleSelected.name,"test"),e.$.singleBound.select(e.items[1]),e.$.observer.singleChanged=sinon.spy(),e.set(["items",1,"name"],"test2"),assert.isTrue(e.$.observer.singleChanged.calledOnce),assert.equal(e.$.observer.singleChanged.firstCall.args[0].path,"singleSelected.name"),assert.equal(e.$.observer.singleChanged.firstCall.args[0].value,"test2"),assert.equal(e.$.observer.singleSelected.name,"test2")})),test("single selection sub-property change after unshift",(function(){let e=fixture("bind");e.items=[{name:"one"},{name:"two"},{name:"three"}],e.$.singleBound.select(e.items[2]),e.unshift("items",{name:"zero"}),e.$.observer.singleChanged=sinon.spy(),e.set(["items",3,"name"],"test2"),assert.isTrue(e.$.observer.singleChanged.calledOnce),assert.equal(e.$.observer.singleChanged.firstCall.args[0].path,"singleSelected.name"),assert.equal(e.$.observer.singleChanged.firstCall.args[0].value,"test2"),assert.equal(e.$.observer.singleSelected.name,"test2")})),test("single selection removal via splice",(function(){let e=fixture("bind");e.items=[{name:"one"},{name:"two"},{name:"three"}],e.$.singleBound.select(e.items[1]),e.$.observer.singleChanged=sinon.spy(),e.splice("items",1,2),assert.isTrue(e.$.observer.singleChanged.calledOnce),assert.equal(e.$.observer.singleChanged.firstCall.args[0].path,"singleSelected"),assert.equal(e.$.observer.singleChanged.firstCall.args[0].value,null),assert.equal(e.$.observer.singleSelected,null)})),test("copy array, selection should remain",(function(){let e=fixture("bind");e.items=[{name:"one"},{name:"two"},{name:"three"}],e.$.singleBound.select(e.items[2]),assert.equal(e.$.singleBound.selected,e.items[2]),e.items=e.items.slice(),assert.equal(e.$.singleBound.selected,e.items[2])})),test("change array, selection should go away",(function(){let e=fixture("bind");e.items=[{name:"one"},{name:"two"},{name:"three"}],e.$.singleBound.select(e.items[2]),assert.equal(e.$.singleBound.selected,e.items[2]),e.items=[{name:"one"},{name:"two"},{name:"three"}],assert.equal(e.$.singleBound.selected,null)})),test("null array, selection should go away",(function(){let e=fixture("bind");e.items=[{name:"one"},{name:"two"},{name:"three"}],e.$.singleBound.select(e.items[2]),assert.equal(e.$.singleBound.selected,e.items[2]),e.items=null,assert.equal(e.$.singleBound.selected,null)}))})),suite("multi selection",(function(){test("multi selection",(function(){var e=fixture("multiConfigured");assert.sameMembers(e.selected,[]),assert.isFalse(e.isSelected(e.items[0])),assert.isFalse(e.isSelected(e.items[1])),assert.isFalse(e.isSelected(e.items[2])),e.select(e.items[0]),assert.sameMembers(e.selected,[e.items[0]]),assert.isTrue(e.isSelected(e.items[0])),assert.isFalse(e.isSelected(e.items[1])),assert.isFalse(e.isSelected(e.items[2])),e.select(e.items[0]),assert.sameMembers(e.selected,[e.items[0]]),assert.isTrue(e.isSelected(e.items[0])),assert.isFalse(e.isSelected(e.items[1])),assert.isFalse(e.isSelected(e.items[2])),e.selectIndex(2),assert.sameMembers(e.selected,[e.items[0],e.items[2]]),assert.isTrue(e.isIndexSelected(0)),assert.isFalse(e.isIndexSelected(1)),assert.isTrue(e.isIndexSelected(2)),e.toggle=!0,e.select(e.items[2]),assert.sameMembers(e.selected,[e.items[0]]),assert.isTrue(e.isSelected(e.items[0])),assert.isFalse(e.isSelected(e.items[1])),assert.isFalse(e.isSelected(e.items[2])),e.toggle=!0,e.select(e.items[2]),assert.sameMembers(e.selected,[e.items[0],e.items[2]]),assert.isTrue(e.isSelected(e.items[0])),assert.isFalse(e.isSelected(e.items[1])),assert.isTrue(e.isSelected(e.items[2])),e.clearSelection(),assert.sameMembers(e.selected,[])})),test("multi selection notification",(function(){let e=fixture("bind");e.items=[{name:"one"},{name:"two"},{name:"three"}],e.$.observer.multiChanged=sinon.spy(),e.$.multiBound.select(e.items[2]),assert.isTrue(e.$.observer.multiChanged.calledTwice),assert.equal(e.$.observer.multiChanged.firstCall.args[0].path,"multiSelected.splices"),assert.equal(e.$.observer.multiChanged.firstCall.args[0].value.indexSplices.length,1),assert.equal(e.$.observer.multiChanged.firstCall.args[0].value.indexSplices[0].addedCount,1),assert.equal(e.$.observer.multiChanged.firstCall.args[0].value.indexSplices[0].removed.length,0),assert.sameMembers(e.$.observer.multiSelected,[e.items[2]]),assert.equal(e.$.observer.multiChanged.secondCall.args[0].path,"multiSelected.length"),assert.equal(e.$.observer.multiChanged.secondCall.args[0].value,1),e.$.observer.multiChanged=sinon.spy(),e.$.multiBound.select(e.items[0]),assert.isTrue(e.$.observer.multiChanged.calledTwice),assert.equal(e.$.observer.multiChanged.firstCall.args[0].path,"multiSelected.splices"),assert.equal(e.$.observer.multiChanged.firstCall.args[0].value.indexSplices.length,1),assert.equal(e.$.observer.multiChanged.firstCall.args[0].value.indexSplices[0].addedCount,1),assert.equal(e.$.observer.multiChanged.firstCall.args[0].value.indexSplices[0].removed.length,0),assert.sameMembers(e.$.observer.multiSelected,[e.items[2],e.items[0]]),assert.equal(e.$.observer.multiChanged.secondCall.args[0].path,"multiSelected.length"),assert.equal(e.$.observer.multiChanged.secondCall.args[0].value,2),e.$.observer.multiChanged=sinon.spy(),e.$.multiBound.clearSelection(),assert.sameMembers(e.$.observer.multiSelected,[]),assert.isTrue(e.$.observer.multiChanged.calledOnce),assert.equal(e.$.observer.multiChanged.firstCall.args[0].path,"multiSelected"),assert.sameMembers(e.$.observer.multiChanged.firstCall.args[0].value,[])})),test("multi selection sub-property change",(function(){let e=fixture("bind");e.items=[{name:"one"},{name:"two"},{name:"three"}],e.$.multiBound.select(e.items[2]),e.$.multiBound.select(e.items[0]),e.$.observer.multiChanged=sinon.spy(),e.set(["items",2,"name"],"test"),assert.isTrue(e.$.observer.multiChanged.calledOnce),assert.equal(e.$.observer.multiChanged.firstCall.args[0].path,"multiSelected.0.name"),assert.equal(e.$.observer.multiChanged.firstCall.args[0].value,"test"),assert.equal(e.$.observer.multiSelected[0].name,"test"),e.$.observer.multiChanged=sinon.spy(),e.set(["items",0,"name"],"test2"),assert.isTrue(e.$.observer.multiChanged.calledOnce),assert.equal(e.$.observer.multiChanged.firstCall.args[0].path,"multiSelected.1.name"),assert.equal(e.$.observer.multiChanged.firstCall.args[0].value,"test2"),assert.equal(e.$.observer.multiSelected[1].name,"test2")})),test("multi selection sub-property change after unshift",(function(){let e=fixture("bind");e.items=[{name:"one"},{name:"two"},{name:"three"}],e.$.multiBound.select(e.items[2]),e.$.multiBound.select(e.items[0]),e.unshift("items",{name:"zero"}),e.$.observer.multiChanged=sinon.spy(),e.set(["items",1,"name"],"test"),assert.isTrue(e.$.observer.multiChanged.calledOnce),assert.equal(e.$.observer.multiChanged.firstCall.args[0].path,"multiSelected.1.name"),assert.equal(e.$.observer.multiChanged.firstCall.args[0].value,"test"),assert.equal(e.$.observer.multiSelected[1].name,"test")})),test("multi selection sub-property change after splice (removal)",(function(){let e=fixture("bind");e.items=[{name:"one"},{name:"two"},{name:"three"}],e.$.multiBound.select(e.items[0]),e.$.multiBound.select(e.items[2]),e.$.observer.multiChanged=sinon.spy(),e.splice("items",0,1),assert.equal(e.$.observer.multiChanged.firstCall.args[0].path,"multiSelected.splices"),assert.equal(e.$.observer.multiChanged.firstCall.args[0].value.indexSplices.length,1),assert.equal(e.$.observer.multiChanged.firstCall.args[0].value.indexSplices[0].index,0),assert.equal(e.$.observer.multiChanged.firstCall.args[0].value.indexSplices[0].addedCount,0),assert.equal(e.$.observer.multiChanged.firstCall.args[0].value.indexSplices[0].removed.length,1),e.$.observer.multiChanged=sinon.spy(),e.set(["items",1,"name"],"test"),assert.isTrue(e.$.observer.multiChanged.calledOnce),assert.equal(e.$.observer.multiChanged.firstCall.args[0].path,"multiSelected.0.name"),assert.equal(e.$.observer.multiChanged.firstCall.args[0].value,"test"),assert.equal(e.$.observer.multiSelected[0].name,"test")})),test("multi selection sub-property change after deselect",(function(){let e=fixture("bind");e.items=[{name:"one"},{name:"two"},{name:"three"}],e.$.multiBound.select(e.items[2]),e.$.multiBound.select(e.items[0]),e.$.observer.multiChanged=sinon.spy(),e.set(["items",0,"name"],"test"),assert.isTrue(e.$.observer.multiChanged.calledOnce),assert.equal(e.$.observer.multiChanged.firstCall.args[0].path,"multiSelected.1.name"),assert.equal(e.$.observer.multiChanged.firstCall.args[0].value,"test"),assert.equal(e.$.observer.multiSelected[1].name,"test"),e.$.multiBound.deselect(e.items[2]),e.$.observer.multiChanged=sinon.spy(),e.set(["items",0,"name"],"test4"),assert.isTrue(e.$.observer.multiChanged.calledOnce),assert.equal(e.$.observer.multiChanged.firstCall.args[0].path,"multiSelected.0.name"),assert.equal(e.$.observer.multiChanged.firstCall.args[0].value,"test4"),assert.equal(e.$.observer.multiSelected[0].name,"test4")})),test("copy array, selection should remain",(function(){let e=fixture("bind");e.items=[{name:"one"},{name:"two"},{name:"three"}],e.$.multiBound.select(e.items[2]),e.$.multiBound.select(e.items[0]),assert.sameMembers(e.$.multiBound.selected,[e.items[2],e.items[0]]),e.items=e.items.slice(),assert.sameMembers(e.$.multiBound.selected,[e.items[2],e.items[0]])})),test("change array, selection should go away",(function(){let e=fixture("bind");e.items=[{name:"one"},{name:"two"},{name:"three"}],e.$.multiBound.select(e.items[2]),e.$.multiBound.select(e.items[0]),assert.sameMembers(e.$.multiBound.selected,[e.items[2],e.items[0]]),e.items=[{name:"one"},{name:"two"},{name:"three"}],assert.sameMembers(e.$.multiBound.selected,[])})),test("null array, selection should go away",(function(){let e=fixture("bind");e.items=[{name:"one"},{name:"two"},{name:"three"}],e.$.multiBound.select(e.items[2]),e.$.multiBound.select(e.items[0]),assert.sameMembers(e.$.multiBound.selected,[e.items[2],e.items[0]]),e.items=null,assert.sameMembers(e.$.multiBound.selected,[])})),test("reset item in array, selection should go away",(function(){let e=fixture("bind");e.items=[{name:"one"},{name:"two"},{name:"three"}],e.$.multiBound.select(e.items[2]),e.$.multiBound.select(e.items[0]),assert.sameMembers(e.$.multiBound.selected,[e.items[2],e.items[0]]),e.set("items.0",{name:"new"}),assert.sameMembers(e.$.multiBound.selected,[e.items[2]])}))})),suite("corner cases",(function(){test("switch from single to multi",(function(){var e=fixture("singleConfigured");assert.strictEqual(e.selected,null),assert.strictEqual(e.selectedItem,null),assert.isFalse(e.isSelected(e.items[0])),assert.isFalse(e.isSelected(e.items[1])),assert.isFalse(e.isSelected(e.items[2])),e.select(e.items[0]),assert.strictEqual(e.selected,e.items[0]),assert.strictEqual(e.selectedItem,e.items[0]),assert.isTrue(e.isSelected(e.items[0])),assert.isFalse(e.isSelected(e.items[1])),assert.isFalse(e.isSelected(e.items[2])),e.multi=!0,assert.sameMembers(e.selected,[]),assert.equal(e.selectedItem,null)})),test("switch from multi to single",(function(){var e=fixture("multiConfigured");assert.sameMembers(e.selected,[]),assert.isFalse(e.isSelected(e.items[0])),assert.isFalse(e.isSelected(e.items[1])),assert.isFalse(e.isSelected(e.items[2])),e.select(e.items[0]),assert.sameMembers(e.selected,[e.items[0]]),assert.isTrue(e.isSelected(e.items[0])),assert.isFalse(e.isSelected(e.items[1])),assert.isFalse(e.isSelected(e.items[2])),e.multi=!1,assert.equal(e.selected,null),assert.equal(e.selectedItem,null)})),test("reset mutated array with gaps resulting in multiple splices",(function(){var e=fixture("bind");let s=e.items=[{name:"0"},{name:"1"},{name:"2"},{name:"3"},{name:"4"},{name:"5"},{name:"6"},{name:"7"}];e.$.multiBound.selectIndex(2),e.$.multiBound.selectIndex(6),e.$.multiBound.selectIndex(1),e.$.multiBound.selectIndex(5),e.$.multiBound.selectIndex(0),e.$.multiBound.selectIndex(4),assert.sameMembers(e.$.multiBound.selected,[s[2],s[6],s[1],s[5],s[0],s[4]]),e.$.observer.multiChanged=sinon.spy(),e.set("items.4.name","changed1"),assert.isTrue(e.$.observer.multiChanged.calledOnce),assert.equal(e.$.observer.multiChanged.firstCall.args[0].path,"multiSelected.5.name"),assert.equal(e.$.observer.multiChanged.firstCall.args[0].value,"changed1"),e.items=[s[0],s[3],s[4],s[7]],assert.sameMembers(e.$.multiBound.selected,[s[0],s[4]]),e.$.observer.multiChanged=sinon.spy(),e.set("items.2.name","changed2"),assert.isTrue(e.$.observer.multiChanged.calledOnce),assert.equal(e.$.observer.multiChanged.firstCall.args[0].path,"multiSelected.1.name"),assert.equal(e.$.observer.multiChanged.firstCall.args[0].value,"changed2")})),test("reset mutated array reordered resulting in multiple splices",(function(){var e=fixture("bind");let s=e.items=[{name:"0"},{name:"1"},{name:"2"},{name:"3"},{name:"4"},{name:"5"},{name:"6"},{name:"7"}];e.$.multiBound.selectIndex(2),e.$.multiBound.selectIndex(6),e.$.multiBound.selectIndex(1),e.$.multiBound.selectIndex(5),e.$.multiBound.selectIndex(0),e.$.multiBound.selectIndex(4),assert.sameMembers(e.$.multiBound.selected,[s[2],s[6],s[1],s[5],s[0],s[4]]),e.$.observer.multiChanged=sinon.spy(),e.set("items.4.name","changed1"),assert.isTrue(e.$.observer.multiChanged.calledOnce),assert.equal(e.$.observer.multiChanged.firstCall.args[0].path,"multiSelected.5.name"),assert.equal(e.$.observer.multiChanged.firstCall.args[0].value,"changed1"),e.items=[s[4],s[5],s[6],s[7],s[0],s[1],s[2],s[3]],assert.sameMembers(e.$.multiBound.selected,[s[2],s[6],s[1],s[5],s[0],s[4]]),e.$.observer.multiChanged=sinon.spy(),e.set("items.0.name","changed2"),assert.isTrue(e.$.observer.multiChanged.calledOnce),assert.equal(e.$.observer.multiChanged.firstCall.args[0].path,"multiSelected.5.name"),assert.equal(e.$.observer.multiChanged.firstCall.args[0].value,"changed2")}))}))</script>

</body>
</head></html>
