

<script>let PropertyTypeBehavior={properties:{behaviorShorthandNumber:Number,behaviorShorthandBool:Boolean,behaviorNumber:{value:11,type:Number},behaviorBool:{value:!1,type:Boolean}}};Polymer({is:"x-basic",hostAttributes:{attr1:"this is attr 1",attr2:42,attr3:"host","aria-role":"button",title:"awesome","attr-object":{foo:"bar",nested:{meaning:42},arr:[0,"foo",!0]},"attr-stupid":!1,class:"foo bar baz"},behaviors:[PropertyTypeBehavior],properties:{object:{type:Object,value:function(){return{}}},array:{type:Array,value:function(){return[]}},number:{type:Number,value:0},string:{type:String,value:"none"},bool:{type:Boolean,value:!0},negBool:{type:Boolean,value:!1},date:{type:Date,value:function(){return new Date(0)}},dashCase:{type:String,value:"none"},UPCASE:{type:String,value:"none"},noType:{value:"none"},readOnly:{type:String,value:"default",readOnly:!0},prop:{value:"prop",observer:"propChanged"},attr1:{observer:"attr1Changed"},shorthandNumber:Number,shorthandBool:Boolean,foreignTypeObjectProp:{type:Object,value:"none"}},propChangedCount:0,attr1ChangedCount:0,propChanged:function(){this.propChangedCount++},attr1Changed:function(){this.attr1ChangedCount++}})</script>

<script>Polymer({is:"x-reflect",behaviors:[PropertyTypeBehavior],properties:{object:{type:Object,reflectToAttribute:!0,value:function(){return{}}},array:{type:Array,reflectToAttribute:!0,value:function(){return[]}},number:{type:Number,reflectToAttribute:!0,value:0},string:{type:String,reflectToAttribute:!0,value:"none"},bool:{type:Boolean,reflectToAttribute:!0,value:!0},negBool:{type:Boolean,reflectToAttribute:!0,value:!1},date:{type:Date,reflectToAttribute:!0,value:function(){return new Date(0)}},dashCase:{type:String,reflectToAttribute:!0,value:"none"},UPCASE:{type:String,reflectToAttribute:!0,value:"none"},noType:{value:"none"},readOnly:{type:String,value:"default",readOnly:!0},shorthandNumber:Number,shorthandBool:Boolean,foreignTypeObjectProp:{type:Object,reflectToAttribute:!0,value:"none"}},_warn:function(){var e=Array.prototype.join.call(arguments,"");e.indexOf("UPCASE")>-1&&(this.__warnedAboutUPCASE=!0)}})</script>

<dom-module id="x-compose">
  <template>
    <x-basic id="basic" prop="{{attr1}}" attr1$="{{attr1}}" class="should-not-override"></x-basic>
  </template>
</dom-module>
<script>Polymer({is:"x-compose",hostAttributes:{attr1:"compose"},properties:{attr1:String,prop2:String},ready:function(){this.setAttribute("prop2","hi")}})</script>
