<!doctype html>

<html>
<head>
  <meta charset="utf-8">
  <script src="../../../webcomponentsjs/webcomponents-lite.js"></script>
  <script src="../../../web-component-tester/browser.js"></script>
  <link rel="import" href="../../polymer.html">
</head>
<body>
  <script>window.configureBehavior={changeHandlerCount:0,objectChangeHandlerCount:0,contentChanged:function(){this.changeHandlerCount++,this.stomp=10},objectChanged:function(){this.objectChangeHandlerCount++}}</script>

  <dom-module id="x-configure-value">
    <template>
      <span id="content">{{content}}</span>
    </template>
    <script>HTMLImports.whenReady((function(){Polymer({is:"x-configure-value",behaviors:[window.configureBehavior],properties:{content:{type:String,notify:!0,observer:"contentChanged",value:"default"},object:{type:Object,notify:!0,value:function(){return{foo:"obj-default"}},observer:"objectChanged"},readOnly:{readOnly:!0,value:"default"},stomp:{value:5}}})}))</script>
  </dom-module>

  <dom-module id="x-configure-gchild">
    <template>
      <span id="content">{{content}}</span>
    </template>
    <script>HTMLImports.whenReady((function(){Polymer({is:"x-configure-gchild",behaviors:[window.configureBehavior],properties:{content:{type:String,notify:!0,observer:"contentChanged",value:"gchild"},object:{type:Object,notify:!0,value:function(){return{foo:"obj-default"}},observer:"objectChanged"},readOnly:{readOnly:!0,value:"default"},stomp:{value:5}}})}))</script>
  </dom-module>

  <dom-module id="x-configure-child">
    <template>
      <x-configure-gchild id="gchild" content="{{content}}" object="{{object}}"></x-configure-gchild>
    </template>
    <script>HTMLImports.whenReady((function(){Polymer({is:"x-configure-child",behaviors:[window.configureBehavior],properties:{content:{type:String,notify:!0,observer:"contentChanged",value:"child"},negatedContent:{type:Boolean,observer:"negatedContentChanged",value:!0},compoundInput:{type:String,observer:"compoundInputChanged",value:"default"},object:{type:Object,notify:!0,value:function(){return{foo:"obj-default"}},observer:"objectChanged"},readOnly:{readOnly:!0,value:"default"},stomp:{value:5},attrDash:{observer:"attrDashChanged",value:"default"},attrNumber:{type:Number,observer:"attrNumberChanged",value:0},attrBoolean:{type:Boolean,observer:"attrBooleanChanged",value:!1}},created:function(){this.attrDashChanged=sinon.spy(),this.attrNumberChanged=sinon.spy(),this.attrBooleanChanged=sinon.spy(),this.negatedContentChanged=sinon.spy(),this.compoundInputChanged=sinon.spy()}})}))</script>
  </dom-module>

  <dom-module id="x-configure-simple-child">
    <script>HTMLImports.whenReady((function(){Polymer({is:"x-configure-simple-child",properties:{noeffect:String},ready:function(){this.hasPropertyAtReadyTime=void 0!==this.noeffect}})}))</script>
  </dom-module>

  <dom-module id="x-configure-host">
    <template>
      <x-configure-child id="child" content="{{content}}" negated-content="[[!content]]" compound-input="a [[simple]] [[content]]" object="{{object.goo}}" attr$="{{attrValue}}" attr-dash$="{{attrValue}}" attr-number$="{{attrNumber}}" attr-boolean$="{{attrBoolean}}"></x-configure-child>
      <x-configure-simple-child id="simple" noeffect="{{simple}}"></x-configure-simple-child>
    </template>
    <script>HTMLImports.whenReady((function(){Polymer({is:"x-configure-host",behaviors:[window.configureBehavior],properties:{content:{type:String,notify:!0,observer:"contentChanged",value:"host"},object:{type:Object,notify:!0,value:function(){return{goo:{foo:"obj-host"}}},observer:"objectChanged"},readOnly:{readOnly:!0,value:"default"},stomp:{value:5},attrValue:{value:"attrValue"},attrNumber:{value:42},attrBoolean:{value:!1},simple:{value:"simple"}}})}))</script>
  </dom-module>

  <script>window.XConfigLazy={is:"x-config-lazy",properties:{noEffectProp:Number,defaultUsesNoEffectProp:{type:Number},boundNoEffectProp:{type:Number,value:5},prop:{value:"lazy",observer:"propChanged"},readOnlyProp:{readOnly:!0,value:"readOnly"},hadAttrProp:{value:"hadAttrProp",observer:"hadAttrPropChanged"}},created:function(){this.noEffectProp=1,this.defaultUsesNoEffectProp=2*this.noEffectProp,this.propChanged=sinon.spy(),this.hadAttrPropChanged=sinon.spy()}}</script>

  <dom-module id="x-config-lazy-nodefaults">
    <template>
      <div>x-config-lazy-nodefaults</div>
    </template>
    <script>window.XConfigLazyNoDefaults={is:"x-config-lazy-nodefaults",properties:{prop:{observer:"propChanged"}},created:function(){this.propChanged=sinon.spy()}}</script>
  </dom-module>

  <dom-module id="x-config-lazy-host">
    <template>
      <x-config-lazy id="lazy" prop="{{foo}}" read-only-prop="{{foo}}" had-attr-prop="attrValue" bound-no-effect-prop="{{foo}}"></x-config-lazy>
      <x-config-lazy-nodefaults prop="[[foo]]"></x-config-lazy-nodefaults>
    </template>
    <script>HTMLImports.whenReady((function(){Polymer({is:"x-config-lazy-host",properties:{foo:{value:"foo",observer:"fooChanged"}},fooChanged:function(o){this.$.lazy.hadAttrProp=o}})}))</script>
  </dom-module>

  <x-configure-value></x-configure-value>

  <x-configure-value content="attr" object='{"foo": "obj-attr"}'></x-configure-value>

  <x-configure-host></x-configure-host>

  <x-configure-host content="attr"></x-configure-host>

<script>function testValueAndChangeHandler(e,t){assert.equal(e.content,t,"Property does not equal configured value"),assert.equal(e.changeHandlerCount,1,"property `change` Change handler not run when default value set"),assert.equal(e.objectChangeHandlerCount,1,"property `object` Change handler not run when default value set")}function testConfigure(e,t,a){testValueAndChangeHandler(e,t),assert.equal(e.object.foo,a),assert.equal(e.$.content.textContent,t,"Bound value not propagated to dom")}function testConfigureHost(e,t){testValueAndChangeHandler(e,t),testValueAndChangeHandler(e=e.$.child,t),testValueAndChangeHandler(e=e.$.gchild,t),assert.equal(e.$.content.textContent,t,"Bound value not propagated to dom")}suite("configure",(function(){test("value set in properties initializes correctly",(function(){testConfigure(document.querySelector("x-configure-value"),"default","obj-default")})),test("attribute overrides value set in properties",(function(){testConfigure(document.querySelector("x-configure-value[content]"),"attr","obj-attr")})),test("configured values initialize and propagates",(function(){testConfigureHost(document.querySelector("x-configure-host"),"host")})),test("negated value configured correctly",(function(){var e=document.querySelector("x-configure-host");assert.equal(e.$.child.negatedContent,!1),assert.isTrue(e.$.child.negatedContentChanged.calledOnce,"negated content not changed exactly once")})),test("compound effect resulting value set once",(function(){var e=document.querySelector("x-configure-host");assert.equal(e.$.child.compoundInput,"a simple host"),assert.isTrue(e.$.child.compoundInputChanged.calledOnce,"compound content not changed exactly once")})),test("attribute overrides configured values and propagates",(function(){testConfigureHost(document.querySelector("x-configure-host[content]"),"attr")})),test("property changed in change handler of another not stomped by default",(function(){var e=document.querySelector("x-configure-value");assert.equal(e.stomp,10)})),test("read-only property initialized to default value",(function(){var e=document.querySelector("x-configure-value");assert.equal(e.readOnly,"default")})),test("attribute bindings to properties without effects not configured",(function(){var e=document.querySelector("x-configure-host");assert.equal(e.$.child.getAttribute("attr"),"attrValue"),assert.equal(e.$.child.attr,void 0)})),test("attribute bindings to properties with effects configured",(function(){var e=document.createElement("x-configure-host");document.body.appendChild(e),assert.equal(e.$.child.getAttribute("attr-dash"),"attrValue"),assert.notProperty(e.$.child,"attr-dash"),assert.equal(e.$.child.attrDash,"attrValue"),assert.isTrue(e.$.child.attrDashChanged.calledOnce),assert.equal(e.$.child.attrDashChanged.getCall(0).args[0],"attrValue"),assert.equal(e.$.child.getAttribute("attr-number"),"42"),assert.notProperty(e.$.child,"attr-number"),assert.strictEqual(e.$.child.attrNumber,42),assert.isTrue(e.$.child.attrNumberChanged.calledOnce),assert.strictEqual(e.$.child.attrNumberChanged.getCall(0).args[0],42),assert.equal(e.$.child.hasAttribute("attr-boolean"),!1),assert.notProperty(e.$.child,"attr-boolean"),assert.strictEqual(e.$.child.attrBoolean,!1),assert.isTrue(e.$.child.attrBooleanChanged.calledOnce),assert.strictEqual(e.$.child.attrBooleanChanged.getCall(0).args[0],!1)})),test("bindings to properties without effects configured",(function(){var e=document.createElement("x-configure-host");document.body.appendChild(e),assert.isTrue(e.$.simple.hasPropertyAtReadyTime,"property value not configured and therefore not set at ready time")})),test("pre-register property assignment does not break getters and setters",(function(){var e=document.createElement("x-late-register");document.body.appendChild(e),e.shouldChange="1",Polymer({is:"x-late-register",properties:{shouldChange:{observer:"shouldChangeCallback",type:String}},shouldChangeCallback:function(){this.textContent=this.shouldChange}}),assert.equal(e.shouldChange,"1"),assert.equal(e.shouldChange,e.textContent),e.shouldChange="2",assert.equal(e.shouldChange,"2"),assert.equal(e.shouldChange,e.textContent),document.body.removeChild(e)})),test("setting properties in created works with configuration",(function(){var e=document.createElement("x-late-register2");document.body.appendChild(e),Polymer({is:"x-late-register2",properties:{a:{type:Number,value:0},b:{type:Number}},created:function(){this.a=1,this.b=2*this.a}}),assert.equal(e.b,2),document.body.removeChild(e)})),test("lazy upgrade binding use cases",(function(){var e=document.createElement("x-config-lazy-host");document.body.appendChild(e),Polymer(window.XConfigLazy),Polymer(window.XConfigLazyNoDefaults),assert.equal(e.$.lazy.noEffectProp,1),assert.equal(e.$.lazy.defaultUsesNoEffectProp,2),assert.equal(e.$.lazy.boundNoEffectProp,"foo"),assert.equal(e.$.lazy.prop,"foo"),assert.isTrue(e.$.lazy.propChanged.calledOnce),assert.equal(e.$.lazy.readOnlyProp,"readOnly"),assert.equal(e.$.lazy.hadAttrProp,"foo"),assert.isTrue(e.$.lazy.hadAttrPropChanged.calledOnce),document.body.removeChild(e)}))}))</script>
</body>
</html>
