
<custom-style>
  <style is="custom-style">html{--cs-blue:{border:8px solid #00f};}</style>
</custom-style>
<dom-module id="x-client">
  <template>
    <style>:host{display:inline-block;border:4px solid red;@apply (--cs-blue);}</style>
    x-client
  </template>
  <script>Polymer({is:"x-client"})</script>
</dom-module>
