
<dom-module id="shared-style">
  <template>
    <style>html{--import-var:3px solid orange}</style>
  </template>
</dom-module>

<dom-module id="shared-style2">
  <template>
    <style>.zazz{border:16px solid orange}</style>
  </template>
</dom-module>

<link rel="import" href="sub/style-import.html">

<custom-style>
<style is="custom-style" include="shared-style style-import
  style-import2">html{--import-mixin:{border:4px solid #00f};padding:10px}</style>
</custom-style>
