
<script>window.getData=()=>[{prop:"prop-1",items:[{prop:"prop-1-1",items:[{prop:"prop-1-1-1"},{prop:"prop-1-1-2"},{prop:"prop-1-1-3"}]},{prop:"prop-1-2",items:[{prop:"prop-1-2-1"},{prop:"prop-1-2-2"},{prop:"prop-1-2-3"}]},{prop:"prop-1-3",items:[{prop:"prop-1-3-1"},{prop:"prop-1-3-2"},{prop:"prop-1-3-3"}]}]},{prop:"prop-2",items:[{prop:"prop-2-1",items:[{prop:"prop-2-1-1"},{prop:"prop-2-1-2"},{prop:"prop-2-1-3"}]},{prop:"prop-2-2",items:[{prop:"prop-2-2-1"},{prop:"prop-2-2-2"},{prop:"prop-2-2-3"}]},{prop:"prop-2-3",items:[{prop:"prop-2-3-1"},{prop:"prop-2-3-2"},{prop:"prop-2-3-3"}]}]},{prop:"prop-3",items:[{prop:"prop-3-1",items:[{prop:"prop-3-1-1"},{prop:"prop-3-1-2"},{prop:"prop-3-1-3"}]},{prop:"prop-3-2",items:[{prop:"prop-3-2-1"},{prop:"prop-3-2-2"},{prop:"prop-3-2-3"}]},{prop:"prop-3-3",items:[{prop:"prop-3-3-1"},{prop:"prop-3-3-2"},{prop:"prop-3-3-3"}]}]}]</script>

<dom-module id="x-foo">
  <template>
    <style>:host{display:block;border:1px solid #000;padding:3px;margin:3px}</style>
    <span>{{itemaProp}}</span>
    <span>{{itembProp}}</span>
    <span>{{itemcProp}}</span>
    <x-bar id="bar" outer-prop="{{outerProp}}" outer-item-prop="{{outerItemProp}}" innera-prop="{{inneraProp}}" itema-prop="{{itemaProp}}" innerb-prop="{{innerbProp}}" itemb-prop="{{itembProp}}" innerc-prop="{{innercProp}}" itemc-prop="{{itemcProp}}" computed1="{{computed1}}" computed2="{{computed2}}" computed3="{{computed3}}">
    </x-bar>
  </template>
</dom-module>
<script>Polymer({is:"x-foo",properties:{outerProp:{notify:!0},outerItemProp:{notify:!0},inneraProp:{notify:!0},itemaProp:{notify:!0},innerbProp:{notify:!0},itembProp:{notify:!0},innercProp:{notify:!0},itemcProp:{notify:!0},indexa:{notify:!0},indexb:{notify:!0},indexc:{notify:!0}}}),Polymer({is:"x-bar",properties:{outerProp:{notify:!0},outerItemProp:{notify:!0},inneraProp:{notify:!0},itemaProp:{notify:!0},innerbProp:{notify:!0},itembProp:{notify:!0},innercProp:{notify:!0},itemcProp:{notify:!0},indexa:{notify:!0},indexb:{notify:!0},indexc:{notify:!0}}})</script>

<script>let XNestedRepeat=Polymer({_template:'\n    <template id="repeater" is="dom-repeat" items="{{items}}" as="itema" index-as="indexa" on-dom-change="domUpdateHandler">\n      <x-foo on-test1="testHandler1"\n             innera-prop="{{innera.prop}}"\n             itema-prop="{{itema.prop}}"\n             outer-prop="{{prop}}"\n             outer-item-prop="{{item.prop}}"\n             indexa="{{indexa}}">\n      </x-foo>\n      <template is="dom-repeat" items="{{itema.items}}" as="itemb" index-as="indexb">\n        <x-foo on-test2="testHandler2"\n               innerb-prop="{{innerb.prop}}"\n               itemb-prop="{{itemb.prop}}"\n               innera-prop="{{innera.prop}}"\n               itema-prop="{{itema.prop}}"\n               outer-prop="{{prop}}"\n               outer-item-prop="{{item.prop}}"\n               indexa="{{indexa}}"\n               indexb="{{indexb}}">\n        </x-foo>\n        <template is="dom-repeat" items="{{itemb.items}}" as="itemc" index-as="indexc">\n          <x-foo on-test3="testHandler3"\n                 innerc-prop="{{innerc.prop}}"\n                 itemc-prop="{{itemc.prop}}"\n                 innerb-prop="{{innerb.prop}}"\n                 itemb-prop="{{itemb.prop}}"\n                 innera-prop="{{innera.prop}}"\n                 itema-prop="{{itema.prop}}"\n                 outer-prop="{{prop}}"\n                 outer-item-prop="{{item.prop}}"\n                 indexa="{{indexa}}"\n                 indexb="{{indexb}}"\n                 indexc="{{indexc}}">\n         </x-foo>\n        </template>\n      </template>\n    </template>\n',is:"x-nested-repeat",testHandler1Count:0,testHandler2Count:0,testHandler3Count:0,domUpdateHandlerCount:0,testHandler1:function(){this.testHandler1Count++},testHandler2:function(){this.testHandler2Count++},testHandler3:function(){this.testHandler3Count++},domUpdateHandler:function(){this.domUpdateHandlerCount++}});class XNestedRepeatMutable extends(Polymer.MutableData(XNestedRepeat)){static get template(){return this._templateEl||(this._templateEl=document.createElement("template"),this._templateEl.innerHTML=XNestedRepeat.template),this.makeRepeatsMutable(this._templateEl.cloneNode(!0))}static makeRepeatsMutable(e){return Array.from(e.content.querySelectorAll("[is=dom-repeat]")).forEach(e=>{e.setAttribute("mutable-data",""),this.makeRepeatsMutable(e)}),e}}customElements.define("x-nested-repeat-mutable",XNestedRepeatMutable)</script>

<dom-module id="x-nested-repeat-configured">
  <template>
    <template id="repeater" is="dom-repeat" items="{{items}}" as="itema" index-as="indexa" observe="prop">
      <x-foo innera-prop="{{innera.prop}}" itema-prop="{{itema.prop}}" outer-prop="{{prop}}" outer-item-prop="{{item.prop}}" indexa="{{indexa}}" computeda="{{concat(itema.prop, itemForComputedA.prop)}}">
      </x-foo>
      <template is="dom-repeat" items="{{itema.items}}" as="itemb" index-as="indexb">
        <x-foo innerb-prop="{{innerb.prop}}" itemb-prop="{{itemb.prop}}" innera-prop="{{innera.prop}}" itema-prop="{{itema.prop}}" outer-prop="{{prop}}" outer-item-prop="{{item.prop}}" indexa="{{indexa}}" indexb="{{indexb}}" computedb="{{concat(itemb.prop, itemForComputedB.prop)}}">
        </x-foo>
        <template is="dom-repeat" items="{{itemb.items}}" as="itemc" index-as="indexc">
          <x-foo innerc-prop="{{innerc.prop}}" itemc-prop="{{itemc.prop}}" innerb-prop="{{innerb.prop}}" itemb-prop="{{itemb.prop}}" innera-prop="{{innera.prop}}" itema-prop="{{itema.prop}}" outer-prop="{{prop}}" outer-item-prop="{{item.prop}}" indexa="{{indexa}}" indexb="{{indexb}}" indexc="{{indexc}}" computedc="{{concat(itemc.prop, itemForComputedC.prop)}}">
          </x-foo>
        </template>
      </template>
    </template>
  </template>
</dom-module>
<script>Polymer({is:"x-nested-repeat-configured",properties:{items:{value:window.getData()},prop:{value:"outer"},item:{value:function(){return{prop:"outerItem"}}},itemForComputedA:{value:function(){return{prop:"itemForComputedA"}}},itemForComputedB:{value:function(){return{prop:"itemForComputedB"}}},itemForComputedC:{value:function(){return{prop:"itemForComputedC"}}},_testHost:{value:function(){return this}}},sortDesc:function(t,e){return assert.equal(this,this._testHost),e.prop.localeCompare(t.prop)},filter2nd:function(t){return assert.equal(this,this._testHost),t.prop.indexOf("2")<0},concat:function(t,e){return t+"+"+e}})</script>

<dom-module id="x-repeat-filter-and-sort-by-nested-property">
    <template>
      <template id="repeater" is="dom-repeat" items="{{items}}">
        <x-foo itema-prop="{{item.prop.nestedProp}}"></x-foo>
      </template>
    </template>
    <script>Polymer({is:"x-repeat-filter-and-sort-by-nested-property",properties:{items:{value:()=>[{prop:{nestedProp:0}},{prop:{nestedProp:1}},{prop:{nestedProp:2}},{prop:{nestedProp:3}},{prop:{nestedProp:4}}]}}})</script>
  </dom-module>


<dom-module id="x-simple-repeat">
  <template>
    <template id="repeat" is="dom-repeat" items="{{items}}">
      <x-foo itema-prop="{{item.prop}}"></x-foo>
    </template>
  </template>
  <script>Polymer({is:"x-simple-repeat",properties:{items:{value:window.getData()}}})</script>
</dom-module>

<dom-module id="x-primitive-repeat">
  <template>
    <div id="container1">
      <template is="dom-repeat" items="{{items}}" id="repeater1">
        <x-foo itema-prop="{{item}}"></x-foo>
      </template>
    </div>
    <div id="container2">
      <template is="dom-repeat" items="{{items}}" id="repeater2">
        <x-foo itema-prop="{{item}}"></x-foo>
      </template>
    </div>
  </template>
  <script>Polymer({is:"x-primitive-repeat",properties:{items:{value:function(){return["a","b","c","d","e"]}}}})</script>
</dom-module>

<dom-module id="x-primitive-large">
  <template>
    <template id="repeater" is="dom-repeat" items="{{items}}">
      <div>{{item}}</div>
    </template>
  </template>
  <script>Polymer({is:"x-primitive-large",properties:{items:{value:function(){for(var r=[],e=0;e<11;e++)r.push(e);return r}}}})</script>
</dom-module>

<dom-module id="x-repeat-limit">
  <template>
    <template id="repeater" is="dom-repeat" items="{{items}}">
      <div prop="{{outerProp.prop}}">{{item.prop}}</div>
    </template>
  </template>
  <script>Polymer({is:"x-repeat-limit",properties:{preppedItems:{value:function(){for(var r=[],e=0;e<20;e++)r.push({prop:e});return r}},outerProp:{value:function(){return{prop:"outer"}}}}})</script>
</dom-module>

<dom-module id="x-repeat-chunked">
  <template>
    <template id="repeater" is="dom-repeat" items="{{items}}" initial-count="10">
      <x-wait>{{item.prop}}</x-wait>
    </template>
  </template>
  <script>Polymer({is:"x-repeat-chunked",properties:{preppedItems:{value:function(){for(var e=[],r=0;r<100;r++)e.push({prop:r});return e}}}}),Polymer({is:"x-wait",created:function(){var e=performance.now();for(e+=4;performance.now()<e;);}})</script>
</dom-module>

<dom-module id="x-repeat-with-if">
  <template>
    <template is="dom-repeat" items="{{items}}" id="outer">
      <template is="dom-if" if>
        <template is="dom-repeat" items="{{item.items}}" id="inner">
          <template is="dom-if" if>
            <button on-click="handleClick">{{item.prop}}</button>
          </template>
        </template>
      </template>
    </template>
  </template>
  <script>Polymer({is:"x-repeat-with-if",properties:{items:{value:()=>[{items:[{prop:"a"},{prop:"b"}]},{items:[{prop:"c"},{prop:"d"}]}]}},created(){this.handleClick=sinon.spy(e=>e._target=e.target)}})</script>
</dom-module>
