<!doctype html>

<html>
<head>
  <meta charset="utf-8">
  <script src="../../../webcomponentsjs/webcomponents-lite.js"></script>
  <script src="../../../web-component-tester/browser.js"></script>
</head>
<body>

  <dom-bind id="earlyDomBind">
    <template>
      <div id="earlyBoundChild">{{value}}</div>
    </template>
  </dom-bind>

  <script>earlyDomBind.value="hi!"</script>

  <link rel="import" href="../../polymer.html">
  <link rel="import" href="dom-bind-elements1.html">

  <dom-bind id="declarativeDomBind">
    <template>
      <x-basic id="declaredXBasic1" value="{{value}}" notifyingvalue="{{nvalue}}" on-custom="handleEvent" on-tap="handleTap" computed="{{compute(dep)}}"></x-basic>
      <x-basic id="declaredXBasic2" value="{{value}}" notifyingvalue="{{nvalue}}"></x-basic>
      <x-produce-a bind-to-text="{{boundText}}"></x-produce-a>
      <div id="boundTextDiv">{{boundText}}</div>
    </template>
  </dom-bind>

  <div id="container">
  </div>

  <dom-bind id="timingDomBind" config="config">
    <template>
      <x-needs-host id="needsHost"></x-needs-host>
    </template>
  </dom-bind>

  <script></script>

  <div id="nonUpgrade">
    <dom-bind>
      <template>stamped</template>
    </dom-bind>
  </div>

  <script>suite("Polymer.DomBind class",(function(){test("is available",(function(){assert.isDefined(Polymer.DomBind),assert.equal(typeof Polymer.DomBind,"function")}))})),suite("dom-bind touched before upgrade",(function(){test("value binds top-down",(function(){assert.equal(earlyBoundChild.textContent,"hi!")}))})),suite("declarative dom-bind",(function(){var e,t,n;setup((function(){e=declarativeDomBind,t=declaredXBasic1,n=declaredXBasic2})),test("value binds top-down",(function(){e.value="foo",assert.equal(t.value,"foo"),assert.equal(n.value,"foo")})),test("notifyingvalue binds from child to child",(function(){t.notifyingvalue="bar",assert.equal(e.nvalue,"bar"),assert.equal(n.notifyingvalue,"bar")})),test("event listener fires",(function(){e.handleEvent=sinon.spy(),t.fire("custom"),assert.equal(e.handleEvent.callCount,1)})),test("gesture event listener fires",(function(){e.handleTap=sinon.spy(),t.click(),assert.equal(e.handleTap.callCount,1)})),test("inline function runs",(function(){e.compute=function(e){return 10*e},e.dep=5,assert.equal(t.computed,50)})),test("initial value notifies to dom-bind",(function(){assert.equal(e.boundText,"this text is bound"),assert.equal(boundTextDiv.textContent,"this text is bound")}))})),suite("imperative dom-bind",(function(){var e,t,n;setup((function(){e=document.createElement("dom-bind");var i=document.createElement("template");e.appendChild(i);var o=i.content.ownerDocument;(t=o.createElement("x-basic")).setAttribute("id","impEl1"),t.setAttribute("value","{{value}}"),t.setAttribute("notifyingvalue","{{nvalue}}"),t.setAttribute("on-custom","handleEvent"),t.setAttribute("on-tap","handleTap"),t.setAttribute("computed","{{compute(dep)}}"),(n=o.createElement("x-basic")).setAttribute("id","impEl2"),n.setAttribute("value","{{value}}"),n.setAttribute("notifyingvalue","{{nvalue}}"),i.content.appendChild(t),i.content.appendChild(n),document.body.appendChild(e),t=e.$.impEl1,n=e.$.impEl2})),teardown((function(){e.parentElement&&e.parentElement.removeChild(e)})),test("value binds top-down",(function(){e.value="foo",assert.equal(t.value,"foo"),assert.equal(n.value,"foo")})),test("notifyingvalue binds from child to child",(function(){t.notifyingvalue="bar",assert.equal(e.nvalue,"bar"),assert.equal(n.notifyingvalue,"bar")})),test("event listener fires",(function(){e.handleEvent=sinon.spy(),t.fire("custom"),assert.equal(e.handleEvent.callCount,1)})),test("gesture event listener fires",(function(){e.handleTap=sinon.spy(),t.click(),assert.equal(e.handleTap.callCount,1)})),test("inline function runs",(function(){e.compute=function(e){return 10*e},e.dep=5,assert.equal(t.computed,50)})),test("move dom-bind",(function(){container.appendChild(e),assert.equal(container.firstElementChild,t),assert.equal(container.firstElementChild.nextElementSibling,n)})),test("remove dom-bind",(function(){assert(document.body.contains(t)),assert(document.body.contains(n)),e.parentElement.removeChild(e),assert(!document.body.contains(t)),assert(!document.body.contains(n))})),test("dom-bind distributed when inserted in element attached",(function(){var e=document.createElement("x-attach-dom-bind");document.body.appendChild(e),Polymer.flush(),assert.equal(e.$.local.$.slot.assignedNodes()[0].textContent,"hey","dom-bind did not distribute"),document.body.removeChild(e)})),test("dom-bind distributed when inserted dynamically",(function(){var e=document.createElement("x-compose");document.body.appendChild(e);var t=document.createElement("dom-bind"),n=document.createElement("template");t.appendChild(n);var i=document.createElement("span");i.innerHTML="{{hello}}",n.content.appendChild(i),t.hello="hey",e.$.local.appendChild(t),Polymer.flush(),assert.equal(e.$.local.$.slot.assignedNodes()[0].textContent,"hey","dom-bind did not distribute"),document.body.removeChild(e)}))})),suite("timing",(function(){test("late-loaded import should block stamping",(function(){assert.equal(needsHost.config,"config")})),test("non-upgrade case finds template",(function(){assert.equal(nonUpgrade.textContent.trim(),"stamped")}))}))</script>

  <link rel="import" href="dom-bind-elements2.html">
</body>
</html>
