
<script>Polymer({is:"x-basic",properties:{notifyingvalue:{notify:!0}}})</script>

<dom-module id="x-content">
  <template><div id="container"><slot id="slot"></slot></div></template>
  <script>Polymer({is:"x-content"})</script>
</dom-module>

<dom-module id="x-attach-dom-bind">
  <template><x-content id="local"></x-content></template>
  <script>Polymer({is:"x-attach-dom-bind",attached:function(){var e=document.createElement("dom-bind"),t=document.createElement("template");e.appendChild(t);var n=document.createElement("span");n.innerHTML="{{hello}}",t.content.appendChild(n),e.hello="hey",this.$.local.appendChild(e)}})</script>
</dom-module>

<dom-module id="x-compose">
  <template><x-content id="local"></x-content></template>
  <script>Polymer({is:"x-compose"})</script>
</dom-module>

<script>Polymer({is:"x-produce-a",properties:{bindToText:{notify:!0,value:"this text is bound"}}})</script>
