<!doctype html>

<html>
<head>
  <meta charset="utf-8">
  <script src="../../../webcomponentsjs/webcomponents-lite.js"></script>
  <script src="../../../web-component-tester/browser.js"></script>
  <link rel="import" href="../../polymer.html">
  <link rel="import" href="dom-if-elements.html">
</head>
<body>

  <x-nested-if-configured id="configured"></x-nested-if-configured>

  <x-nested-if-individual id="individual"></x-nested-if-individual>

  <dom-bind id="unconfigured">
    <template>
      <x-nested-if id="unconfigured1"></x-nested-if>
      <x-nested-if id="unconfigured2"></x-nested-if>
    </template>
  </dom-bind>

  <div id="inDocumentContainer">
    <dom-if id="inDocumentIf">
      <template>
        <x-foo prop="{{prop}}" item-prop="{{item.prop}}">
        </x-foo>
        <template is="dom-if">
          <x-foo prop="{{prop}}" item-prop="{{item.prop}}">
          </x-foo>
          <template is="dom-if">
            <x-foo prop="{{prop}}" item-prop="{{item.prop}}">
            </x-foo>
          </template>
        </template>
      </template>
    </dom-if>
  </div>

  <div id="structuredContainer">
    <dom-bind id="structuredDomBind">
      <template>
        <template is="dom-if" id="structuredDomIf" if="{{item.show}}">
          <div class="showing"></div>
        </template>
      </template>
    </dom-bind>
  </div>

  <div id="outerContainer">
    <dom-if id="simple">
      <template>
        <x-client></x-client>
        <x-client></x-client>
        <x-client></x-client>
      </template>
    </dom-if>

    <div id="innerContainer">
    </div>
  </div>

  <div id="removalContainer">
    <dom-if if id="toBeRemoved">
      <template><div id="shouldBeRemoved"></div></template>
    </dom-if>
  </div>

  <script></script>

  <div id="nonUpgrade">
    <dom-if if>
      <template>stamped</template>
    </dom-if>
  </div>


  <script>suite("nested pre-configured dom-if",(function(){test("parent scope binding",(function(){let e=configured.shadowRoot.querySelectorAll("*:not(template):not(dom-if):not(span)");assert.equal(e.length,3,"total stamped count incorrect"),assert.equal(e[0].prop,"outer"),assert.equal(e[0].itemProp,"outerItem"),assert.equal(e[1].prop,"outer"),assert.equal(e[1].itemProp,"outerItem"),assert.equal(e[2].prop,"outer"),assert.equal(e[2].itemProp,"outerItem")})),test("parent scope downward notification",(function(){let e=configured.shadowRoot.querySelectorAll("*:not(template):not(dom-if):not(span)");configured.prop="yes",assert.equal(e[0].prop,"yes"),assert.equal(e[1].prop,"yes"),assert.equal(e[2].prop,"yes"),configured.set("item.prop","yay"),assert.equal(e[0].itemProp,"yay"),assert.equal(e[1].itemProp,"yay"),assert.equal(e[2].itemProp,"yay")})),test("parent upward upward notification",(function(){let e=configured.shadowRoot.querySelectorAll("*:not(template):not(dom-if):not(span)");e[2].prop="nice",assert.equal(configured.prop,"nice"),assert.equal(e[0].prop,"nice"),assert.equal(e[1].prop,"nice"),assert.equal(e[2].prop,"nice")})),test("dom-change event composed, bubbles outside dom-if scope",(function(){let e=0,t=configured.$["if-1"];configured.addEventListener("dom-change",(function(){e++})),t.if=!t.if,t.render(),t.if=!t.if,t.render(),assert.equal(e,2)}))})),suite("nested individually-controlled dom-if",(function(){test("nothing stamped",(function(){let e=individual.shadowRoot.querySelectorAll("*:not(template):not(dom-if):not(span)");assert.equal(e.length,0,"total stamped count incorrect")})),test("show 1",(function(){individual.shouldStamp1=!0,individual.render();let e=individual.shadowRoot.querySelectorAll("*:not(template):not(dom-if):not(span)");assert.equal(e.length,1,"total stamped count incorrect"),assert.equal(e[0].prop,"prop1"),assert.equal(getComputedStyle(e[0]).display,"inline","stamped 1 display wrong")})),test("show 2",(function(){individual.shouldStamp2=!0,individual.render();let e=individual.shadowRoot.querySelectorAll("*:not(template):not(dom-if):not(span)");assert.equal(e.length,2,"total stamped count incorrect"),assert.equal(e[0].prop,"prop1"),assert.equal(e[1].prop,"prop2"),assert.equal(getComputedStyle(e[0]).display,"inline","stamped 1 display wrong"),assert.equal(getComputedStyle(e[1]).display,"inline","stamped 2 display wrong")})),test("show 3",(function(){individual.shouldStamp3=!0,individual.render();let e=individual.shadowRoot.querySelectorAll("*:not(template):not(dom-if):not(span)");assert.equal(e.length,3,"total stamped count incorrect"),assert.equal(e[0].prop,"prop1"),assert.equal(e[1].prop,"prop2"),assert.equal(e[2].prop,"prop3"),assert.equal(getComputedStyle(e[0]).display,"inline","stamped 1 display wrong"),assert.equal(getComputedStyle(e[1]).display,"inline","stamped 2 display wrong"),assert.equal(getComputedStyle(e[2]).display,"inline","stamped 3 display wrong")})),test("hide 3",(function(){individual.shouldStamp3=!1,individual.render();let e=individual.shadowRoot.querySelectorAll("*:not(template):not(dom-if):not(span)");assert.equal(e.length,3,"total stamped count incorrect"),assert.equal(getComputedStyle(e[0]).display,"inline","stamped 1 display wrong"),assert.equal(getComputedStyle(e[1]).display,"inline","stamped 2 display wrong"),assert.equal(getComputedStyle(e[2]).display,"none","stamped 3 display wrong")})),test("hide 2",(function(){individual.shouldStamp2=!1,individual.render();let e=individual.shadowRoot.querySelectorAll("*:not(template):not(dom-if):not(span)");assert.equal(e.length,3,"total stamped count incorrect"),assert.equal(getComputedStyle(e[0]).display,"inline","stamped 1 display wrong"),assert.equal(getComputedStyle(e[1]).display,"none","stamped 2 display wrong"),assert.equal(getComputedStyle(e[2]).display,"none","stamped 3 display wrong")})),test("hide 1",(function(){individual.shouldStamp1=!1,individual.render();let e=individual.shadowRoot.querySelectorAll("*:not(template):not(dom-if):not(span)");assert.equal(e.length,3,"total stamped count incorrect"),assert.equal(getComputedStyle(e[0]).display,"none","stamped 1 display wrong"),assert.equal(getComputedStyle(e[1]).display,"none","stamped 2 display wrong"),assert.equal(getComputedStyle(e[2]).display,"none","stamped 3 display wrong")})),test("show 1",(function(){individual.shouldStamp1=!0,individual.render();let e=individual.shadowRoot.querySelectorAll("*:not(template):not(dom-if):not(span)");assert.equal(e.length,3,"total stamped count incorrect"),assert.equal(getComputedStyle(e[0]).display,"inline","stamped 1 display wrong"),assert.equal(getComputedStyle(e[1]).display,"none","stamped 2 display wrong"),assert.equal(getComputedStyle(e[2]).display,"none","stamped 3 display wrong")})),test("show 2",(function(){individual.shouldStamp2=!0,individual.render();let e=individual.shadowRoot.querySelectorAll("*:not(template):not(dom-if):not(span)");assert.equal(e.length,3,"total stamped count incorrect"),assert.equal(getComputedStyle(e[0]).display,"inline","stamped 1 display wrong"),assert.equal(getComputedStyle(e[1]).display,"inline","stamped 2 display wrong"),assert.equal(getComputedStyle(e[2]).display,"none","stamped 3 display wrong")})),test("show 3",(function(){individual.shouldStamp3=!0,individual.render();let e=individual.shadowRoot.querySelectorAll("*:not(template):not(dom-if):not(span)");assert.equal(e.length,3,"total stamped count incorrect"),assert.equal(getComputedStyle(e[0]).display,"inline","stamped 1 display wrong"),assert.equal(getComputedStyle(e[1]).display,"inline","stamped 2 display wrong"),assert.equal(getComputedStyle(e[2]).display,"inline","stamped 3 display wrong")}))})),suite("nested un-configured dom-if in document",(function(){test("if=false: nothing rendered",(function(){let e=inDocumentContainer.querySelectorAll("*:not(template):not(dom-if)");assert.equal(e.length,0,"total stamped count incorrect")})),test("if=true: everything rendered and visible",(function(){inDocumentIf.if=!0,inDocumentIf.render();let e=inDocumentContainer.querySelectorAll("*:not(template):not(dom-if):not(span)");assert.equal(e.length,1,"total stamped count incorrect");let t=inDocumentContainer.querySelector("dom-if");t.if=!0,t.render(),e=inDocumentContainer.querySelectorAll("*:not(template):not(dom-if):not(span)"),assert.equal(e.length,2,"total stamped count incorrect"),t=inDocumentContainer.querySelector("dom-if"),t.if=!0,t.render(),e=inDocumentContainer.querySelectorAll("*:not(template):not(dom-if):not(span)"),assert.equal(e.length,3,"total stamped count incorrect"),e=inDocumentContainer.querySelectorAll("*:not(template):not(dom-if)"),e.forEach((function(e){assert.equal(getComputedStyle(e).display,"inline","node was hidden but should not have been")}))})),test("if=false, restamp=false: everything hidden",(function(){inDocumentIf.if=!1,inDocumentIf.render();let e=inDocumentContainer.querySelectorAll("*:not(template):not(dom-if):not(span)");assert.equal(e.length,3,"total stamped count incorrect"),e=inDocumentContainer.querySelectorAll("*:not(template):not(dom-if)"),e.forEach((function(e){assert.equal(getComputedStyle(e).display,"none","node was not hidden but should have been")}))})),test("if=true, restamp=true, everything rendered and visible",(function(){inDocumentIf.restamp=!0,inDocumentIf.if=!0,inDocumentIf.render();let e=inDocumentContainer.querySelectorAll("*:not(template):not(dom-if):not(span)");assert.equal(e.length,3,"total stamped count incorrect"),e=inDocumentContainer.querySelectorAll("*:not(template):not(dom-if)"),e.forEach((function(e){assert.equal(getComputedStyle(e).display,"inline","node was hidden but should not have been")}))})),test("if=false, restamp=true, everything gone",(function(){inDocumentIf.restamp=!0,inDocumentIf.if=!1,inDocumentIf.render();let e=inDocumentContainer.querySelectorAll("*:not(template):not(dom-if)");assert.equal(e.length,0,"total stamped count incorrect")})),test("if=true: everything rendered and visible",(function(){inDocumentIf.if=!0,inDocumentIf.render();let e=inDocumentContainer.querySelectorAll("*:not(template):not(dom-if):not(span)");assert.equal(e.length,1,"total stamped count incorrect");let t=inDocumentContainer.querySelector("dom-if");t.if=!0,t.render(),e=inDocumentContainer.querySelectorAll("*:not(template):not(dom-if):not(span)"),assert.equal(e.length,2,"total stamped count incorrect"),t=inDocumentContainer.querySelector("dom-if"),t.if=!0,t.render(),e=inDocumentContainer.querySelectorAll("*:not(template):not(dom-if):not(span)"),assert.equal(e.length,3,"total stamped count incorrect"),e=inDocumentContainer.querySelectorAll("*:not(template):not(dom-if)"),e.forEach((function(e){assert.equal(getComputedStyle(e).display,"inline","node was hidden but should not have been")}))})),test("parent scope binding",(function(){let e=inDocumentContainer.querySelectorAll("*:not(template):not(dom-if):not(span)");e[0].prop="outer",assert.equal(e[1].prop,"outer"),assert.equal(e[2].prop,"outer")}))})),suite("nested un-configured dom-if",(function(){test("if=false: nothing rendered",(function(){let e=unconfigured1.shadowRoot.querySelectorAll("*:not(template):not(dom-if)");assert.equal(e.length,0,"total stamped count incorrect")})),test("if=true: everything rendered and visible",(function(){unconfigured1.domUpdateHandlerCount=0,unconfigured1.shouldStamp=!0,unconfigured2.shouldStamp=!0,unconfigured1.render();let e=unconfigured1.shadowRoot.querySelectorAll("*:not(template):not(dom-if):not(span)");assert.equal(e.length,3,"total stamped count incorrect"),e[0].prop="outer",assert.equal(unconfigured1.domUpdateHandlerCount,1)})),test("if=false, restamp=false: everything hidden",(function(){unconfigured1.domUpdateHandlerCount=0,unconfigured1.shouldStamp=!1,unconfigured1.render();let e=unconfigured1.shadowRoot.querySelectorAll("*:not(template):not(dom-if):not(span)");assert.equal(e.length,3,"total stamped count incorrect"),e=unconfigured1.shadowRoot.querySelectorAll("*:not(template):not(dom-if)"),e.forEach((function(e){assert.equal(getComputedStyle(e).display,"none","node was not hidden but should have been")})),assert.equal(unconfigured1.domUpdateHandlerCount,1)})),test("if=true, restamp=true, everything rendered and visible",(function(){unconfigured1.domUpdateHandlerCount=0,unconfigured1.$["if-1"].restamp=!0,unconfigured1.shouldStamp=!0,unconfigured1.$["if-1"].render();let e=unconfigured1.shadowRoot.querySelectorAll("*:not(template):not(dom-if):not(span)");assert.equal(e.length,3,"total stamped count incorrect"),e=unconfigured1.shadowRoot.querySelectorAll("*:not(template):not(dom-if)"),e.forEach((function(e){assert.equal(getComputedStyle(e).display,"inline","node was hidden but should not have been")})),assert.equal(unconfigured1.domUpdateHandlerCount,1)})),test("if=false, restamp=true, everything gone",(function(){unconfigured1.domUpdateHandlerCount=0,unconfigured1.$["if-1"].restamp=!0,unconfigured1.shouldStamp=!1,unconfigured1.$["if-1"].render();let e=unconfigured1.shadowRoot.querySelectorAll("*:not(template):not(dom-if)");assert.equal(unconfigured1.domUpdateHandlerCount,1),assert.equal(e.length,0,"total stamped count incorrect"),assert.equal(unconfigured1.domUpdateHandlerCount,1)})),test("if=true: everything rendered and visible",(function(){unconfigured1.domUpdateHandlerCount=0,unconfigured1.shouldStamp=!0,unconfigured2.shouldStamp=!0,unconfigured1.render(),unconfigured2.render();let e=unconfigured1.shadowRoot.querySelectorAll("*:not(template):not(dom-if):not(span)");assert.equal(e.length,3,"total stamped count incorrect"),e[0].prop="outer",assert.equal(unconfigured1.domUpdateHandlerCount,1)})),test("parent scope binding",(function(){let e=unconfigured1.shadowRoot.querySelectorAll("*:not(template):not(dom-if):not(span)");assert.equal(e[1].prop,"outer"),assert.equal(e[2].prop,"outer")})),test("parent upward upward notification",(function(){let e=unconfigured1.shadowRoot.querySelectorAll("*:not(template):not(dom-if):not(span)");e[2].prop="nice",assert.equal(e[0].prop,"nice"),assert.equal(e[1].prop,"nice")})),test("event handlers",(function(){let e=unconfigured1.shadowRoot.querySelectorAll("*:not(template):not(dom-if):not(span)");e[0].fire("test1"),assert.equal(unconfigured1.testHandler1Count,1),e[1].fire("test2"),assert.equal(unconfigured1.testHandler2Count,1),e[2].fire("test3"),assert.equal(unconfigured1.testHandler3Count,1)}))})),suite("notification between two dom-ifs",(function(){test("change to one scope doesn't affect other dom-if",(function(){let e=unconfigured1.shadowRoot.querySelectorAll("*:not(template):not(dom-if):not(span)"),t=unconfigured2.shadowRoot.querySelectorAll("*:not(template):not(dom-if):not(span)");unconfigured1.prop="foo",unconfigured2.prop="bar",assert.equal(e[0].prop,"foo"),assert.equal(e[1].prop,"foo"),assert.equal(e[2].prop,"foo"),assert.equal(t[0].prop,"bar"),assert.equal(t[1].prop,"bar"),assert.equal(t[2].prop,"bar")}))})),suite("structured data controlling if",(function(){test("item changed with no if field",(function(){let e;e=structuredContainer.querySelector(".showing"),assert.notOk(e),structuredDomBind.item={show:!0},structuredDomIf.render(),e=structuredContainer.querySelector(".showing"),assert.ok(e),assert.equal(getComputedStyle(e).display,"block"),structuredDomBind.item={},structuredDomIf.render(),e=structuredContainer.querySelector(".showing"),assert.ok(e),assert.equal(getComputedStyle(e).display,"none"),structuredDomBind.item={show:!0},structuredDomIf.render(),e=structuredContainer.querySelector(".showing"),assert.ok(e),assert.equal(getComputedStyle(e).display,"block")})),test("item changed with no if field (restamp)",(function(){let e;structuredDomIf.restamp=!0,structuredDomIf.if=!1,structuredDomIf.render(),e=structuredContainer.querySelector(".showing"),assert.notOk(e),structuredDomBind.item={show:!0},structuredDomIf.render(),e=structuredContainer.querySelector(".showing"),assert.ok(e),structuredDomBind.item={},structuredDomIf.render(),e=structuredContainer.querySelector(".showing"),assert.notOk(e),structuredDomBind.item={show:!0},structuredDomIf.render(),e=structuredContainer.querySelector(".showing"),assert.ok(e)}))})),suite("text node handling",(function(){test("text nodes cleared on if=false",(function(){let e=document.createElement("x-textcontent");document.body.appendChild(e),e.$.domIf.render();let t=e.shadowRoot.childNodes;assert.equal(t.length,12),assert.equal(t[7].textContent.trim(),"Stuff"),e.$.domIf.if=!1,e.$.domIf.render(),t=e.shadowRoot.childNodes,assert.equal(t.length,12),assert.equal(t[7].textContent.trim(),""),e.$.domIf.if=!0,e.$.domIf.render(),t=e.shadowRoot.childNodes,assert.equal(t.length,12),assert.equal(t[7].textContent.trim(),"Stuff"),document.body.removeChild(e)})),test("binding to text nodes changed while if=false",(function(){let e=document.createElement("x-textcontent");document.body.appendChild(e),e.$.domIf.render();let t=e.shadowRoot.childNodes;assert.equal(t.length,12),assert.equal(t[7].textContent.trim(),"Stuff"),e.$.domIf.if=!1,e.$.domIf.render(),e.text="Hollaaaaa!",t=e.shadowRoot.childNodes,assert.equal(t.length,12),assert.equal(t[7].textContent.trim(),""),e.$.domIf.if=!0,e.$.domIf.render(),t=e.shadowRoot.childNodes,assert.equal(t.length,12),assert.equal(t[7].textContent.trim(),"Hollaaaaa!"),document.body.removeChild(e)}))})),suite("slot handling",(function(){test("slots added/removed on if=true/false",(function(){let e=document.createElement("x-slot"),t=document.createElement("div");t.slot="one",e.appendChild(t);let o=document.createElement("div");o.slot="two",e.appendChild(o);let n=document.createElement("div");n.slot="three",e.appendChild(n),document.body.appendChild(e),e.$.domIf.render();let a=e.shadowRoot.childNodes;assert.equal(a.length,14),assert.equal(a[4].assignedNodes()[0],t),assert.equal(a[8].assignedNodes()[0],o),assert.equal(a[10].assignedNodes()[0],n),e.$.domIf.if=!1,e.$.domIf.render(),a=e.shadowRoot.childNodes,assert.equal(a.length,14),e.$.domIf.if=!0,e.$.domIf.render(),a=e.shadowRoot.childNodes,assert.equal(a.length,14),assert.equal(a[4].assignedNodes()[0],t),assert.equal(a[8].assignedNodes()[0],o),assert.equal(a[10].assignedNodes()[0],n),e.$.domIf.if=!1,e.$.domIf.render();const r=e.shadowRoot.querySelector("#innerIf");r.if=!1,r.render(),e.$.domIf.if=!0,e.$.domIf.render(),a=e.shadowRoot.childNodes,assert.equal(a[4].assignedNodes()[0],t),assert.equal(a[7].assignedNodes()[0],o),assert.equal(a[9].assignedNodes()[0],n),document.body.removeChild(e)}))})),suite("attach/detach tests",(function(){test("move domif (clients persist)",(function(e){let t=document.querySelector("#simple");t.if=!0,innerContainer.appendChild(t),setTimeout((function(){let o=innerContainer.querySelectorAll("x-client");assert.equal(o[0].uid,0),assert.equal(o[1].uid,1),assert.equal(o[2].uid,2),assert.equal(o[1].previousElementSibling,o[0]),assert.equal(o[2].previousElementSibling,o[1]),assert.equal(t.previousElementSibling,o[2]),e()}))})),test("remove, wait, append domif (clients recreated)",(function(e){let t=document.querySelector("#simple");t.if=!0,innerContainer.removeChild(t),setTimeout((function(){let o=innerContainer.querySelectorAll("x-client");assert.equal(o.length,0),innerContainer.appendChild(t),setTimeout((function(){let o=outerContainer.querySelectorAll("x-client");assert.equal(o[0].uid,3),assert.equal(o[1].uid,4),assert.equal(o[2].uid,5),assert.equal(o[1].previousElementSibling,o[0]),assert.equal(o[2].previousElementSibling,o[1]),assert.equal(t.previousElementSibling,o[2]),e()}))}))})),test("move host with domif (clients persist)",(function(e){let t=document.createElement("x-host");outerContainer.appendChild(t),setTimeout((function(){let o=t.shadowRoot.querySelectorAll("x-client");assert.equal(o[0].uid,6),assert.equal(o[1].uid,7),assert.equal(o[2].uid,8),assert.equal(o[1].previousElementSibling,o[0]),assert.equal(o[2].previousElementSibling,o[1]),assert.equal(t.$.domif.previousElementSibling,o[2]),innerContainer.appendChild(t),setTimeout((function(){let o=t.shadowRoot.querySelectorAll("x-client");assert.equal(o[0].uid,6),assert.equal(o[1].uid,7),assert.equal(o[2].uid,8),assert.equal(o[1].previousElementSibling,o[0]),assert.equal(o[2].previousElementSibling,o[1]),assert.equal(t.$.domif.previousElementSibling,o[2]),e()}))}))})),test("remove, wait, append host with domif (clients persist)",(function(e){let t=document.createElement("x-host");outerContainer.appendChild(t),setTimeout((function(){let o=t.shadowRoot.querySelectorAll("x-client");assert.equal(o[0].uid,9),assert.equal(o[1].uid,10),assert.equal(o[2].uid,11),assert.equal(o[1].previousElementSibling,o[0]),assert.equal(o[2].previousElementSibling,o[1]),assert.equal(t.$.domif.previousElementSibling,o[2]),outerContainer.removeChild(t),setTimeout((function(){assert.equal(o[0].uid,9),assert.equal(o[1].uid,10),assert.equal(o[2].uid,11),assert.equal(o[1].previousElementSibling,o[0]),assert.equal(o[2].previousElementSibling,o[1]),assert.equal(t.$.domif.previousElementSibling,o[2]),innerContainer.appendChild(t),setTimeout((function(){let o=t.shadowRoot.querySelectorAll("x-client");assert.equal(o[0].uid,9),assert.equal(o[1].uid,10),assert.equal(o[2].uid,11),assert.equal(o[1].previousElementSibling,o[0]),assert.equal(o[2].previousElementSibling,o[1]),assert.equal(t.$.domif.previousElementSibling,o[2]),e()}))}))}))})),test("remove, append domif",(function(e){let t=document.querySelector("#simple"),o=t.parentNode;t.if=!0,o.removeChild(t),setTimeout((function(){let n=o.querySelectorAll("x-client");assert.equal(n.length,0),o.appendChild(t),setTimeout((function(){let n=o.querySelectorAll("x-client");assert.equal(n[0].uid,12),assert.equal(n[1].uid,13),assert.equal(n[2].uid,14),assert.equal(n[1].previousElementSibling,n[0]),assert.equal(n[2].previousElementSibling,n[1]),assert.equal(t.previousElementSibling,n[2]),e()}))}))})),test("move into doc fragment",(function(e){let t=shouldBeRemoved;assert.equal(t.parentNode,removalContainer);let o=document.createDocumentFragment();o.appendChild(toBeRemoved),setTimeout((function(){assert.equal(t.parentNode,null),removalContainer.appendChild(o),setTimeout((function(){assert.equal(shouldBeRemoved.parentNode,removalContainer),e()}))}))})),test("move into shadow root",(function(e){if(Polymer.Settings.hasShadow){let t=shouldBeRemoved;assert.equal(t.parentNode,removalContainer);let o=document.createElement("div");document.body.appendChild(o);let n=o.createShadowRoot();n.appendChild(toBeRemoved),setTimeout((function(){assert.equal(t.parentNode,n),e()}))}else e()}))})),suite("timing",(function(){test("non-upgrade case finds template",(function(){assert.equal(nonUpgrade.textContent.trim(),"stamped")}))})),[!0,!1].forEach((function(e){suite("ordering, restamp: "+e,(function(){test("effects in if not run when `if` goes false via property",(function(){let t=document.createElement("x-guard-prop");t.restamp=e,document.body.appendChild(t),t.bool=!0,Polymer.flush(),assert.equal(t.guarded.callCount,1),assert.equal(t.shadowRoot.textContent.trim(),"true"),t.bool=!1,Polymer.flush(),assert.equal(t.guarded.callCount,1),assert.equal(t.shadowRoot.textContent.trim(),""),document.body.removeChild(t)})),test("effects in if not run when `if` goes false via inline function",(function(){let t=document.createElement("x-guard-inline");t.restamp=e,document.body.appendChild(t),t.bool=!0,Polymer.flush(),assert.equal(t.guarded.callCount,1),assert.equal(t.shadowRoot.textContent.trim(),"true"),t.bool=!1,Polymer.flush(),assert.equal(t.guarded.callCount,1),assert.equal(t.shadowRoot.textContent.trim(),""),document.body.removeChild(t)})),test("effects in if not run when `if` goes false via computed property",(function(){let t=document.createElement("x-guard-computed");t.restamp=e,document.body.appendChild(t),t.bool=!0,Polymer.flush(),assert.equal(t.guarded.callCount,1),assert.equal(t.shadowRoot.textContent.trim(),"true"),t.bool=!1,Polymer.flush(),assert.equal(t.guarded.callCount,1),assert.equal(t.shadowRoot.textContent.trim(),""),document.body.removeChild(t)})),test("effects in if not run when `if` goes false via object sub-property",(function(){let t=document.createElement("x-guard-object");t.restamp=e,document.body.appendChild(t),t.obj={bool:!0},Polymer.flush(),assert.equal(t.guarded.callCount,1),assert.equal(t.shadowRoot.textContent.trim(),"true"),t.obj={bool:!1},Polymer.flush(),assert.equal(t.guarded.callCount,1),assert.equal(t.shadowRoot.textContent.trim(),""),document.body.removeChild(t)})),test("effects in if not run when `if` goes false via computed from object sub-property",(function(){let t=document.createElement("x-guard-object-computed");t.restamp=e,document.body.appendChild(t),t.obj={bool:!0},Polymer.flush(),assert.equal(t.guarded.callCount,1),assert.equal(t.shadowRoot.textContent.trim(),"true"),t.obj={bool:!1},Polymer.flush(),assert.equal(t.guarded.callCount,1),assert.equal(t.shadowRoot.textContent.trim(),""),document.body.removeChild(t)})),test("effects in if not run when `if` goes false via setProperties batch",(function(){let t=document.createElement("x-guard-separate-props");t.restamp=e,document.body.appendChild(t),t.setProperties({a:"ok",b:!0}),Polymer.flush(),assert.equal(t.guarded.callCount,1),assert.equal(t.shadowRoot.textContent.trim(),"ok"),t.setProperties({a:"notok",b:!1}),Polymer.flush(),assert.equal(t.guarded.callCount,1),assert.equal(t.shadowRoot.textContent.trim(),""),document.body.removeChild(t)})),test("host properties in sync when changed while false",(function(){let t=document.createElement("x-guard-separate-props");t.restamp=e,document.body.appendChild(t),t.a="ok",t.b=!0,Polymer.flush(),assert.equal(t.shadowRoot.textContent.trim(),"ok"),t.b=!1,t.a="notok",Polymer.flush(),assert.equal(t.shadowRoot.textContent.trim(),""),t.a="changed",t.b=!0,Polymer.flush(),assert.equal(t.shadowRoot.textContent.trim(),"changed"),document.body.removeChild(t)})),test("host paths in sync when changed while false",(function(){let t=document.createElement("x-guard-separate-paths");t.restamp=e,document.body.appendChild(t),t.obj={a:"ok",b:!0},Polymer.flush(),assert.equal(t.shadowRoot.textContent.trim(),"ok"),t.set("obj.b",!1),t.set("obj.a","notok"),Polymer.flush(),assert.equal(t.shadowRoot.textContent.trim(),""),t.set("obj.a","changed"),t.set("obj.b",!0),Polymer.flush(),assert.equal(t.shadowRoot.textContent.trim(),"changed"),document.body.removeChild(t)}))}))}))</script>

</body>
</html>
