

<link rel="import" href="../../polymer.html">

<script>var EventLoggerImpl={created:function(){this._handled={},this._removed=[]},handle:function(e){(e._handleOrder=e._handleOrder||[]).push(this.localName),this._handled[e.currentTarget.localName]=e.type},unlisten:function(e,t,n){this._removed.push({target:e.localName,event:t}),Polymer.Base.unlisten.call(this,e,t,n)}}</script>

<dom-module id="x-listeners">
  <script>Polymer({is:"x-listeners",behaviors:[EventLoggerImpl],listeners:{foo:"handle",bar:"missing"}})</script>
</dom-module>

<dom-module id="x-on">
  <template>
    <div id="inner" on-foo="handle" on-bar="missing"></div>
  </template>
  <script>Polymer({is:"x-on",behaviors:[EventLoggerImpl]})</script>
</dom-module>

<dom-module id="x-order">
    <template>
      <x-listeners id="inner" on-foo="handle"></x-listeners>
    </template>
    <script>Polymer({is:"x-order",behaviors:[EventLoggerImpl]})</script>
  </dom-module>

<dom-module id="x-dynamic">
  <template>
    <div id="inner"></div>
  </template>
  <script>Polymer({is:"x-dynamic",behaviors:[EventLoggerImpl],setup:function(){this.listen(this,"foo","handle"),this.listen(this.$.inner,"foo","handle"),this.listen(this,"bar","missing"),this.listen(this.$.inner,"bar","missing")},teardown:function(){this.unlisten(this,"foo","handle"),this.unlisten(this.$.inner,"foo","handle"),this.unlisten(this,"bar","missing"),this.unlisten(this.$.inner,"bar","missing")}})</script>
</dom-module>

<dom-module id="x-double">
  <script>Polymer({is:"x-double",behaviors:[EventLoggerImpl],ready:function(){this.fooChanged=sinon.spy()},setup:function(){this.listen(this,"foo","fooChanged"),this.listen(this,"foo","fooChanged")},teardown:function(){this.unlisten(this,"foo","fooChanged")}})</script>
</dom-module>
