<!doctype html>

<html>
<head>
  <meta charset="utf-8">
  <script src="../../../web-component-tester/browser.js"></script>
  <script src="../../../webcomponentsjs/webcomponents-lite.js"></script>
  <script>window.origOwnProps=Object.getOwnPropertyNames(window).reduce((function(e,n){return e[n]=e}),{})</script>
  <link rel="import" href="../../polymer.html">
<body>


<dom-module id="shared-styles">
  <template strip-whitespace>
    <style>:host{--foo:var(--bar)}</style>
  </template>
</dom-module>
<dom-module id="global-test">
  <template strip-whitespace>
    <style include="shared-styles">:host{--foo:var(--bar)}</style>
    <div class$="{{stuff.is.here}}">{{bindings(are, cool)}}</div>
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"global-test",properties:{foo:{notify:!0,reflectToAttribute:!0,observer:"observeFoo",value:"foo"}},observers:["observeFooDeep(foo.*)"],hostAttributes:{tabIndex:0},listeners:{tap:"handleTap"},observeFooDeep(){},observeFoo(){}})}))</script>
</dom-module>

<global-test></global-test>

<script>suite("globals",(function(){var e={origOwnProps:!0,a11ySuite:!0,assert:!0,expect:!0,run:!0,fixture:!0,replace:!0,stub:!0,Polymer:!0,currentImport:!0,JSCompiler_renameProperty:!0,alert:!0,confirm:!0,prompt:!0,XULElement:!0};test("check global leakage",(function(){if(!window._classCallCheck){var r=Object.getOwnPropertyNames(window).filter((function(r){return!origOwnProps[r]&&!e[r]}));assert.equal(r.length,0,"new globals added: \n"+r.sort().join("\n"))}}))}))</script>

</body>
</head></html>
