<!doctype html>

<html>
<head>
  <meta charset="utf-8">
  <script src="../../../webcomponentsjs/webcomponents-lite.js"></script>
  <script src="../../../web-component-tester/browser.js"></script>
  <link rel="import" href="../../polymer.html">
</head>
<body>
  <script>suite("html function",(function(){test("html makes an HTML template",(function(){let t=Polymer.html``;assert.instanceOf(t,HTMLTemplateElement)})),test("template output has elements",(function(){let t=Polymer.html`<div><span></span></div><!-- hi -->`;assert(t.content.querySelector("div")),assert(t.content.querySelector("span")),assert.instanceOf(t.content.lastChild,Comment)})),test("escaping works as expected",(function(){let t=Polymer.html`<span>the \`price\` is \${{foo}}\n</span>`;assert.equal(t.innerHTML,"<span>the `price` is ${{foo}}\n</span>")})),test("interpolation of non-templates throw",(function(){assert.throws(()=>Polymer.html`<div>${"a"}</div>`)})),test("interpolation of templates include the template contents",(function(){let t=Polymer.html`<div></div>`,e=Polymer.html`<span>${t}</span>`;assert.equal(e.innerHTML,"<span><div></div></span>")})),test("interpolation of literal values",(function(){let t=Polymer.htmlLiteral`hello`;assert.equal(t.value,"hello");let e=Polymer.htmlLiteral`hello${Polymer.htmlLiteral` ${Polymer.htmlLiteral`world`}!`}!`;assert.equal(e.value,"hello world!!")})),test("interpolation of literal values within html values",(function(){let t=Polymer.htmlLiteral`foo`,e=Polymer.htmlLiteral`display: block;`,l=Polymer.html`<style>:host {${e}}</style><div ${t}></div>`;assert.equal(l.innerHTML,'<style>:host {display: block;}</style><div foo=""></div>')}))})),suite("Polymer + html fn",(function(){suiteSetup((function(){class t extends Polymer.Element{static get is(){return"html-fn"}static get template(){return Polymer.html`
            <style>
              :host {
                display: block;
              }
            </style>
            <div id="child">
              [[databoundProperty]]
            </div>
            `}static get properties(){return{databoundProperty:String}}ready(){super.ready(),this.databoundProperty="first"}}customElements.define(t.is,t);class e extends t{static get is(){return"html-fn-sub"}static get template(){return Polymer.html`
            <div id="super">
              ${super.template}
            </div>
            `}ready(){super.ready(),this.databoundProperty="second"}}customElements.define(e.is,e),Polymer({is:"html-legacy",_template:Polymer.html`
            <div id="child">[[databoundProperty]]</div>
          `,properties:{databoundProperty:{type:String,value:"legacy"}}})})),test("Polymer elements can use html fn",(function(){let t=document.createElement("html-fn");document.body.appendChild(t),assert(t.shadowRoot),assert.equal(t.$.child.textContent.trim(),"first")})),test("subclass elements can embed the superclass template",(function(){let t=document.createElement("html-fn-sub");document.body.appendChild(t),assert(t.$.super),assert(t.$.child),assert.equal(t.$.child.textContent.trim(),"second")})),test("legacy element works with html fn",(function(){let t=document.createElement("html-legacy");document.body.appendChild(t),assert(t.shadowRoot),assert.equal(t.$.child.textContent.trim(),"legacy")}))}))</script>
</body>
</html>
