<!doctype html>

<html>
<head>
  <meta charset="utf-8">
  <script src="../../../webcomponentsjs/webcomponents-lite.js"></script>
  <script src="../../../web-component-tester/browser.js"></script>
  <link rel="import" href="../../polymer.html">
<body>

  <dom-module id="base-el">
    <template>
      <style>:host{display:block;color:red}code{color:#000}</style>
      
      <i i="[[i]]"></i>
      <i i="[[i]]"></i>
      <i i="[[i]]"></i>
      <i i="[[i]]"></i>
      <i i="[[i]]"></i>
      <input id="input" value="{{foo::input}}" on-custom="handleCustomEvent">
      <span>base element: <code>foo = [[foo]]</code></span>
    </template>

    <script>HTMLImports.whenReady((function(){class e extends Polymer.Element{static get is(){return"base-el"}static get properties(){return{foo:{type:String,value:5}}}constructor(){super(),this.handleCustomEvent=sinon.spy()}}customElements.define(e.is,e),window.BaseEl=e}))</script>
  </dom-module>

  <dom-module id="child-el">
    <script>HTMLImports.whenReady((function(){class e extends window.BaseEl{static get is(){return"child-el"}static get properties(){return{bar:{type:String,value:3}}}}customElements.define(e.is,e),window.ChildEl=e}))</script>
  </dom-module>

  <dom-module id="grand-child-el">
    <script>HTMLImports.whenReady((function(){class e extends window.ChildEl{static get is(){return"grand-child-el"}static get properties(){return{bar:{type:String,value:3}}}}customElements.define(e.is,e),window.GrandChildEl=e}))</script>
  </dom-module>

  <dom-module id="child-el-with-template">
    <template>should ignore this template</template>
    <script>HTMLImports.whenReady((function(){class e extends window.GrandChildEl{static get properties(){return{bar:{type:String,value:3}}}static get template(){var e=window.GrandChildEl.template.cloneNode(!0),t=document.createElement("div");return t.textContent="child",e.content.appendChild(t),e.content.appendChild(e.content.querySelector("#input")),Array.from(e.content.querySelectorAll("i")).forEach(e=>e.parentNode.removeChild(e)),e}}customElements.define("child-el-with-template",e),window.ChildElWithTemplate=e}))</script>
  </dom-module>

  <dom-module id="parent-element-template-overriding">
    <script>HTMLImports.whenReady((function(){class e extends Polymer.Element{static get template(){return Polymer.html`This template should not exist`}}customElements.define("child-with-no-template",class extends e{static get template(){return null}})}))</script>
  </dom-module>

  <test-fixture id="basic">
    <template>
      <base-el></base-el>
      <child-el></child-el>
    </template>
  </test-fixture>

  <test-fixture id="basic-with-attributes">
    <template>
      <base-el></base-el>
      <child-el foo="7" bar="7"></child-el>
    </template>
  </test-fixture>

  <test-fixture id="with-template">
    <template>
      <base-el></base-el>
      <child-el-with-template></child-el-with-template>
    </template>
  </test-fixture>

  <script>suite("ChildElement extends BaseElement",(function(){test("child has base properties",(function(){var e=fixture("basic")[1];assert.equal(e.foo,5),assert.equal(e.bar,3)})),test("child can change base properties",(function(){var e=fixture("basic-with-attributes")[1];assert.equal(e.foo,7),assert.equal(e.bar,7)})),test("child has base template and style",(function(){var e=fixture("basic"),t=e[0],a=e[1];assert.equal(a.shadowRoot.childNodes.length,a.shadowRoot.childNodes.length);for(var o=0;o<a.shadowRoot.childNodes.length;o++){var s=a.shadowRoot.childNodes[o],n=a.shadowRoot.childNodes[o];assert.equal(s.innerHTML,n.innerHTML)}var l=a.shadowRoot.querySelector("code");assert.equal(l.innerHTML,"foo = 5"),assert.equal(getComputedStyle(t).color,getComputedStyle(a).color),assert.equal(a.$.input.localName,"input"),assert.equal(a.$.input.id,"input"),a.$.input.value="changed",a.$.input.dispatchEvent(new CustomEvent("input")),assert.equal(a.foo,"changed"),assert.equal(a.handleCustomEvent.callCount,0),a.$.input.dispatchEvent(new CustomEvent("custom")),assert.equal(a.handleCustomEvent.callCount,1)})),test("child with properties has updated base template",(function(){var e=fixture("basic-with-attributes"),t=e[0],a=e[1];assert.notEqual(a.shadowRoot.innerHTML,t.shadowRoot.innerHTML);var o=a.shadowRoot.querySelector("code");assert.equal(o.innerHTML,"foo = 7")}))})),suite("ChildElement extends BaseElement and the template",(function(){test("child has base properties",(function(){var e=fixture("with-template")[1];assert.equal(e.foo,5),assert.equal(e.bar,3)})),test("child has derived template and style",(function(){var e=fixture("with-template"),t=e[0],a=e[1];assert.notEqual(a.shadowRoot.innerHTML,t.shadowRoot.innerHTML),assert.equal(a.shadowRoot.querySelector("code").innerHTML,"foo = 5"),assert.equal(a.shadowRoot.querySelector("div").innerHTML,"child"),assert.equal(getComputedStyle(t).color,getComputedStyle(a).color),assert.equal(a.$.input.localName,"input"),assert.equal(a.$.input.id,"input"),a.$.input.value="changed",a.$.input.dispatchEvent(new CustomEvent("input")),assert.equal(a.foo,"changed"),assert.equal(a.handleCustomEvent.callCount,0),a.$.input.dispatchEvent(new CustomEvent("custom")),assert.equal(a.handleCustomEvent.callCount,1)}))})),suite("child overriding a template",(function(){let e;setup((function(){e=document.createElement("child-with-no-template"),document.body.appendChild(e)})),teardown((function(){document.body.removeChild(e)})),test("returning null nullifies the parent template",(function(){assert.equal(e.shadowRoot,null)}))}))</script>
</body>
</head></html>
