

<link rel="import" href="../../lib/mixins/properties-mixin.html">

<script>class XPropertiesElement extends(Polymer.PropertiesMixin(HTMLElement)){static get properties(){return{obj:Object}}constructor(){super(),this.resetObservers()}_shouldPropertyChange(e,r,t){return"object"==typeof r||super._shouldPropertyChange(e,r,t)}resetObservers(){this._propertiesChanged=sinon.spy()}}customElements.define("x-pe",XPropertiesElement)</script>

<script>Polymer({is:"x-basic",properties:{notifyingValue:{type:Number,notify:!0},computed:{computed:"compute(notifyingValue)"}},compute:function(e){return"["+e+"]"}})</script>

<dom-module id="x-compose">
  <template>
    <x-basic id="basic1" notifying-value="{{obj.value}}" attrvalue$="{{obj.value}}" othervalue="{{obj.value2}}"></x-basic>
    <x-basic id="basic2" notifying-value="{{obj.value}}" attrvalue$="{{obj.value}}"></x-basic>
  </template>
  <script>Polymer({is:"x-compose",properties:{obj:{type:Object,notify:!0},computed:{computed:"compute(obj.value)"}},observers:["objSubpathChanged(obj.*)","objValueChanged(obj.value)"],created:function(){this.resetObservers()},resetObservers:function(){this.objSubpathChanged=sinon.spy(),this.objValueChanged=sinon.spy()},compute:function(e){return"["+e+"]"}})</script>
</dom-module>

<dom-module id="x-forward">
  <template>
    <x-compose id="compose" obj="{{obj}}"></x-compose>
  </template>
  <script>Polymer({is:"x-forward",properties:{obj:{type:Object,notify:!0},computed:{computed:"compute(obj.value)"}},observers:["objSubpathChanged(obj.*)","objValueChanged(obj.value)"],created:function(){this.resetObservers()},resetObservers:function(){this.objSubpathChanged=sinon.spy(),this.objValueChanged=sinon.spy(),this.$&&this.$.compose.resetObservers()},compute:function(e){return"["+e+"]"}})</script>
</dom-module>

<dom-module id="x-stuff">
  <template>
    <x-basic id="basic" notifying-value="{{nested.obj.value}}" attrvalue$="{{nested.obj.value}}"></x-basic>
    <x-compose id="compose" obj="{{nested.obj}}"></x-compose>
    <x-forward id="forward" obj="{{nested.obj}}"></x-forward>
    <div id="boundChild" computed-from-paths="{{computeFromPaths(a, nested.b, nested.obj.c)}}" array-length="{{data.length}}"></div>
    <x-pe id="pe" obj="[[nested.obj]]"></x-pe>
  </template>
  <script>Polymer({is:"x-stuff",properties:{nested:{observer:"nestedChanged"},computedFromPaths:{computed:"computeFromPaths(a, nested.b, nested.obj.c)"},computedFromLinkedPaths:{computed:"computeFromLinkedPaths(a, linked1.prop, linked2.prop)"},computed:{computed:"compute(nested.obj.value)"}},observers:["nestedSubpathChanged(nested.*)","nestedObjChanged(nested.obj)","nestedObjSubpathChanged(nested.obj.*)","nestedObjValueChanged(nested.obj.value)","multipleChanged(a, b, nested.obj.*)","multiplePathsChanged(a, nested.b, nested.obj.c)","arrayChanged(array.splices)","arrayChangedDeep(array.*)","arrayNoCollChanged(arrayNoColl.splices)","arrayOrPropChanged(prop, array.splices)","aChanged(a.*)","xChanged(x.*)","yChanged(y.*)"],created:function(){this.resetObservers()},resetObservers:function(){this.nestedChanged=sinon.spy(),this.nestedSubpathChanged=sinon.spy(),this.nestedObjChanged=sinon.spy(),this.nestedObjSubpathChanged=sinon.spy(),this.nestedObjValueChanged=sinon.spy(),this.multipleChanged=sinon.spy(),this.multiplePathsChanged=sinon.spy(),this.arrayChanged=sinon.spy((function(e){this.arraySplices=e})),this.arrayChangedDeep=sinon.spy(),this.arrayNoCollChanged=sinon.spy(),this.arrayOrPropChanged=sinon.spy(),this.aChanged=sinon.spy(),this.xChanged=sinon.spy(),this.yChanged=sinon.spy(),this.$&&(this.$.compose.resetObservers(),this.$.forward.resetObservers(),this.$.pe.resetObservers())},computeFromPaths:function(e,s,n){return e+s+n},computeFromLinkedPaths:sinon.spy((function(e,s,n){return e+s+n})),compute:function(e){return"["+e+"]"}})</script>
</dom-module>


<script>Polymer({is:"x-reentry-client",properties:{prop:{notify:!0}},observers:["objChanged(obj.*)"],created:function(){this.objChanged=sinon.spy(this.objChanged)},objChanged:function(o){"obj"!==o.path&&this.prop++}})</script>

<dom-module id="x-reentry-host">
  <template>
    <x-reentry-client obj="{{obj}}" prop="{{prop}}"></x-reentry-client>
  </template>
  <script>Polymer({is:"x-reentry-host",properties:{obj:{value:function(){return{prop:0}}},prop:{value:0}},observers:["objChanged(obj.*)"],created:function(){this.objChanged=sinon.spy()}})</script>
</dom-module>

<script>Polymer({is:"x-path-client",observers:["objChanged(obj.*)"],objChanged:function(){}})</script>

<dom-module id="x-path-host">
  <template>
    <x-path-client id="client" obj="{{obj}}"></x-path-client>
  </template>
  <script>Polymer({is:"x-path-host",properties:{obj:{value:function(){return{prop:0}}},prop:{value:0}},observers:["objChanged(obj.*)"],created:function(){this.objChanged=sinon.spy()}})</script>
</dom-module>
