
<link rel="import" href="../../polymer-element.html">
<link rel="import" href="../../../shadycss/apply-shim.html">
<link rel="import" href="../../lib/elements/custom-style.html">

<dom-module id="apply-element">
  <template>
    <style>:host{display:block;@apply --mixin;}</style>
  </template>
  <script>class ApplyElement extends Polymer.Element{static get is(){return"apply-element"}}customElements.define("apply-element",ApplyElement)</script>
</dom-module>

<dom-module id="x-outer">
  <template>
    <style>:host{display:block;@apply --mixin;background-color:#7b7b7b}:host>*{--mixin:{position:absolute;margin:50px;height:100px;width:100px;background-color:red};}</style>
    <apply-element></apply-element>
  </template>
  <script>class XOuter extends Polymer.Element{static get is(){return"x-outer"}}customElements.define("x-outer",XOuter)</script>
</dom-module>