<!doctype html>

<html>
<head>
  <meta charset="utf-8">
  <script src="../../../webcomponentsjs/webcomponents-lite.js"></script>
  <script src="../../../web-component-tester/browser.js"></script>
  <link rel="import" href="../../polymer-element.html">
<body>

  <dom-module id="my-element">
    <template>
      <div id="content">{{prop}}</div>
    </template>
    <script>HTMLImports.whenReady((function(){class e extends Polymer.Element{static get is(){return"my-element"}static get properties(){return{prop:{value:"base",observer:"_propObserver"},computedPropDep:{value:!0},computedProp:{computed:"_compute(computedPropDep)"},accessor:String,noStomp:String}}static get observers(){return["_methodObserver(prop)"]}constructor(){super(),this._propObserver=sinon.spy(),this._methodObserver=sinon.spy(),this._tapListener=sinon.spy(),this._calledConstructor++}get noStomp(){return"noStomp"}connectedCallback(){super.connectedCallback(),this._calledConnectedCallback++}attributeChangedCallback(){super.attributeChangedCallback.apply(this,arguments),this._callAttributeChangedCallback++}ready(){super.ready(),this._ensureAttribute("tabIndex",0),this.addEventListener("click",e=>this._tapListener(e)),this._calledReady++}_compute(e){return e}}e.prototype._calledConstructor=0,e.prototype._calledConnectedCallback=0,e.prototype._calledReady=0,e.prototype._callAttributeChangedCallback=0,customElements.define(e.is,e),window.MyElement=e}))</script>
  </dom-module>


  <dom-module id="sub-element">
    <script>HTMLImports.whenReady((function(){class e extends window.MyElement{static get is(){return"sub-element"}static get properties(){return{prop:{value:"sub"},prop2:{value:"prop2",observer:"_prop2Observer"},computedPropDep:{computed:"_compute(prop2)"}}}static get observers(){return["_subMethodObserver(prop, prop2)"]}constructor(){super(),this._calledConstructor++,this._prop2Observer=sinon.spy(),this._subMethodObserver=sinon.spy()}connectedCallback(){super.connectedCallback(),this._calledConnectedCallback++}ready(){super.ready(),this._calledReady++,this._ensureAttribute("role","button"),this.addEventListener("click",e=>this._tapListener(e))}}customElements.define(e.is,e),window.SubElement=e}))</script>
  </dom-module>

  <dom-module id="sub-mixin-element">
    <script>HTMLImports.whenReady((function(){class e extends(function(e){return class extends e{static get properties(){return{prop:{value:"mixin"},mixin:{value:"mixin",observer:"_mixinObserver"}}}static get observers(){return["_mixinMethodObserver(mixin, prop, prop2)"]}constructor(){super(),this._calledConstructor++,this._mixinObserver=sinon.spy(),this._mixinMethodObserver=sinon.spy()}connectedCallback(){super.connectedCallback(),this._calledConnectedCallback++}ready(){super.ready(),this._calledReady++,this._ensureAttribute("mixinattr","mixinattr"),this.addEventListener("click",e=>this._tapListener(e))}}}(window.SubElement)){static get is(){return"sub-mixin-element"}static get properties(){return{prop3:{value:"prop3",observer:"_prop3Observer"}}}static get observers(){return["_subMixinMethodObserver(mixin, prop, prop2, prop3)"]}constructor(){super(),this._calledConstructor++,this._prop3Observer=sinon.spy(),this._subMixinMethodObserver=sinon.spy()}connectedCallback(){super.connectedCallback(),this._calledConnectedCallback++}ready(){super.ready(),this._calledReady++,this._ensureAttribute("submixinattr","submixinattr"),this.addEventListener("click",e=>this._tapListener(e))}}customElements.define(e.is,e),window.SubMixinElement=e}))</script>
  </dom-module>

  <script>HTMLImports.whenReady((function(){class e extends window.MyElement{static get template(){return'\n          <h1>Sub template</h1>\n          <div id="subContent">{{prop2}}</div>'}static get properties(){return{prop2:{value:"prop2"}}}}customElements.define("sub-new-template",e)}))</script>

  <template id="no-dom-module">
    <style>:host{display:block;border:10px solid #7b7b7b}</style>
    <div id="child">Content</div>
  </template>
  <script>HTMLImports.whenReady((function(){class e extends Polymer.Element{static get is(){return"no-dom-module"}static get template(){return document.body.querySelector("template#no-dom-module")}}customElements.define("no-dom-module",e)}))</script>

  <dom-module id="sub-extended-template">
    <script>HTMLImports.whenReady((function(){class t extends window.MyElement{static get is(){return"element-with-bind-listeners"}}class e extends t{static get is(){return"sub-extended-template"}static get template(){if(!this.hasOwnProperty("_template")){const t=Object.getPrototypeOf(this.prototype).constructor;this._template=t.template.cloneNode(!0);const e=document.createElement("div");e.innerHTML='<div id="subContent" imaginary-prop$="{{prop}}""></div>',this._template.content.appendChild(e.firstChild)}return this._template}}customElements.define(t.is,t),customElements.define(e.is,e)}))</script>
  </dom-module>

  <test-fixture id="my-element-attr">
    <template>
      <my-element prop="attr" foo="foo"></my-element>
    </template>
  </test-fixture>

  <test-fixture id="sub-element-attr">
    <template>
      <sub-element prop="attr" prop2="attr"></sub-element>
    </template>
  </test-fixture>

  <test-fixture id="sub-mixin-element-attr">
    <template>
      <sub-mixin-element prop="attr" prop2="attr" prop3="attr"></sub-mixin-element>
    </template>
  </test-fixture>

  <script>suite("class extends Polymer.Element",(function(){var e;setup((function(){e=document.createElement("my-element"),document.body.appendChild(e)})),teardown((function(){document.body.removeChild(e)})),test("instanceof",(function(){assert.instanceOf(e,HTMLElement),assert.instanceOf(e,Polymer.Element),assert.instanceOf(e,window.MyElement)})),test("lifecycle",(function(){assert.equal(e._calledConstructor,1),assert.equal(e._calledConnectedCallback,1),assert.equal(e._calledReady,1),assert.equal(e._callAttributeChangedCallback,0)})),test("template",(function(){assert.equal(e.prop,"base"),assert.equal(e.$.content.textContent,e.prop)})),test("observers",(function(){assert.isTrue(e._propObserver.calledOnce),assert.isTrue(e._propObserver.calledWith("base")),assert.isTrue(e._methodObserver.calledOnce),assert.isTrue(e._methodObserver.calledWith("base"))})),test("listeners",(function(){e.dispatchEvent(new CustomEvent("click")),assert.equal(e._tapListener.callCount,1)})),test("properties",(function(){assert.equal(e.prop,"base"),assert.equal(e.computedPropDep,!0),assert.equal(e.computedProp,!0)})),test("attributes",(function(){const e=fixture("my-element-attr");assert.equal(e.prop,"attr"),assert.equal(e._callAttributeChangedCallback,1),assert.isTrue(e.hasAttribute("tabindex"))})),test("reflecting attributes",(function(){const e=fixture("my-element-attr");e.prop="propValue",e._propertyToAttribute("prop"),assert.equal(e.getAttribute("prop"),"propValue")}))})),suite("subclass",(function(){let e;setup((function(){e=document.createElement("sub-element"),document.body.appendChild(e)})),teardown((function(){document.body.removeChild(e)})),test("instanceof",(function(){assert.instanceOf(e,HTMLElement),assert.instanceOf(e,Polymer.Element),assert.instanceOf(e,window.MyElement),assert.instanceOf(e,window.SubElement)})),test("lifecycle",(function(){assert.equal(e._calledConstructor,2),assert.equal(e._calledConnectedCallback,2),assert.equal(e._calledReady,2),assert.equal(e._callAttributeChangedCallback,0)})),test("template",(function(){assert.equal(e.prop,"sub"),assert.equal(e.$.content.textContent,e.prop)})),test("observers",(function(){assert.isTrue(e._propObserver.calledOnce),assert.isTrue(e._propObserver.calledWith("sub")),assert.isTrue(e._methodObserver.calledOnce),assert.isTrue(e._methodObserver.calledWith("sub")),assert.isTrue(e._prop2Observer.calledOnce),assert.isTrue(e._prop2Observer.calledWith("prop2")),assert.isTrue(e._subMethodObserver.calledOnce),assert.isTrue(e._subMethodObserver.calledWith("sub","prop2"))})),test("listeners",(function(){e.dispatchEvent(new CustomEvent("click")),assert.equal(e._tapListener.callCount,2)})),test("properties",(function(){assert.equal(e.prop,"sub"),assert.equal(e.prop2,"prop2"),assert.equal(e.computedPropDep,"prop2"),assert.equal(e.computedProp,"prop2","computedProp dependency cannot itself be a computed property")})),test("attributes",(function(){const e=fixture("sub-element-attr");assert.equal(e.prop,"attr"),assert.equal(e.prop2,"attr"),assert.equal(e._callAttributeChangedCallback,2),assert.isTrue(e.hasAttribute("tabindex")),assert.equal(e.getAttribute("role"),"button")}))})),suite("mixin",(function(){let e;setup((function(){e=document.createElement("sub-mixin-element"),document.body.appendChild(e)})),teardown((function(){document.body.removeChild(e)})),test("instanceof",(function(){assert.instanceOf(e,HTMLElement),assert.instanceOf(e,Polymer.Element),assert.instanceOf(e,window.MyElement),assert.instanceOf(e,window.SubElement),assert.instanceOf(e,window.SubMixinElement)})),test("lifecycle",(function(){assert.equal(e._calledConstructor,4),assert.equal(e._calledConnectedCallback,4),assert.equal(e._calledReady,4),assert.equal(e._callAttributeChangedCallback,0)})),test("template",(function(){assert.equal(e.prop,"mixin"),assert.equal(e.$.content.textContent,e.prop)})),test("observers",(function(){assert.isTrue(e._propObserver.calledOnce),assert.isTrue(e._propObserver.calledWith("mixin")),assert.isTrue(e._methodObserver.calledOnce),assert.isTrue(e._methodObserver.calledWith("mixin")),assert.isTrue(e._prop2Observer.calledOnce),assert.isTrue(e._prop2Observer.calledWith("prop2")),assert.isTrue(e._subMethodObserver.calledOnce),assert.isTrue(e._subMethodObserver.calledWith("mixin","prop2")),assert.isTrue(e._mixinObserver.calledOnce),assert.isTrue(e._mixinObserver.calledWith("mixin")),assert.isTrue(e._mixinMethodObserver.calledOnce),assert.isTrue(e._mixinMethodObserver.calledWith("mixin","mixin","prop2")),assert.isTrue(e._prop3Observer.calledOnce),assert.isTrue(e._prop3Observer.calledWith("prop3")),assert.isTrue(e._subMixinMethodObserver.calledOnce),assert.isTrue(e._subMixinMethodObserver.calledWith("mixin","mixin","prop2","prop3"))})),test("listeners",(function(){e.dispatchEvent(new CustomEvent("click")),assert.equal(e._tapListener.callCount,4)})),test("attributes",(function(){const e=fixture("sub-mixin-element-attr");assert.equal(e.prop,"attr"),assert.equal(e.prop2,"attr"),assert.equal(e.prop3,"attr"),assert.equal(e._callAttributeChangedCallback,3),assert.isTrue(e.hasAttribute("tabindex")),assert.equal(e.getAttribute("role"),"button"),assert.equal(e.getAttribute("mixinattr"),"mixinattr"),assert.equal(e.getAttribute("submixinattr"),"submixinattr")}))})),suite("subclass new template",(function(){let e;setup((function(){e=document.createElement("sub-new-template"),document.body.appendChild(e)})),teardown((function(){document.body.removeChild(e)})),test("template",(function(){assert.equal(e.prop2,"prop2"),assert.equal(e.$.subContent.textContent,e.prop2),assert.notOk(e.$.content)})),suite("use without dom-module",(function(){let e;setup((function(){e=document.createElement("no-dom-module"),document.body.appendChild(e)})),teardown((function(){document.body.removeChild(e)})),test("template",(function(){assert.ok(e.$.child),assert.equal(e.$.child.textContent,"Content"),assert.equal(window.ShadyCSS.getComputedStyleValue(e,"border-top-width"),"10px")}))}))})),suite("extend sub-class template",(function(){let e,t;setup((function(){e=document.createElement("sub-extended-template"),document.body.appendChild(e),t=document.createElement("element-with-bind-listeners"),document.body.appendChild(t)})),teardown((function(){document.body.removeChild(e),document.body.removeChild(t)})),test("has original template",(function(){assert.equal(e.prop,"base"),assert.equal(e.$.content.textContent,e.prop)})),test("has new element",(function(){assert.ok(e.$.subContent),assert.equal(e.$.subContent.getAttribute("imaginary-prop"),"base")})),test("base doesnt have new element",(function(){assert.notOk(t.$.subContent)}))}))</script>
</body>
</head></html>
