<!doctype html>

<html>
<head>
  <meta charset="utf-8">
  <script src="../../../webcomponentsjs/webcomponents-lite.js"></script>
  <script src="../../../web-component-tester/browser.js"></script>
  <link rel="import" href="../../polymer-element.html">
  <link rel="import" href="../../lib/mixins/gesture-event-listeners.html">
  <link rel="import" href="../../lib/elements/dom-if.html">
<body>

<script>HTMLImports.whenReady(()=>{class e extends Polymer.Element{ready(){super.ready(),window.lifecycleOrder.log(this,"ready")}}customElements.define("x-element-child",e)})</script>

<dom-module id="x-element">
  <template>
    [[prop]] - [[path]]
    <x-element-child id="noBinding" log>
    <x-element-child id="hasBinding" prop="{{prop}}" path="{{path}}" log>
    <x-element-child id="events" on-click="handleClick" on-tap="handleTap"></x-element-child>
  </x-element-child></x-element-child></template>
  <script>HTMLImports.whenReady(()=>{class e extends Polymer.Element{static get is(){return"x-element"}static get observers(){return["propChanged(prop)","pathChanged(path)"]}static get properties(){return{prop:{notify:!0},path:{notify:!0}}}constructor(){super(),this.propChanged=sinon.spy(),this.pathChanged=sinon.spy()}ready(){super.ready(),window.lifecycleOrder.log(this,"ready")}}customElements.define("x-element",e)})</script>
</dom-module>

<dom-module id="x-runtime">
  <template>
    
    <style>x-element{display:block;border-bottom:10px solid orange}</style>
    <x-element id="first"></x-element>
    <x-element id="textBinding">[[prop]] - [[obj.path]] - [[compute(prop, obj.path)]]</x-element>
    <x-element id="propBinding" prop="{{prop}}" log="proto"></x-element>
    <x-element id="pathBinding" path="{{obj.path}}"></x-element>
    <x-element id="compoundPropBinding" compound="[[prop]] - [[obj.path]] - [[compute(prop, obj.path)]]"></x-element>
    <x-element id="events" on-click="handleClick" on-tap="handleTap"></x-element>
    <template id="domIf" is="dom-if" if="[[prop]]">
      <x-element id="ifElement" prop="{{prop}}" path="{{obj.path}}"></x-element>
    </template>
    
    <template id="templateFromShadowDom">
      <x-element early="[[earlyProp]]" id="first"></x-element>
      <x-element id="events" on-click="handleClick" on-tap="handleTap"></x-element>
      <template id="domIf" is="dom-if" if="[[prop]]">
        <x-element id="ifElementSD" prop="{{prop}}" path="{{obj.path}}"></x-element>
      </template>
      <span></span><span></span><span></span><span></span>
      <x-element id="compoundPropBinding" compound="[[prop]] - [[obj.path]] - [[compute(prop, obj.path)]]"></x-element>
      <x-element id="pathBinding" path="{{obj.path}}"></x-element>
      <x-element id="propBinding" prop="{{prop}}" log="shadow"></x-element>
      <x-element id="textBinding">[[prop]] - [[obj.path]] - [[compute(prop, obj.path)]]</x-element>
    </template>
  </template>
  
  <template id="templateFromLightDom">
    <x-element id="first"></x-element>
    <span></span><span></span><span></span><span></span>
    <x-element id="compoundPropBinding" compound="[[prop]] - [[obj.path]] - [[compute(prop, obj.path)]]"></x-element>
    <x-element id="pathBinding" path="{{obj.path}}"></x-element>
    <x-element id="propBinding" prop="{{prop}}" log="light"></x-element>
    <x-element id="textBinding">[[prop]] - [[obj.path]] - [[compute(prop, obj.path)]]</x-element>
    <x-element id="events" on-click="handleClick" on-tap="handleTap"></x-element>
    <template id="domIf" is="dom-if" if="[[prop]]">
      <x-element id="ifElementLD" prop="{{prop}}" path="{{obj.path}}"></x-element>
    </template>
  </template>
  <template id="templateWithDifferentProps">
    <div id="bound">[[otherProp]]</div>
  </template>
  <script>HTMLImports.whenReady(()=>{class t extends(Polymer.GestureEventListeners(Polymer.Element)){static get is(){return"x-runtime"}static get observers(){return["propChanged(prop)","pathChanged(obj.path)"]}constructor(){super(),this.propChanged=sinon.spy(),this.pathChanged=sinon.spy(),this.prop="prop",this.obj={path:"obj.path"}}ready(){super.setAttribute("log",""),super.ready(),window.lifecycleOrder.log(this,"ready")}compute(t,e){return`[${t} - ${e}]`}stampTemplateFromShadow(){let t=this._stampTemplate(this.$.templateFromShadowDom);return this.shadowRoot.appendChild(t),t}stampTemplateAndSetPropFromShadow(){let t=this._stampTemplate(this.$.templateFromShadowDom);return this.earlyProp="early",this.shadowRoot.appendChild(t),t}stampTemplateFromLight(){let t=this._stampTemplate(Polymer.DomModule.import(this.localName,"#templateFromLightDom"));return this.shadowRoot.appendChild(t),t}stampTemplateWithDifferentProps(){let t=this._stampTemplate(Polymer.DomModule.import(this.localName,"#templateWithDifferentProps"));return this.shadowRoot.appendChild(t),t}}customElements.define("x-runtime",t)})</script>
</dom-module>

<template id="custom-template">
  <x-special name="el1" special="attr1" binding="[[prop]]" on-event="handler"></x-special>
  <div name="el2" special="attr2">
    <div name="el3" special="attr3">
      <x-special name="el4" special="attr4"></x-special>
    </div>
    <div></div><div></div><div></div>
    <div name="el5" binding="[[prop]]" on-event="handler"></div>
    <template name="el6">
      <div>
        <x-special name="t-el" special="t-attr" binding="[[prop]]" on-event="handler"></x-special>
      </div>
    </template>
  </div>
  <x-special name="el7" special="attr5"><x-special name="el8" special="attr6"></x-special></x-special>
</template>
<script>HTMLImports.whenReady(()=>{class e extends Polymer.Element{static get template(){return document.getElementById("custom-template")}static _parseTemplateNodeAttribute(e,t,a,s,r){return"special"==s?(a.specialAttr=r,e.removeAttribute("special"),e.setAttribute("had-special",""),!0):super._parseTemplateNodeAttribute(e,t,a,s,r)}static _parseTemplateNode(e,t,a){let s=super._parseTemplateNode(e,t,a);return"x-special"==e.localName&&(s=a.specialNode=!0),s}_bindTemplate(e){return this.templateInfoForTesting=super._bindTemplate(e)}}customElements.define("x-parsing",e);customElements.define("x-effects",class extends e{static get template(){return document.getElementById("custom-template")}static _parseTemplateNodeAttribute(e,t,a,s,r){let p=super._parseTemplateNodeAttribute(e,t,a,s,r);return a.specialAttr&&this._addTemplatePropertyEffect(t,"attr",{fn(e,t,s,r,p,l,i){i[a.infoIndex].specialAttr=s[t]}}),p}static _parseTemplateNode(e,t,a){let s=super._parseTemplateNode(e,t,a);return a.specialNode&&this._addTemplatePropertyEffect(t,"node",{fn(e,t,s,r,p,l,i){i[a.infoIndex].specialNode=s[t]}}),s}})})</script>

<dom-module id="x-binding">
  <template>
    <x-element id="standard1" prop="[[prop]]" path="[[obj.path]]"></x-element>
    <x-element id="custom1" prop='[{"a": "prop", "b": "prop2"}]'></x-element>
    <div>
      <x-element id="standard2" prop="[[prop]]" path="[[obj.path]]"></x-element>
      <x-element id="custom2" prop='[{"a": "prop", "b": "prop2"}]'></x-element>
    </div>
    <template id="domIf" is="dom-if" if="[[prop2]]" restamp>
      <x-element id="standard3" prop="[[prop]]" path="[[obj.path]]"></x-element>
      <x-element id="custom3" prop='[{"a": "prop", "b": "prop2"}]'></x-element>
    </template>
  </template>
  <script>HTMLImports.whenReady(()=>{class e extends Polymer.Element{static get is(){return"x-binding"}constructor(){super(),this.prop=!0,this.obj={path:"obj.path"},this.prop2=!0}static _parseBindings(e,i){if("[{"==e.slice(0,2)&&"}]"==e.slice(-2)){let i=JSON.parse(e.slice(1,-1));return[{dependencies:Object.keys(i).map(e=>i[e]),bindingData:i}]}return super._parseBindings(e,i)}static _evaluateBinding(e,i,t,n,s,a){return i.bindingData?Object.keys(i.bindingData).map(t=>e[i.bindingData[t]]?t:"").filter(e=>Boolean(e)).join(" "):super._evaluateBinding(e,i,t,n,s,a)}}customElements.define(e.is,e)})</script>
</dom-module>

<script>suite("runtime template stamping",(function(){let e;function t(e,t,a){assert.equal(t.textBinding.textContent,"prop - obj.path - [prop - obj.path]"),assert.equal(t.propBinding.prop,"prop"),assert.equal(t.propBinding.propChanged.callCount,1),assert.equal(t.propBinding.propChanged.firstCall.args[0],"prop"),assert.equal(t.pathBinding.path,"obj.path"),assert.equal(t.pathBinding.pathChanged.callCount,1),assert.equal(t.pathBinding.pathChanged.firstCall.args[0],"obj.path"),assert.equal(t.compoundPropBinding.compound,"prop - obj.path - [prop - obj.path]"),assert.equal(e.propChanged.callCount,1),assert.equal(e.propChanged.firstCall.args[0],"prop"),assert.equal(e.pathChanged.callCount,1),assert.equal(e.pathChanged.firstCall.args[0],"obj.path"),e.handleClick=sinon.spy(),e.handleTap=sinon.spy(),t.events.click(),assert.equal(e.handleClick.callCount,1),assert.equal(e.handleTap.callCount,1),t.domIf.render();let r=e.shadowRoot.querySelector("#ifElement"+(a||""));assert.equal(r.prop,"prop"),assert.equal(r.path,"obj.path"),assert.equal(getComputedStyle(t.textBinding).borderBottomWidth,"10px")}function a(e,t,a,r){let l=e.$[t+"Binding"];assert.equal(l[t],a),assert.equal(l[t+"Changed"].callCount,r),assert.equal(l[t+"Changed"].getCall(r-1).args[0],a),assert.equal(l.$.hasBinding[t],a)}function r(e,t,r,l,o,s){a(e,l,o,s),a(t,l,o,s),a(r,l,o,s)}setup((function(){window.lifecycleOrder={log(e,t){if(this.shouldLog(e)){(this[t]=this[t]||[]).push(this.idFor(e))}},shouldLog(e){let t=e.getRootNode().host;return(!t||this.shouldLog(t))&&e.hasAttribute("log")},idFor(e){let t=e.getRootNode().host,a=e.getAttribute("log")||e.id;return(t?this.idFor(t)+"|":"")+e.localName+(a?"#"+a:"")}},e=document.createElement("x-runtime"),document.body.appendChild(e)})),teardown((function(){document.body.removeChild(e)})),test("prototypical stamping",()=>{t(e,e.$);let a=e.shadowRoot.querySelectorAll("x-element#first");assert.equal(a.length,1),assert.equal(a[0],e.$.first),assert.deepEqual(window.lifecycleOrder.ready,["x-runtime|x-element#proto|x-element-child#noBinding","x-runtime|x-element#proto|x-element-child#hasBinding","x-runtime|x-element#proto","x-runtime"])}),test("runtime stamp template (from shadow dom)",()=>{let a=e.stampTemplateFromShadow();t(e,e.$),t(e,a.$,"SD");let r=e.shadowRoot.querySelectorAll("x-element#first");assert.equal(r.length,2),assert.equal(r[0],e.$.first),assert.equal(r[1],a.$.first),assert.deepEqual(window.lifecycleOrder.ready,["x-runtime|x-element#proto|x-element-child#noBinding","x-runtime|x-element#proto|x-element-child#hasBinding","x-runtime|x-element#proto","x-runtime","x-runtime|x-element#shadow|x-element-child#noBinding","x-runtime|x-element#shadow|x-element-child#hasBinding","x-runtime|x-element#shadow"])}),test("runtime stamp and remove multiple templates (from shadow dom)",()=>{let a,r=e.stampTemplateFromShadow();t(e,e.$),t(e,r.$,"SD"),a=e.shadowRoot.querySelectorAll("x-element#first"),assert.equal(a.length,2),assert.equal(a[0],e.$.first),assert.equal(a[1],r.$.first),e._removeBoundDom(r);for(let e in r.$)assert.notOk(r.$[e].parentNode,null);a=e.shadowRoot.querySelectorAll("x-element#first"),assert.equal(a.length,1),assert.equal(a[0],e.$.first);let l=e.stampTemplateFromShadow();t(e,e.$),t(e,l.$,"SD"),a=e.shadowRoot.querySelectorAll("x-element#first"),assert.equal(a.length,2),assert.equal(a[0],e.$.first),assert.equal(a[1],l.$.first);let o=e.stampTemplateFromShadow();t(e,e.$),t(e,l.$,"SD"),t(e,o.$,"SD"),a=e.shadowRoot.querySelectorAll("x-element#first"),assert.equal(a.length,3),assert.equal(a[0],e.$.first),assert.equal(a[1],l.$.first),assert.equal(a[2],o.$.first),assert.deepEqual(window.lifecycleOrder.ready,["x-runtime|x-element#proto|x-element-child#noBinding","x-runtime|x-element#proto|x-element-child#hasBinding","x-runtime|x-element#proto","x-runtime","x-runtime|x-element#shadow|x-element-child#noBinding","x-runtime|x-element#shadow|x-element-child#hasBinding","x-runtime|x-element#shadow","x-runtime|x-element#shadow|x-element-child#noBinding","x-runtime|x-element#shadow|x-element-child#hasBinding","x-runtime|x-element#shadow","x-runtime|x-element#shadow|x-element-child#noBinding","x-runtime|x-element#shadow|x-element-child#hasBinding","x-runtime|x-element#shadow"]),e._removeBoundDom(l),e._removeBoundDom(o);for(let e in l.$)assert.notOk(r.$[e].parentNode,null);for(let e in o.$)assert.notOk(r.$[e].parentNode,null);a=e.shadowRoot.querySelectorAll("x-element#first"),assert.equal(a.length,1),assert.equal(a[0],e.$.first)}),test("runtime stamp template and set prop before attaching (from shadow dom)",()=>{let a=e.stampTemplateAndSetPropFromShadow();t(e,e.$),t(e,a.$,"SD");let r=e.shadowRoot.querySelectorAll("x-element#first");assert.equal(r.length,2),assert.equal(r[0],e.$.first),assert.equal(r[1],a.$.first),assert.deepEqual(window.lifecycleOrder.ready,["x-runtime|x-element#proto|x-element-child#noBinding","x-runtime|x-element#proto|x-element-child#hasBinding","x-runtime|x-element#proto","x-runtime","x-element#shadow|x-element-child#noBinding","x-element#shadow|x-element-child#hasBinding","x-element#shadow"])}),test("runtime stamp and remove multiple templates and set prop before attaching (from shadow dom)",()=>{let a,r=e.stampTemplateAndSetPropFromShadow();t(e,e.$),t(e,r.$,"SD"),a=e.shadowRoot.querySelectorAll("x-element#first"),assert.equal(a.length,2),assert.equal(a[0],e.$.first),assert.equal(a[1],r.$.first),e._removeBoundDom(r);for(let e in r.$)assert.notOk(r.$[e].parentNode,null);a=e.shadowRoot.querySelectorAll("x-element#first"),assert.equal(a.length,1),assert.equal(a[0],e.$.first);let l=e.stampTemplateAndSetPropFromShadow();t(e,e.$),t(e,l.$,"SD"),a=e.shadowRoot.querySelectorAll("x-element#first"),assert.equal(a.length,2),assert.equal(a[0],e.$.first),assert.equal(a[1],l.$.first);let o=e.stampTemplateAndSetPropFromShadow();t(e,e.$),t(e,l.$,"SD"),t(e,o.$,"SD"),a=e.shadowRoot.querySelectorAll("x-element#first"),assert.equal(a.length,3),assert.equal(a[0],e.$.first),assert.equal(a[1],l.$.first),assert.equal(a[2],o.$.first),assert.deepEqual(window.lifecycleOrder.ready,["x-runtime|x-element#proto|x-element-child#noBinding","x-runtime|x-element#proto|x-element-child#hasBinding","x-runtime|x-element#proto","x-runtime","x-element#shadow|x-element-child#noBinding","x-element#shadow|x-element-child#hasBinding","x-element#shadow","x-runtime|x-element#shadow|x-element-child#noBinding","x-runtime|x-element#shadow|x-element-child#hasBinding","x-runtime|x-element#shadow","x-runtime|x-element#shadow|x-element-child#noBinding","x-runtime|x-element#shadow|x-element-child#hasBinding","x-runtime|x-element#shadow"]),e._removeBoundDom(l),e._removeBoundDom(o);for(let e in l.$)assert.notOk(r.$[e].parentNode,null);for(let e in o.$)assert.notOk(r.$[e].parentNode,null);a=e.shadowRoot.querySelectorAll("x-element#first"),assert.equal(a.length,1),assert.equal(a[0],e.$.first)}),test("runtime stamp template (from light dom)",()=>{let a=e.stampTemplateFromLight();t(e,e.$),t(e,a.$,"LD");let r=e.shadowRoot.querySelectorAll("x-element#first");assert.equal(r.length,2),assert.equal(r[0],e.$.first),assert.equal(r[1],a.$.first),assert.deepEqual(window.lifecycleOrder.ready,["x-runtime|x-element#proto|x-element-child#noBinding","x-runtime|x-element#proto|x-element-child#hasBinding","x-runtime|x-element#proto","x-runtime","x-runtime|x-element#light|x-element-child#noBinding","x-runtime|x-element#light|x-element-child#hasBinding","x-runtime|x-element#light"])}),test("runtime stamp and remove multiple templates (from light dom)",()=>{let a,r=e.stampTemplateFromLight();t(e,e.$),t(e,r.$,"LD"),a=e.shadowRoot.querySelectorAll("x-element#first"),assert.equal(a.length,2),assert.equal(a[0],e.$.first),assert.equal(a[1],r.$.first),e._removeBoundDom(r);for(let e in r.$)assert.notOk(r.$[e].parentNode,null);let l=e.stampTemplateFromLight();t(e,e.$),t(e,l.$,"LD"),a=e.shadowRoot.querySelectorAll("x-element#first"),assert.equal(a.length,2),assert.equal(a[0],e.$.first),assert.equal(a[1],l.$.first);let o=e.stampTemplateFromLight();t(e,e.$),t(e,l.$,"LD"),t(e,o.$,"LD"),a=e.shadowRoot.querySelectorAll("x-element#first"),assert.equal(a.length,3),assert.equal(a[0],e.$.first),assert.equal(a[1],l.$.first),assert.equal(a[2],o.$.first),assert.deepEqual(window.lifecycleOrder.ready,["x-runtime|x-element#proto|x-element-child#noBinding","x-runtime|x-element#proto|x-element-child#hasBinding","x-runtime|x-element#proto","x-runtime","x-runtime|x-element#light|x-element-child#noBinding","x-runtime|x-element#light|x-element-child#hasBinding","x-runtime|x-element#light","x-runtime|x-element#light|x-element-child#noBinding","x-runtime|x-element#light|x-element-child#hasBinding","x-runtime|x-element#light","x-runtime|x-element#light|x-element-child#noBinding","x-runtime|x-element#light|x-element-child#hasBinding","x-runtime|x-element#light"]),e._removeBoundDom(l),e._removeBoundDom(o);for(let e in l.$)assert.notOk(r.$[e].parentNode,null);for(let e in o.$)assert.notOk(r.$[e].parentNode,null);a=e.shadowRoot.querySelectorAll("x-element#first"),assert.equal(a.length,1),assert.equal(a[0],e.$.first)}),test("downward runtime binding",()=>{let t=e.stampTemplateFromShadow(),a=e.stampTemplateFromLight();r(e,t,a,"prop","prop",1),r(e,t,a,"path","obj.path",1),e.prop="prop+",r(e,t,a,"prop","prop+",2),r(e,t,a,"path","obj.path",1),e.obj={path:"obj.path+"},r(e,t,a,"prop","prop+",2),r(e,t,a,"path","obj.path+",2),e.set("obj.path","obj.path++"),r(e,t,a,"prop","prop+",2),r(e,t,a,"path","obj.path++",3)}),test("two-way runtime binding",()=>{let t=e.stampTemplateFromShadow(),a=e.stampTemplateFromLight();r(e,t,a,"prop","prop",1),r(e,t,a,"path","obj.path",1),e.$.propBinding.prop="prop+",r(e,t,a,"prop","prop+",2),r(e,t,a,"path","obj.path",1),t.$.propBinding.prop="prop++",r(e,t,a,"prop","prop++",3),r(e,t,a,"path","obj.path",1),a.$.propBinding.prop="prop+++",r(e,t,a,"prop","prop+++",4),r(e,t,a,"path","obj.path",1),e.$.pathBinding.path="obj.path+",r(e,t,a,"prop","prop+++",4),r(e,t,a,"path","obj.path+",2),t.$.pathBinding.path="obj.path++",r(e,t,a,"prop","prop+++",4),r(e,t,a,"path","obj.path++",3),a.$.pathBinding.path="obj.path+++",r(e,t,a,"prop","prop+++",4),r(e,t,a,"path","obj.path+++",4)}),test("accessors for non-prototypically bound properties created",()=>{let t=e.stampTemplateWithDifferentProps();e.otherProp="otherProp",assert.equal(t.$.bound.textContent,"otherProp");let a=document.createElement("x-runtime");document.body.appendChild(a);let r=a.stampTemplateWithDifferentProps();a.otherProp="otherProp",assert.equal(r.$.bound.textContent,"otherProp"),document.body.removeChild(a)}),test("prototypical stamping not affected by runtime stamping",()=>{t(e,e.$);let a=e.shadowRoot.querySelectorAll("x-element#first");assert.equal(a.length,1),assert.equal(a[0],e.$.first),assert.deepEqual(window.lifecycleOrder.ready,["x-runtime|x-element#proto|x-element-child#noBinding","x-runtime|x-element#proto|x-element-child#hasBinding","x-runtime|x-element#proto","x-runtime"])})})),suite("template parsing hooks",()=>{test("custom parsing",()=>{let e=document.createElement("x-parsing");document.body.appendChild(e);let t=e.templateInfoForTesting,a=t.nodeInfoList,r=t.nodeList;assert.sameMembers(r.map(e=>e.getAttribute("name")),["el1","el2","el3","el4","el5","el6","el7","el8"]);for(let e=0;e<r.length;e++){let t,l=r[e],o=a[e];switch(l.getAttribute("name")){case"el1":assert.equal(o.specialNode,!0),assert.equal(o.specialAttr,"attr1"),assert.equal(o.bindings.length,1),assert.equal(o.events.length,1);break;case"el2":assert.equal(o.specialAttr,"attr2");break;case"el3":assert.equal(o.specialAttr,"attr3");break;case"el4":assert.equal(o.specialNode,!0),assert.equal(o.specialAttr,"attr4");break;case"el5":assert.equal(o.bindings.length,1),assert.equal(o.events.length,1);break;case"el6":assert.isOk(o.templateInfo),assert.equal(o.templateInfo.nodeInfoList.length,1),t=o.templateInfo.nodeInfoList[0],assert.equal(t.bindings.length,1),assert.equal(t.events.length,1),assert.equal(t.specialAttr,"t-attr"),assert.equal(t.specialNode,!0);break;case"el7":assert.equal(o.specialNode,!0),assert.equal(o.specialAttr,"attr5");break;case"el8":assert.equal(o.specialNode,!0),assert.equal(o.specialAttr,"attr6");break;default:throw new Error("unexpected node was recorded")}}}),test("custom template effects",()=>{let e=document.createElement("x-effects");document.body.appendChild(e),assert.equal(Array.from(e.shadowRoot.querySelectorAll("x-special")).length,4),Array.from(e.shadowRoot.querySelectorAll("x-special")).forEach(e=>{assert.notOk(e.isSpecialNode)}),e.node="node!",Array.from(e.shadowRoot.querySelectorAll("x-special")).forEach(e=>{assert.equal(e.specialNode,"node!")}),assert.equal(Array.from(e.shadowRoot.querySelectorAll("[had-special]")).length,6),Array.from(e.shadowRoot.querySelectorAll("[had-special]")).forEach(e=>{assert.notOk(e.hasSpecialAttr)}),e.attr="attr!",Array.from(e.shadowRoot.querySelectorAll("[had-special]")).forEach(e=>{assert.equal(e.specialAttr,"attr!")}),document.body.removeChild(e)}),test("custom template binding",()=>{let e=document.createElement("x-binding");document.body.appendChild(e),e.$.domIf.render(),assert.equal(e.$.standard1.prop,!0),assert.equal(e.$.standard2.prop,!0),assert.equal(e.shadowRoot.querySelector("#standard3").prop,!0),assert.equal(e.$.standard1.path,"obj.path"),assert.equal(e.$.standard2.path,"obj.path"),assert.equal(e.shadowRoot.querySelector("#standard3").path,"obj.path"),assert.equal(e.$.custom1.prop,"a b"),assert.equal(e.$.custom2.prop,"a b"),assert.equal(e.shadowRoot.querySelector("#custom3").prop,"a b"),e.prop=!1,assert.equal(e.$.standard1.prop,!1),assert.equal(e.$.standard2.prop,!1),assert.equal(e.shadowRoot.querySelector("#standard3").prop,!1),assert.equal(e.$.standard1.path,"obj.path"),assert.equal(e.$.standard2.path,"obj.path"),assert.equal(e.shadowRoot.querySelector("#standard3").path,"obj.path"),assert.equal(e.$.custom1.prop,"b"),assert.equal(e.$.custom2.prop,"b"),assert.equal(e.shadowRoot.querySelector("#custom3").prop,"b"),e.prop=!0,assert.equal(e.$.standard1.prop,!0),assert.equal(e.$.standard2.prop,!0),assert.equal(e.shadowRoot.querySelector("#standard3").prop,!0),assert.equal(e.$.standard1.path,"obj.path"),assert.equal(e.$.standard2.path,"obj.path"),assert.equal(e.shadowRoot.querySelector("#standard3").path,"obj.path"),assert.equal(e.$.custom1.prop,"a b"),assert.equal(e.$.custom2.prop,"a b"),assert.equal(e.shadowRoot.querySelector("#custom3").prop,"a b"),document.body.removeChild(e)})})</script>

</body>
</head></html>
