<!doctype html>

<html>
<head>
  <meta charset="utf-8">
  <script>window.customElements&&(customElements.forcePolyfill=!0),window.ShadyDOM={force:!0}</script>
  <script src="../../../webcomponentsjs/webcomponents-lite.js"></script>
  <script src="../../../web-component-tester/browser.js"></script>
  <link rel="import" href="../../polymer.html">
</head>
<body>

<dom-module id="x-project">
  <template>
    x-project: [<slot></slot>]
  </template>
</dom-module>
<script>HTMLImports.whenReady((function(){Polymer({is:"x-project"})}))</script>

<dom-module id="x-reproject">
  <template>
    <x-project>x-reproject: [<slot></slot>]</x-project>
  </template>
</dom-module>
<script>HTMLImports.whenReady((function(){Polymer({is:"x-reproject"})}))</script>

<dom-module id="x-rereproject">
  <template>
    <x-reproject>x-rereproject: [<slot></slot>]</x-reproject>
  </template>
</dom-module>
<script>HTMLImports.whenReady((function(){Polymer({is:"x-rereproject",attachedCount:0,attached:function(){this.attachedCount++}})}))</script>

<dom-module id="x-test">
  <template>
    <x-rereproject><span id="projected">projected</span></x-rereproject>
  </template>
</dom-module>
<script>HTMLImports.whenReady((function(){Polymer({is:"x-test"})}))</script>

<dom-module id="x-test-no-distribute">
  <template>
    <span>Local dom without insertion point.</span>
  </template>
</dom-module>
<script>HTMLImports.whenReady((function(){Polymer({is:"x-test-no-distribute"})}))</script>

<dom-module id="x-distribute">
  <template>
    <div>
      <span>Elements without test attribute</span>
      <div id="notTestContainer" style="color:#fff;background-color:green;min-height:1em">
        <slot id="notTestContent"></slot>
      </div>
      <span>Elements with test attribute</span>
      <div style="color:#fff;background-color:red;min-height:1em">
        <div id="testContainer">
          <slot id="testContent" name="test"></slot>
        </div>
      </div>
    </div>
  </template>
</dom-module>

<script>HTMLImports.whenReady((function(){Polymer({is:"x-distribute"})}))</script>

<dom-module id="x-compose">
  <template><x-project id="project"></x-project></template>
</dom-module>
<script>HTMLImports.whenReady((function(){Polymer({is:"x-compose"})}))</script>


<dom-module id="x-select3">
  <template><slot id="x-select3-slot" name="s3"></slot></template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-select3"})}))</script>
</dom-module>

<dom-module id="x-select2">
  <template><x-select3 id="select"><slot id="x-select2-slot" name="s2"></slot></x-select3></template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-select2"})}))</script>
</dom-module>

<dom-module id="x-select1">
  <template><x-select2 id="select"><slot id="x-select1-slot" name="s1"></slot></x-select2></template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-select1"})}))</script>
</dom-module>

<dom-module id="x-echo">
  <template><slot></slot></template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-echo"})}))</script>
</dom-module>

<dom-module id="x-simple">
  <template><div>simple</div></template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-simple"})}))</script>
</dom-module>


<dom-module id="x-redistribute-a-b">
  <template>
    <x-echo id="echo1"><slot name="a"></slot></x-echo>
    <x-echo id="echo2"><slot name="b"></slot></x-echo>
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-redistribute-a-b"})}))</script>
</dom-module>

<dom-module id="x-attr">
  <template>Attr1</template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-attr",hostAttributes:{slot:"bar"}})}))</script>
</dom-module>

<dom-module id="x-attr2">
  <template>Attr2</template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-attr2",ready:function(){this.slot="foo"}})}))</script>
</dom-module>

<dom-module id="x-select-attr">
  <template>
    Foo: [<slot name="foo"></slot>]
    Bar: [<slot name="bar"></slot>]
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-select-attr"})}))</script>
</dom-module>

<dom-module id="x-compose-select-attr">
  <template>
    <x-select-attr id="select">
      <x-attr id="attr1"></x-attr>
      <x-attr2 id="attr2"></x-attr2>
    </x-select-attr>
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-compose-select-attr"})}))</script>
</dom-module>


<dom-module id="x-clonate">
  <template><span>[</span><slot></slot><span>]</span></template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-clonate"})}))</script>
</dom-module>

<dom-module id="x-attach3">
  <template>
    <style>:host{display:block;border:1px dashed orange;padding:4px;box-sizing:border-box}:host>::slotted(.add3){box-sizing:border-box;height:20px;background:#333;border:2px solid #ff0}</style>
    <slot></slot>
    <template is="dom-if" if="{{shouldIf(done.count)}}">
      <x-attach2></x-attach2>
    </template>
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-attach3",properties:{done:{value:{count:0}}},ready:function(){this.done.count++},attached:function(){var e=document.createElement("div");e.className="add3",this.appendChild(e)},shouldIf:function(e){return e<3}})}))</script>
</dom-module>

<dom-module id="x-attach2">
  <template>
    <style>:host{display:block;border:1px dashed tomato;padding:4px}x-attach3>::slotted(.add2){box-sizing:border-box;height:20px;background:gray;border:2px solid #ff0}</style>
    <x-attach3><slot></slot></x-attach3>
    <template is="dom-if" if="{{shouldIf(done.count)}}">
      <x-attach1></x-attach1>
    </template>
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-attach2",properties:{done:{value:{count:0}}},ready:function(){this.done.count++},attached:function(){var e=document.createElement("div");e.className="add2",this.appendChild(e)},shouldIf:function(e){return e<3}})}))</script>
</dom-module>

<dom-module id="x-attach1">
  <template>
    <style>:host{display:block;border:1px dashed #2e8b57;padding:4px}.slotContainer ::slotted(.add1){box-sizing:border-box;height:20px;background:#d3d3d3;border:2px solid #ff0}</style>
    <x-attach2><div class="slotContainer"><slot></slot><div></div></div></x-attach2>
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-attach1",attached:function(){var a=document.createElement("div");a.className="add1",this.appendChild(a)}})}))</script>
</dom-module>

<dom-module id="x-commented">
  <template><span>[</span><slot></slot><span>]</span></template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-commented"})}))</script>
</dom-module>


<dom-module id="polymer-dom-repeat">
  <template>
    <div>
      <div>
        <div>
          <div id="container">
            <template id="repeater" is="dom-repeat" items="{{items}}">
              <div>stuff</div>
            </template>
          </div>
        </div>
      </div>
    </div>
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"polymer-dom-repeat",properties:{items:{value:function(){return["a","b","c","d","e"]}}}})}))</script>
</dom-module>

<dom-module id="x-deep-contains">
  <template>
    <div id="shadowed"></div>
    <slot name="light"></slot>
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-deep-contains",created:function(){var t=document.createElement("div");t.setAttribute("slot","light"),this.appendChild(t),(t=document.createElement("div")).setAttribute("slot","notdistributed"),this.appendChild(t)}})}))</script>
</dom-module>

<dom-module id="x-wrapped">
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-wrapped"})}))</script>
</dom-module>


<dom-module id="x-shadow-host-root-0-0">
  <template>
    <slot></slot>
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-shadow-host-root-0-0",hostAttributes:{tabindex:"-1"}})}))</script>
</dom-module>

<dom-module id="x-shadow-host-root-0-0-light-0">
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-shadow-host-root-0-0-light-0",hostAttributes:{tabindex:"-1"}})}))</script>
</dom-module>

<dom-module id="x-shadow-host-root-0-0-light">
  <template>
    <div>
      <div>
        <x-shadow-host-root-0-0-light-0></x-shadow-host-root-0-0-light-0>
      </div>
    </div>
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-shadow-host-root-0-0-light",hostAttributes:{tabindex:"-1"}})}))</script>
</dom-module>

<dom-module id="x-shadow-host-root-0-1">
  <template>
    <slot></slot>
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-shadow-host-root-0-1",hostAttributes:{tabindex:"-1"}})}))</script>
</dom-module>

<dom-module id="x-shadow-host-root-0-1-light">
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-shadow-host-root-0-1-light",hostAttributes:{tabindex:"-1"}})}))</script>
</dom-module>

<dom-module id="x-shadow-host-root-0">
  <template>
    <slot></slot>
    <div>
      <x-shadow-host-root-0-0>
        <x-shadow-host-root-0-0-light></x-shadow-host-root-0-0-light>
      </x-shadow-host-root-0-0>
    </div>
    <x-shadow-host-root-0-1>
      <x-shadow-host-root-0-1-light></x-shadow-host-root-0-1-light>
    </x-shadow-host-root-0-1>
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-shadow-host-root-0",hostAttributes:{tabindex:"-1"}})}))</script>
</dom-module>

<dom-module id="x-shadow-host-root-0-light">
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-shadow-host-root-0-light",hostAttributes:{tabindex:"-1"}})}))</script>
</dom-module>

<dom-module id="x-shadow-host-root-1-0">
  <template>
    <slot></slot>
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-shadow-host-root-1-0",hostAttributes:{tabindex:"-1"}})}))</script>
</dom-module>

<dom-module id="x-shadow-host-root-1-0-light">
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-shadow-host-root-1-0-light",hostAttributes:{tabindex:"-1"}})}))</script>
</dom-module>

<dom-module id="x-shadow-host-root-1-1">
  <template>
    <slot></slot>
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-shadow-host-root-1-1",hostAttributes:{tabindex:"-1"}})}))</script>
</dom-module>

<dom-module id="x-shadow-host-root-1-1-light">
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-shadow-host-root-1-1-light",hostAttributes:{tabindex:"-1"}})}))</script>
</dom-module>

<dom-module id="x-shadow-host-root-1">
  <template>
    <slot></slot>
    <div>
      <x-shadow-host-root-1-0>
        <x-shadow-host-root-1-0-light></x-shadow-host-root-1-0-light>
      </x-shadow-host-root-1-0>
    </div>
    <div>
      <div>
        <div>
          <x-shadow-host-root-1-1>
            <x-shadow-host-root-1-1-light></x-shadow-host-root-1-1-light>
          </x-shadow-host-root-1-1>
        </div>
      </div>
    </div>
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-shadow-host-root-1",hostAttributes:{tabindex:"-1"}})}))</script>
</dom-module>

<dom-module id="x-shadow-host-root-1-light-0">
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-shadow-host-root-1-light-0",hostAttributes:{tabindex:"-1"}})}))</script>
</dom-module>

<dom-module id="x-shadow-host-root-1-light">
  <template>
    <x-shadow-host-root-1-light-0></x-shadow-host-root-1-light-0>
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-shadow-host-root-1-light",hostAttributes:{tabindex:"-1"}})}))</script>
</dom-module>

<dom-module id="x-shadow-host-root">
  <template>
    <slot></slot>
    <div>
      <div>
        <x-shadow-host-root-0>
          <x-shadow-host-root-0-light></x-shadow-host-root-0-light>
        </x-shadow-host-root-0>
      </div>
    </div>
    <div>
      <x-shadow-host-root-1>
        <x-shadow-host-root-1-light></x-shadow-host-root-1-light>
      </x-shadow-host-root-1>
    </div>
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-shadow-host-root",hostAttributes:{tabindex:"-1"}})}))</script>
</dom-module>

<dom-module id="x-shadow-host-root-light">
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-shadow-host-root-light",hostAttributes:{tabindex:"-1"}})}))</script>
</dom-module>

<dom-module id="x-outer">
  <template>
    <x-inner id="inner">
      <slot></slot>
    </x-inner>
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-outer"})}))</script>
</dom-module>

<dom-module id="x-inner">
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-inner",attached:function(){this.listen(this,"click","_onClick")},_onClick:function(t){this._eventTarget=t.target}})}))</script>
</dom-module>


<x-test></x-test>

<div class="accessors">
  <x-test-no-distribute><div class="child"></div></x-test-no-distribute>
  <x-project><div class="child"></div></x-project>
</div>

<x-test-no-distribute id="noDistribute">
  <div class="bar">Bar</div>
  <div class="foo">Foo</div>
</x-test-no-distribute>

<x-select1>
  <div class="select-child"></div>
</x-select1>

<x-select-class1>
  <div></div>
</x-select-class1>

<x-select-attr>
  <x-attr></x-attr>
</x-select-attr>

<x-compose-select-attr></x-compose-select-attr>

<x-redistribute-a-b></x-redistribute-a-b>

<div id="container">
  <x-echo></x-echo>
  <span>1</span>
  <span>2</span>
</div>

<x-deep-contains></x-deep-contains>

<x-wrapped></x-wrapped>

<x-shadow-host-root>
  <x-shadow-host-root-light></x-shadow-host-root-light>
</x-shadow-host-root>

<x-outer>
  <button>click me</button>
</x-outer>
<script>window.ShadyDOM||(ShadyDOM={patch:function(){},flush:function(){}})</script>
<script>"use strict";function createEnabledElement(e){var t=document.createElement(e);return document.body.appendChild(t),document.body.removeChild(t),t}function allInsertionPoints(e){for(var t=[];e;)(e=e.assignedSlot)&&t.push(e);return t}var checkUnpatchedDom=!1;suite("ShadyDOM",(function(){var e;suiteSetup((function(){e=document.querySelector("x-test")})),test("querySelector (local)",(function(){var t=e.root.querySelector("#projected");assert.equal(t.textContent,"projected");var o=e.querySelector("#projected");assert.isNull(o);var r=e.root.querySelector("x-rereproject");assert.equal(r.is,"x-rereproject");var l=r.root.querySelector("x-reproject");assert.equal(l.is,"x-reproject");var n=l.root.querySelector("x-project");assert.equal(n.is,"x-project")})),test("querySelectorAll (local)",(function(){var t=e.root.querySelector("x-rereproject"),o=t.root.querySelector("x-reproject"),r=o.root.querySelector("x-project"),l=t.root.querySelectorAll("*");assert.include(l,o),assert.equal(l.length,2);var n=o.root.querySelectorAll("*");assert.include(n,r),assert.equal(n.length,2);var a=r.root.querySelectorAll("*");assert.equal(a.length,1)})),test("querySelector (light)",(function(){var t=e.root.querySelector("#projected"),o=e.root.querySelector("x-rereproject"),r=o.root.querySelector("x-reproject"),l=r.root.querySelector("x-project");assert.equal(o.querySelector("#projected"),t),assert(r.querySelector("slot")),assert(l.querySelector("slot"))})),test("querySelectorAll (light)",(function(){var t=e.root.querySelector("#projected"),o=e.root.querySelector("x-rereproject"),r=o.root.querySelector("x-reproject"),l=r.root.querySelector("x-project");assert.equal(o.querySelectorAll("#projected")[0],t),assert(r.querySelectorAll("slot").length,1),assert(l.querySelectorAll("slot").length,1)})),test("querySelectorAll with dom-repeat",(function(){var e=document.createElement("polymer-dom-repeat");document.body.appendChild(e),e.$.repeater.render(),Polymer.flush(),assert.equal(e.$.container.querySelectorAll("*").length,7,"querySelectorAll finds repeated elements"),document.body.removeChild(e)})),test("querySelector document",(function(){assert.ok(document.querySelector("body"))})),test("projection",(function(){var t=e.root.querySelector("#projected");assert.equal(t.textContent,"projected");var o=e.root.querySelector("x-rereproject");assert.equal(o.is,"x-rereproject");var r=o.root.querySelector("x-reproject");assert.equal(r.is,"x-reproject");var l=r.root.querySelector("x-project");assert.equal(l.is,"x-project");var n=o.root.querySelector("slot");assert.include(n.assignedNodes({flatten:!0}),t);var a=r.root.querySelector("slot");assert.include(a.assignedNodes({flatten:!0}),t);var s=l.root.querySelector("slot");assert.include(s.assignedNodes({flatten:!0}),t);var c=[n,a,s],i=allInsertionPoints(t);assert.deepEqual(i,c)})),test("shadyRoot (reproject)",(function(){var e=document.querySelector("x-select1"),t=e.firstElementChild,o=e.root.querySelector("slot"),r=e.$.select.root.querySelector("slot"),l=e.$.select.$.select.root.querySelector("slot");assert.equal(o.getAttribute("name"),"s1"),assert.equal(r.getAttribute("name"),"s2"),assert.equal(l.getAttribute("name"),"s3"),assert.equal(t.className,"select-child"),assert.equal(allInsertionPoints(t).length,0),t.slot="s1",Polymer.flush(),assert.deepEqual(allInsertionPoints(t),[o]),t.slot="s2",o.setAttribute("name","s2"),o.slot="s2",Polymer.flush(),assert.deepEqual(allInsertionPoints(t),[o,r]),t.slot="s3",o.setAttribute("name","s3"),o.slot="s3",r.setAttribute("name","s3"),r.slot="s3",Polymer.flush(),assert.deepEqual(allInsertionPoints(t),[o,r,l]),t.slot="",Polymer.flush(),assert.deepEqual(allInsertionPoints(t),[]),t.slot="s3",Polymer.flush(),assert.deepEqual(allInsertionPoints(t),[o,r,l]),t.slot="",Polymer.flush(),assert.deepEqual(allInsertionPoints(t),[]),t.slot="s2",o.setAttribute("name","s2"),o.slot="s2",r.setAttribute("name","s2"),r.slot="s2",Polymer.flush(),assert.deepEqual(allInsertionPoints(t),[o,r]),t.slot="s1",o.setAttribute("name","s1"),o.slot="s1",Polymer.flush(),assert.deepEqual(allInsertionPoints(t),[o]),t.slot="",Polymer.flush(),assert.deepEqual(allInsertionPoints(t),[])})),test("without a host setting hostAttributes/reflecting properties provokes distribution",(function(){var e=document.querySelector("x-select-attr"),t=e.root.querySelectorAll("slot"),o=e.firstElementChild;Polymer.flush(),assert.equal(allInsertionPoints(o)[0],t[1],"child not distributed based on host attribute"),o.slot="foo",Polymer.flush(),assert.equal(allInsertionPoints(o)[0],t[0],"child not distributed based on reflecting attribute"),o.slot="",Polymer.flush(),assert.equal(allInsertionPoints(o).length,0,"child not distributed based on reflecting attribute")})),test("within a host setting hostAttributes/reflecting properties provokes distribution",(function(){var e=document.querySelector("x-compose-select-attr"),t=e.$.select.root.querySelectorAll("slot"),o=e.$.attr1;Polymer.flush(),assert.equal(allInsertionPoints(o)[0],t[1],"child not distributed based on host attribute"),o.slot="foo",Polymer.flush(),assert.equal(allInsertionPoints(o)[0],t[0],"child not distributed based on reflecting attribute"),o.slot="bar",Polymer.flush(),assert.equal(allInsertionPoints(o)[0],t[1],"child not distributed based on reflecting attribute");var r=e.$.attr2;Polymer.flush(),assert.equal(allInsertionPoints(r)[0],t[0],"child not distributed based on default value")})),test("appendChild (light)",(function(){var t=e.root.querySelector("x-rereproject"),o=document.createElement("span");o.id="added",o.textContent="Added",t.appendChild(o),assert.equal(e.root.querySelector("#added"),o)})),test("insertBefore (light)",(function(){var t=e.root.querySelector("x-rereproject"),o=e.root.querySelector("#added"),r=document.createElement("span");r.id="added2",r.textContent="Added2",t.insertBefore(r,o),assert.equal(e.root.querySelector("#added2"),r)})),test("removeChild (light)",(function(){var t=e.root.querySelector("#added"),o=e.root.querySelector("#added2"),r=e.root.querySelector("x-rereproject");assert.equal(e.root.querySelectorAll("*").length,4),r.removeChild(t),r.removeChild(o),assert.equal(e.root.querySelectorAll("*").length,2)})),test("appendChild (local)",(function(){var t=e.root.querySelector("x-rereproject"),o=document.createElement("span");o.id="local",o.textContent="Local",t.root.appendChild(o),assert.equal(t.root.querySelector("#local"),o)})),test("insertBefore (local)",(function(){var t=e.root.querySelector("x-rereproject"),o=e.root.querySelector("#local"),r=document.createElement("span");r.id="local2",r.textContent="Local2",t.root.insertBefore(r,o),assert.equal(t.root.querySelector("#local2"),r)})),test("removeChild (local)",(function(){var t=e.root.querySelector("x-rereproject"),o=t.root.querySelector("#local"),r=t.root.querySelector("#local2");t.root.removeChild(o),t.root.removeChild(r),assert.equal(t.root.querySelectorAll("#local").length,0)})),test("localDom.insertBefore first element results in minimal change",(function(){var t=e.root.childNodes,o=e.root.querySelector("x-rereproject");assert.equal(o.attachedCount,1);var r=document.createElement("span");r.id="local-first",r.textContent="Local First",e.root.insertBefore(r,t[0]),assert.equal(e.root.querySelector("#local-first"),r),assert.equal(o.attachedCount,1),e.root.removeChild(r),assert.equal(o.attachedCount,1)})),test("appendChild (fragment, local)",(function(){for(var t=e.root.querySelector("x-rereproject"),o=document.createDocumentFragment(),r=0;r<5;r++){var l=document.createElement("span");l.textContent=r,o.appendChild(l)}t.root.appendChild(o);var n=t.root.querySelectorAll("span");for(assert.equal(n.length,5),r=0;r<n.length;r++)t.root.removeChild(n[r]);assert.equal(t.root.querySelectorAll("span").length,0)})),test("insertBefore (fragment, local)",(function(){for(var t=e.root.querySelector("x-rereproject"),o=document.createDocumentFragment(),r=0;r<5;r++){var l=document.createElement("span");l.textContent=r,o.appendChild(l)}var n=document.createElement("span");n.textContent="last",t.root.appendChild(n),t.root.insertBefore(o,n);var a=t.root.querySelectorAll("span");for(assert.equal(a.length,6),assert.equal(a[a.length-1],n),r=0;r<a.length;r++)t.root.removeChild(a[r]);assert.equal(t.root.querySelectorAll("span").length,0)})),test("mutations using fragments without logical dom",(function(){var e=document.createElement("div");document.body.appendChild(e),assert.equal(e.childNodes.length,0);var t=document.createDocumentFragment(),o=document.createElement("div");t.appendChild(o),e.appendChild(t),assert.equal(e.childNodes.length,1),assert.equal(e.firstChild,o);var r=document.createElement("div");t.appendChild(r),e.appendChild(t),assert.equal(e.childNodes.length,2),assert.equal(e.firstChild,o),assert.equal(e.lastChild,r)})),test("appendChild interacts with unmanaged parent tree",(function(){var e=document.querySelector("#container"),t=e.firstElementChild;assert.equal(t.localName,"x-echo");var o=t.nextElementSibling;assert.equal(o.textContent,"1");var r=o.nextElementSibling;assert.equal(r.textContent,"2"),assert.equal(e.children.length,3),t.appendChild(o),Polymer.flush(),assert.equal(e.children.length,2),assert.equal(t.nextElementSibling,r),t.appendChild(r),Polymer.flush(),assert.equal(e.children.length,1),assert.equal(t.nextElementSibling,null),e.appendChild(o),Polymer.flush(),assert.equal(e.children.length,2),assert.equal(t.nextElementSibling,o),e.appendChild(r),Polymer.flush(),assert.equal(e.children.length,3),assert.equal(t.nextElementSibling,o),assert.equal(o.nextElementSibling,r)})),test("distribute (forced)",(function(){var t=e.root.querySelector("x-rereproject"),o=t.root.querySelector("x-reproject").root.querySelector("x-project"),r=document.createElement("span");r.id="light",r.textContent="Light",t.appendChild(r),assert.equal(t.querySelector("#light"),r),assert.equal(r.parentNode,t),checkUnpatchedDom&&assert.notEqual(Polymer.TreeApi.Composed.getParentNode(r),t),checkUnpatchedDom&&assert.equal(Polymer.TreeApi.Composed.getParentNode(r),o),t.removeChild(r),checkUnpatchedDom&&assert.equal(Polymer.TreeApi.Composed.getParentNode(r),o),checkUnpatchedDom&&assert.equal(Polymer.TreeApi.Composed.getParentNode(r),null)})),test("queryDistributedElements",(function(){var t=e.root.querySelector("x-rereproject").root.querySelector("x-reproject").root.querySelector("x-project"),o=e.root.querySelector("#projected"),r=t.queryDistributedElements("*");assert.equal(r.length,1),assert.equal(r[0],o)})),test("getEffectiveChildNodes",(function(){var t=e.root.querySelector("x-rereproject").root.querySelector("x-reproject"),o=e.root.querySelector("#projected"),r=t.getEffectiveChildNodes();assert.equal(r.length,3),assert.equal(r[1],o)})),test("querySelector",(function(){var e=document.querySelector("x-test"),t=document.querySelector("x-rereproject"),o=document.querySelector("#projected");assert.ok(e),assert.notOk(t),assert.notOk(o)})),test("event",(function(){var t=e.root.querySelector("x-rereproject"),o=t.root.querySelector("x-reproject"),r=o.root.querySelector("x-project"),l=0;e.addEventListener("test-event",(function(n){l++,assert.equal(n.composedPath()[0],r),assert.equal(n.target,e);var a=n.composedPath();assert.ok(a.length>=10),assert.equal(a[0],r),assert.equal(a[2],o),assert.equal(a[4],t),assert.equal(a[6],e),assert.isArray(a),assert.isFunction(a.indexOf),assert(a.indexOf(e)>-1)})),t.addEventListener("test-event",(function(e){l++,assert.equal(e.target,t)})),r.fire("test-event"),assert.equal(l,2)})),test("event.target",(function(){var e=document.querySelector("x-outer");document.querySelector("x-outer button").dispatchEvent(new Event("click",{bubbles:!0})),assert.equal(e.$.inner._eventTarget.localName,"button","event restarted incorrectly")})),test("parentNode",(function(){var t=e.root.querySelector("x-rereproject"),o=e.root.querySelector("#projected");assert.equal(e.parentNode,document.body),assert.equal(o.parentNode,t)})),test("childNodes is an array",(function(){var e=document.querySelector("x-test");assert.isTrue(Array.isArray(e.childNodes))})),test("cloneNode shallow",(function(){var e=document.createElement("div");e.innerHTML="<x-clonate><span>1</span><span>2</span></x-clonate>";var t=e.firstElementChild.cloneNode();document.body.appendChild(t),assert.equal(t.childNodes.length,0,"shallow copy has incorrect children"),checkUnpatchedDom&&assert.equal(t.children.length,2,"shallow copy has incorrect composed children")})),test("cloneNode deep",(function(){var e=document.createElement("div");e.innerHTML="<x-clonate><span>1</span><span>2</span></x-clonate>";var t=e.cloneNode(!0);document.body.appendChild(t),assert.equal(t.firstElementChild.childNodes.length,2,"deep copy has incorrect children"),checkUnpatchedDom&&assert.equal(t.children.length,4,"deep copy has incorrect composed children")})),test("importNode shallow",(function(){var e=document.createElement("div");e.innerHTML="<x-clonate><span>1</span><span>2</span></x-clonate>";var t=document.importNode(e.firstElementChild,!1);document.body.appendChild(t),assert.equal(t.childNodes.length,0,"shallow import has incorrect children"),checkUnpatchedDom&&assert.equal(t.children.length,2,"shallow import has incorrect composed children")})),test("importNode deep",(function(){var e=document.createElement("div");e.innerHTML="<x-clonate><span>1</span><span>2</span></x-clonate>";var t=document.importNode(e,!0);document.body.appendChild(t),assert.equal(t.firstElementChild.childNodes.length,2,"deep copy has incorrect children"),checkUnpatchedDom&&assert.equal(t.children.length,4,"deep copy has incorrect composed children")})),test("styling: flush causes attached and re-flushes if necessary",(function(e){var t=document.createElement("x-attach1");document.body.appendChild(t),Polymer.flush(),assert.equal(t.offsetHeight,540),e()})),test("flush reentrancy",(function(){var e=[],t=sinon.spy((function(){e.push(t)})),o=sinon.spy((function(){e.push(o)})),r=sinon.spy((function(){e.push(r)})),l=sinon.spy((function(){e.push(l)})),n=sinon.spy((function(){e.push(n),ShadyDOM.enqueue(r),Polymer.flush(),ShadyDOM.enqueue(l)}));ShadyDOM.enqueue(t),ShadyDOM.enqueue(n),ShadyDOM.enqueue(o),Polymer.flush(),assert.isTrue(t.calledOnce),assert.isTrue(o.calledOnce),assert.isTrue(r.calledOnce),assert.isTrue(l.calledOnce),assert.isTrue(n.calledOnce),assert.sameMembers(e,[t,n,o,r,l])})),test("event.composedPath correctly calculated for elements with destination insertion points",(function(e){var t=document.createElement("x-reproject");document.body.appendChild(t),Polymer.flush();var o=t.root.querySelector("x-project"),r=document.createElement("p");r.innerHTML="hello",t.appendChild(r),Polymer.flush(),r.addEventListener("child-event",(function(r){var l=r.composedPath();assert.isTrue(-1!==l.indexOf(o),"path contains p"),assert.isTrue(-1!==l.indexOf(t),"path contains re"),e()}));var l=new CustomEvent("child-event");r.dispatchEvent(l),document.body.removeChild(t)}))})),suite("Accessors",(function(){var e,t;suiteSetup((function(){e=document.querySelector(".accessors x-test-no-distribute"),t=document.querySelector(".accessors x-project")})),test("node accessors (no distribute)",(function(){var t=e.children[0];assert.isTrue(t.classList.contains("child"),"test node could not be found");var o=document.createElement("div"),r=document.createElement("div");e.insertBefore(o,t),e.appendChild(r),Polymer.flush(),assert.equal(e.firstChild,o,"firstChild incorrect"),assert.equal(e.lastChild,r,"lastChild incorrect"),assert.equal(o.nextSibling,t,"nextSibling incorrect"),assert.equal(t.nextSibling,r,"nextSibling incorrect"),assert.equal(r.previousSibling,t,"previousSibling incorrect"),assert.equal(r.nextSibling,null,"nextSibling incorrect"),assert.equal(t.previousSibling,o,"previousSibling incorrect")})),test("node accessors (distribute)",(function(){var e=t.children[0];assert.isTrue(e.classList.contains("child"),"test node could not be found");var o=document.createElement("div"),r=document.createElement("div");t.insertBefore(o,e),t.appendChild(r),Polymer.flush(),assert.equal(t.firstChild,o,"firstChild incorrect"),assert.equal(t.lastChild,r,"lastChild incorrect"),assert.equal(o.nextSibling,e,"nextSibling incorrect"),assert.equal(e.nextSibling,r,"nextSibling incorrect"),assert.equal(r.previousSibling,e,"previousSibling incorrect"),assert.equal(r.nextSibling,null,"nextSibling incorrect"),assert.equal(e.previousSibling,o,"previousSibling incorrect")})),test("element accessors (no distribute)",(function(){var e=document.createElement("x-test-no-distribute"),t=document.createElement("div");e.appendChild(t);var o=document.createElement("div"),r=document.createElement("div");e.insertBefore(o,t),e.appendChild(r),assert.equal(e.firstElementChild,o,"firstElementChild incorrect"),assert.equal(e.lastElementChild,r,"lastElementChild incorrect"),assert.equal(o.nextElementSibling,t,"nextElementSibling incorrect"),assert.equal(t.nextElementSibling,r,"nextElementSibling incorrect"),assert.equal(r.previousElementSibling,t,"previousElementSibling incorrect"),assert.equal(t.previousElementSibling,o,"previousElementSibling incorrect")})),test("element accessors (distribute)",(function(){var e=document.createElement("x-project"),t=document.createElement("div");e.appendChild(t);var o=document.createElement("div"),r=document.createElement("div");e.insertBefore(o,t),e.appendChild(r),assert.equal(e.firstElementChild,o,"firstElementChild incorrect"),assert.equal(e.lastElementChild,r,"lastElementChild incorrect"),assert.equal(o.nextElementSibling,t,"nextElementSibling incorrect"),assert.equal(t.nextElementSibling,r,"nextElementSibling incorrect"),assert.equal(r.previousElementSibling,t,"previousElementSibling incorrect"),assert.equal(t.previousElementSibling,o,"previousElementSibling incorrect")})),test("node accessors (empty logical tree)",(function(){var e=document.createElement("x-simple");assert.equal(e.parentNode,null,"parentNode incorrect"),assert.equal(e.firstChild,null,"firstChild incorrect"),assert.equal(e.lastChild,null,"lastChild incorrect"),assert.equal(e.nextSibling,null,"nextSibling incorrect"),assert.equal(e.previousSibling,null,"previousSibling incorrect"),assert.equal(e.firstElementChild,null,"firstElementChild incorrect"),assert.equal(e.lastElementChild,null,"lastElementChild incorrect"),assert.equal(e.nextElementSibling,null,"nextElementSibling incorrect"),assert.equal(e.previousElementSibling,null,"previousElementSibling incorrect")})),test("node accessors (unmanaged logical tree)",(function(){var e=document.createElement("div"),t=document.createElement("div"),o=document.createElement("div");e.appendChild(t),e.appendChild(o),assert.equal(e.parentNode,null,"parentNode incorrect"),assert.equal(e.firstChild,t,"firstChild incorrect"),assert.equal(e.lastChild,o,"lastChild incorrect"),assert.equal(e.nextSibling,null,"nextSibling incorrect"),assert.equal(e.previousSibling,null,"previousSibling incorrect"),assert.equal(e.firstElementChild,t,"firstElementChild incorrect"),assert.equal(e.lastElementChild,o,"lastElementChild incorrect"),assert.equal(e.nextElementSibling,null,"nextElementSibling incorrect"),assert.equal(e.previousElementSibling,null,"previousElementSibling incorrect")})),test("textContent",(function(){var e=document.createElement("x-project");e.textContent="Hello World",assert.equal(e.textContent,"Hello World","textContent getter incorrect"),checkUnpatchedDom&&(Polymer.flush(),assert.equal(Polymer.TreeApi.Composed.getChildNodes(e)[1].textContent,"Hello World","text content setter incorrect")),e=createEnabledElement("x-commented"),assert.equal(e.root.textContent,"[]","text content getter with comment incorrect");var t=document.createTextNode("foo");assert.equal(t.textContent,"foo","text content getter on textnode incorrect"),t.textContent="bar",assert.equal(t.textContent,"bar","text content setter on textnode incorrect");var o=document.createComment("foo");assert.equal(o.textContent,"foo","text content getter on commentnode incorrect"),o.textContent="bar",assert.equal(o.textContent,"bar","text content setter on commentnode incorrect")})),test("innerHTML",(function(){var e=document.createElement("x-project");e.innerHTML="<div>Hello World</div><div>2</div><div>3</div>";var t=e.firstChild;if(assert.equal(t.textContent,"Hello World","innerHTML setter incorrect"),assert.equal(e.innerHTML,"<div>Hello World</div><div>2</div><div>3</div>","innerHTML getter incorrect"),checkUnpatchedDom){Polymer.flush();var o=Polymer.TreeApi.Composed.getChildNodes(e);assert.equal(o[1],t,"innerHTML setter composed incorrectly"),assert.equal(o[2].textContent,"2","innerHTML setter composed incorrectly"),assert.equal(o[3].textContent,"3","innerHTML setter composed incorrectly")}})),test("innerHTML (non-composed)",(function(){var e=document.createElement("div");document.body.appendChild(e),e.innerHTML="<div>Hello World</div><div>2</div><div>3</div>";var t=e.firstChild;assert.equal(t.textContent,"Hello World","innerHTML setter incorrect"),assert.equal(e.innerHTML,"<div>Hello World</div><div>2</div><div>3</div>","innerHTML getter incorrect"),assert.equal(e.children.length,3)}))})),suite("activeElement",(function(){var e,t,o,r,l,n,a,s,c,i,u,d,m,v,h,q;suiteSetup((function(){e=document.querySelector("x-shadow-host-root"),t=e.querySelector("x-shadow-host-root-light"),o=e.root.querySelector("x-shadow-host-root-0"),r=o.querySelector("x-shadow-host-root-0-light"),l=o.root.querySelector("x-shadow-host-root-0-0"),n=l.querySelector("x-shadow-host-root-0-0-light"),a=n.root.querySelector("x-shadow-host-root-0-0-light-0"),s=o.root.querySelector("x-shadow-host-root-0-1"),c=s.querySelector("x-shadow-host-root-0-1-light"),i=e.root.querySelector("x-shadow-host-root-1"),u=i.querySelector("x-shadow-host-root-1-light"),d=u.root.querySelector("x-shadow-host-root-1-light-0"),m=i.root.querySelector("x-shadow-host-root-1-0"),v=m.querySelector("x-shadow-host-root-1-0-light"),h=i.root.querySelector("x-shadow-host-root-1-1"),q=h.querySelector("x-shadow-host-root-1-1-light")})),test("r.focus()",(function(){e.focus(),assert.equal(document._activeElement,e,"document.activeElement === r"),assert.equal(e.root.activeElement,null,"r.root.activeElement === null"),assert.equal(o.root.activeElement,null,"r_0.root.activeElement === null"),assert.equal(l.root.activeElement,null,"r_0_0.root.activeElement === null"),assert.equal(s.root.activeElement,null,"r_0_1.root.activeElement === null"),assert.equal(i.root.activeElement,null,"r_1.root.activeElement === null"),assert.equal(m.root.activeElement,null,"r_1_0.root.activeElement === null"),assert.equal(h.root.activeElement,null,"r_1_1.root.activeElement === null")})),test("r_l.focus()",(function(){t.focus(),assert.equal(document._activeElement,t,"document.activeElement === r_l"),assert.equal(e.root.activeElement,null,"r.root.activeElement === null"),assert.equal(o.root.activeElement,null,"r_0.root.activeElement === null"),assert.equal(l.root.activeElement,null,"r_0_0.root.activeElement === null"),assert.equal(s.root.activeElement,null,"r_0_1.root.activeElement === null"),assert.equal(i.root.activeElement,null,"r_1.root.activeElement === null"),assert.equal(m.root.activeElement,null,"r_1_0.root.activeElement === null"),assert.equal(h.root.activeElement,null,"r_1_1.root.activeElement === null")})),test("r_0.focus()",(function(){o.focus(),assert.equal(document._activeElement,e,"document.activeElement === r"),assert.equal(e.root.activeElement,o,"r.root.activeElement === r_0"),assert.equal(o.root.activeElement,null,"r_0.root.activeElement === null"),assert.equal(l.root.activeElement,null,"r_0_0.root.activeElement === null"),assert.equal(s.root.activeElement,null,"r_0_1.root.activeElement === null"),assert.equal(i.root.activeElement,null,"r_1.root.activeElement === null"),assert.equal(m.root.activeElement,null,"r_1_0.root.activeElement === null"),assert.equal(h.root.activeElement,null,"r_1_1.root.activeElement === null")})),test("r_0_l.focus()",(function(){r.focus(),assert.equal(document._activeElement,e,"document.activeElement === r"),assert.equal(e.root.activeElement,r,"r.root.activeElement === r_0_l"),assert.equal(o.root.activeElement,null,"r_0.root.activeElement === null"),assert.equal(i.root.activeElement,null,"r_1.root.activeElement === null"),assert.equal(l.root.activeElement,null,"r_0_0.root.activeElement === null"),assert.equal(s.root.activeElement,null,"r_0_1.root.activeElement === null"),assert.equal(m.root.activeElement,null,"r_1_0.root.activeElement === null"),assert.equal(h.root.activeElement,null,"r_1_1.root.activeElement === null")})),test("r_0_0.focus()",(function(){l.focus(),assert.equal(document._activeElement,e,"document.activeElement === r"),assert.equal(e.root.activeElement,o,"r.root.activeElement === r_0"),assert.equal(o.root.activeElement,l,"r_0.root.activeElement === r_0_0"),assert.equal(l.root.activeElement,null,"r_0_0.root.activeElement === null"),assert.equal(s.root.activeElement,null,"r_0_1.root.activeElement === null"),assert.equal(i.root.activeElement,null,"r_1.root.activeElement === null"),assert.equal(m.root.activeElement,null,"r_1_0.root.activeElement === null"),assert.equal(h.root.activeElement,null,"r_1_1.root.activeElement === null")})),test("r_0_0_l.focus()",(function(){n.focus(),assert.equal(document._activeElement,e,"document.activeElement === r"),assert.equal(e.root.activeElement,o,"r.root.activeElement === r_0"),assert.equal(o.root.activeElement,n,"r_0.root.activeElement === r_0_0_l"),assert.equal(l.root.activeElement,null,"r_0_0.root.activeElement === null"),assert.equal(s.root.activeElement,null,"r_0_1.root.activeElement === null"),assert.equal(i.root.activeElement,null,"r_1.root.activeElement === null"),assert.equal(m.root.activeElement,null,"r_1_0.root.activeElement === null"),assert.equal(h.root.activeElement,null,"r_1_1.root.activeElement === null")})),test("r_0_0_l_0.focus()",(function(){a.focus(),assert.equal(document._activeElement,e,"document.activeElement === r"),assert.equal(e.root.activeElement,o,"r.root.activeElement === r_0"),assert.equal(o.root.activeElement,n,"r_0.root.activeElement === r_0_0_l"),assert.equal(l.root.activeElement,null,"r_0_0.root.activeElement === null"),assert.equal(n.root.activeElement,a,"r_0_0_l.root.activeElement === r_0_0_l_0"),assert.equal(s.root.activeElement,null,"r_0_1.root.activeElement === null"),assert.equal(i.root.activeElement,null,"r_1.root.activeElement === null"),assert.equal(m.root.activeElement,null,"r_1_0.root.activeElement === null"),assert.equal(h.root.activeElement,null,"r_1_1.root.activeElement === null")})),test("r_0_1.focus()",(function(){s.focus(),assert.equal(document._activeElement,e,"document.activeElement === r"),assert.equal(e.root.activeElement,o,"r.root.activeElement === r_0"),assert.equal(o.root.activeElement,s,"r_0.root.activeElement === r_0_1"),assert.equal(l.root.activeElement,null,"r_0_0.root.activeElement === null"),assert.equal(s.root.activeElement,null,"r_0_1.root.activeElement === null"),assert.equal(i.root.activeElement,null,"r_1.root.activeElement === null"),assert.equal(m.root.activeElement,null,"r_1_0.root.activeElement === null"),assert.equal(h.root.activeElement,null,"r_1_1.root.activeElement === null")})),test("r_0_1_l.focus()",(function(){c.focus(),assert.equal(document._activeElement,e,"document.activeElement === r"),assert.equal(e.root.activeElement,o,"r.root.activeElement === r_0"),assert.equal(o.root.activeElement,c,"r_0.root.activeElement === r_0_1_l"),assert.equal(l.root.activeElement,null,"r_0_0.root.activeElement === null"),assert.equal(s.root.activeElement,null,"r_0_1.root.activeElement === null"),assert.equal(i.root.activeElement,null,"r_1.root.activeElement === null"),assert.equal(m.root.activeElement,null,"r_1_0.root.activeElement === null"),assert.equal(h.root.activeElement,null,"r_1_1.root.activeElement === null")})),test("r_1.focus()",(function(){i.focus(),assert.equal(document._activeElement,e,"document.activeElement === r"),assert.equal(e.root.activeElement,i,"r.root.activeElement === r_1"),assert.equal(o.root.activeElement,null,"r_0.root.activeElement === null"),assert.equal(l.root.activeElement,null,"r_0_0.root.activeElement === null"),assert.equal(s.root.activeElement,null,"r_0_1.root.activeElement === null"),assert.equal(i.root.activeElement,null,"r_1.root.activeElement === null"),assert.equal(m.root.activeElement,null,"r_1_0.root.activeElement === null"),assert.equal(h.root.activeElement,null,"r_1_1.root.activeElement === null")})),test("r_1_l.focus()",(function(){u.focus(),assert.equal(document._activeElement,e,"document.activeElement === r"),assert.equal(e.root.activeElement,u,"r.root.activeElement === r_1_l"),assert.equal(o.root.activeElement,null,"r_0.root.activeElement === null"),assert.equal(l.root.activeElement,null,"r_0_0.root.activeElement === null"),assert.equal(s.root.activeElement,null,"r_0_1.root.activeElement === null"),assert.equal(i.root.activeElement,null,"r_1.root.activeElement === null"),assert.equal(m.root.activeElement,null,"r_1_0.root.activeElement === null"),assert.equal(h.root.activeElement,null,"r_1_1.root.activeElement === null")})),test("r_1_l_0.focus()",(function(){d.focus(),assert.equal(document._activeElement,e,"document.activeElement === r"),assert.equal(e.root.activeElement,u,"r.root.activeElement === r_1_l"),assert.equal(o.root.activeElement,null,"r_0.root.activeElement === null"),assert.equal(l.root.activeElement,null,"r_0_0.root.activeElement === null"),assert.equal(s.root.activeElement,null,"r_0_1.root.activeElement === null"),assert.equal(i.root.activeElement,null,"r_1.root.activeElement === null"),assert.equal(u.root.activeElement,d,"r_1.root.activeElement === r_1_l_0"),assert.equal(m.root.activeElement,null,"r_1_0.root.activeElement === null"),assert.equal(h.root.activeElement,null,"r_1_1.root.activeElement === null")})),test("r_1_0.focus()",(function(){m.focus(),assert.equal(document._activeElement,e,"document.activeElement === r"),assert.equal(e.root.activeElement,i,"r.root.activeElement === r_1"),assert.equal(o.root.activeElement,null,"r_0.root.activeElement === null"),assert.equal(l.root.activeElement,null,"r_0_0.root.activeElement === null"),assert.equal(s.root.activeElement,null,"r_0_1.root.activeElement === null"),assert.equal(i.root.activeElement,m,"r_1.root.activeElement === r_1_0"),assert.equal(m.root.activeElement,null,"r_1_0.root.activeElement === null"),assert.equal(h.root.activeElement,null,"r_1_1.root.activeElement === null")})),test("r_1_0_l.focus()",(function(){v.focus(),assert.equal(document._activeElement,e,"document.activeElement === r"),assert.equal(e.root.activeElement,i,"r.root.activeElement === r_1"),assert.equal(o.root.activeElement,null,"r_0.root.activeElement === null"),assert.equal(l.root.activeElement,null,"r_0_0.root.activeElement === null"),assert.equal(s.root.activeElement,null,"r_0_1.root.activeElement === null"),assert.equal(i.root.activeElement,v,"r_1.root.activeElement === r_1_0_l"),assert.equal(m.root.activeElement,null,"r_1_0.root.activeElement === null"),assert.equal(h.root.activeElement,null,"r_1_1.root.activeElement === null")})),test("r_1_1.focus()",(function(){h.focus(),assert.equal(document._activeElement,e,"document.activeElement === r"),assert.equal(e.root.activeElement,i,"r.root.activeElement === r_1"),assert.equal(o.root.activeElement,null,"r_0.root.activeElement === null"),assert.equal(l.root.activeElement,null,"r_0_0.root.activeElement === null"),assert.equal(s.root.activeElement,null,"r_0_1.root.activeElement === null"),assert.equal(i.root.activeElement,h,"r_1.root.activeElement === r_1_1"),assert.equal(m.root.activeElement,null,"r_1_0.root.activeElement === null"),assert.equal(h.root.activeElement,null,"r_1_1.root.activeElement === null")})),test("r_1_1_l.focus()",(function(){q.focus(),assert.equal(document._activeElement,e,"document.activeElement === r"),assert.equal(e.root.activeElement,i,"r.root.activeElement === r_1"),assert.equal(o.root.activeElement,null,"r_0.root.activeElement === null"),assert.equal(l.root.activeElement,null,"r_0_0.root.activeElement === null"),assert.equal(s.root.activeElement,null,"r_0_1.root.activeElement === null"),assert.equal(i.root.activeElement,q,"r_1.root.activeElement === r_1_1_l"),assert.equal(m.root.activeElement,null,"r_1_0.root.activeElement === null"),assert.equal(h.root.activeElement,null,"r_1_1.root.activeElement === null")})),test("setting activeElement on document has no effect",(function(){h.focus();try{document.activeElement="abc"}catch(e){}assert.equal(document._activeElement,e,"document.activeElement === r"),assert.equal(e.root.activeElement,i,"r.root.activeElement === r_1"),assert.equal(o.root.activeElement,null,"r_0.root.activeElement === null"),assert.equal(l.root.activeElement,null,"r_0_0.root.activeElement === null"),assert.equal(s.root.activeElement,null,"r_0_1.root.activeElement === null"),assert.equal(i.root.activeElement,h,"r_1.root.activeElement === r_1_1"),assert.equal(m.root.activeElement,null,"r_1_0.root.activeElement === null"),assert.equal(h.root.activeElement,null,"r_1_1.root.activeElement === null")})),test("setting activeElement on a shadow root has no effect",(function(){h.focus();try{i.root.activeElement="abc"}catch(e){}assert.equal(document._activeElement,e,"document.activeElement === r"),assert.equal(e.root.activeElement,i,"r.root.activeElement === r_1"),assert.equal(o.root.activeElement,null,"r_0.root.activeElement === null"),assert.equal(l.root.activeElement,null,"r_0_0.root.activeElement === null"),assert.equal(s.root.activeElement,null,"r_0_1.root.activeElement === null"),assert.equal(i.root.activeElement,h,"r_1.root.activeElement === r_1_1"),assert.equal(m.root.activeElement,null,"r_1_0.root.activeElement === null"),assert.equal(h.root.activeElement,null,"r_1_1.root.activeElement === null")}))})),suite("non-distributed elements",(function(){var e;suiteSetup((function(){e=document.querySelector("#noDistribute")})),test("finds undistributed child",(function(){assert.ok(e.children.length,2,"light children includes distributed and non-distributed nodes")})),test("removes/adds undistributed child",(function(){var t=e.children[0];assert.equal(allInsertionPoints(t).length,0,"element improperly distributed"),e.removeChild(t),Polymer.flush(),assert.equal(e.children.length,1,"children length not decremented due to element removal"),e.appendChild(t),Polymer.flush(),assert.equal(e.children.length,2,"children length not incremented due to element addition");var o=document.createElement("div");o.innerHTML="added",e.insertBefore(o,t),Polymer.flush(),assert.equal(e.children.length,3,"children length not incremented due to element addition"),e.removeChild(o),Polymer.flush(),assert.equal(e.children.length,2,"children length not decremented due to element removal")})),test("removes/adds between light and local dom",(function(){var t=e.children[1];assert.equal(allInsertionPoints(t).length,0,"element improperly distributed"),e.root.appendChild(t),Polymer.flush(),assert.equal(e.children.length,1,"children length not decremented due to element removal"),assert.equal(e.root.children.length,2,"root children length not incremented due to element addition"),e.appendChild(t),Polymer.flush(),assert.equal(e.children.length,2,"children length not incremented due to element addition"),assert.equal(e.root.children.length,1,"root children length not decremented due to element removal")})),test("modifying slots correctly distributes changes to light dom",(function(){function e(){assert.equal(allInsertionPoints(r)[0],o.$.notTestContent,"child not distributed logically"),checkUnpatchedDom&&assert.equal(Polymer.TreeApi.Composed.getParentNode(r),o.$.notTestContainer,"child not rendered in composed dom")}function t(){assert.equal(allInsertionPoints(r)[0],o.$.testContent,"child not distributed logically"),checkUnpatchedDom&&assert.equal(Polymer.TreeApi.Composed.getParentNode(r),o.$.testContainer,"child not rendered in composed dom")}var o=document.createElement("x-distribute");document.body.appendChild(o);var r=document.createElement("div");r.classList.add("child"),r.textContent="Child",o.appendChild(r),Polymer.flush(),assert.equal(o.children[0],r,"child not added to logical dom"),e(),r.setAttribute("slot","test"),Polymer.flush(),t(),r.removeAttribute("slot"),Polymer.flush(),e(),r.setAttribute("slot","test"),Polymer.flush(),t()})),test("getRootNode",(function(){var e=document.createElement("div"),t=createEnabledElement("x-compose"),o=createEnabledElement("x-compose");t.$.project.appendChild(e),Polymer.flush(),assert.equal(e.getRootNode(),t.root,"getOwnerRoot incorrect for child added to element in root"),o.$.project.appendChild(e),Polymer.flush(),assert.equal(e.getRootNode(),o.root,"getOwnerRoot not correctly reset when element moved to different root"),t.appendChild(e),assert.equal(e.getRootNode(),t,"getOwnerRoot incorrect for child moved from a root to no root")})),test("getRootNode when out of tree",(function(){var e=document.createElement("div");assert.equal(e.getRootNode(),e,"getOwnerRoot incorrect when not in root");var t=createEnabledElement("x-compose"),o=t.$.project;o.appendChild(e),Polymer.flush(),assert.equal(e.getRootNode(),t.root,"getOwnerRoot incorrect for child added to element in root"),o.removeChild(e),Polymer.flush(),assert.equal(e.getRootNode(),e,"getOwnerRoot incorrect for child moved from a root to no root"),o.appendChild(e),Polymer.flush(),assert.equal(e.getRootNode(),t.root,"getOwnerRoot incorrect for child added to element in root")})),test("getRootNode when out of tree and adding subtree",(function(){var e=document.createDocumentFragment(),t=document.createElement("div");e.appendChild(t),assert.equal(t.getRootNode(),e,"getOwnerRoot incorrect when not in root");var o=createEnabledElement("x-compose"),r=o.$.project;r.appendChild(e),Polymer.flush(),assert.equal(t.getRootNode(),o.root,"getOwnerRoot incorrect for child added to element in root"),r.removeChild(t),Polymer.flush(),assert.equal(t.getRootNode(),t,"getOwnerRoot incorrect for child moved from a root to no root"),r.appendChild(t),Polymer.flush(),assert.equal(t.getRootNode(),o.root,"getOwnerRoot incorrect for child added to element in root")})),test("getRootNode, subtree",(function(){var e=document.createElement("div"),t=document.createElement("div");e.appendChild(t),assert.equal(e.getRootNode(),e,"getOwnerRoot incorrect when not in root");var o=createEnabledElement("x-compose"),r=o.$.project;r.appendChild(e),Polymer.flush(),assert.equal(e.getRootNode(),o.root,"getOwnerRoot incorrect for child added to element in root"),assert.equal(t.getRootNode(),o.root,"getOwnerRoot incorrect for sub-child added to element in root"),r.removeChild(e),Polymer.flush(),assert.equal(e.getRootNode(),e,"getOwnerRoot incorrect for child moved from a root to no root"),assert.equal(t.getRootNode(),e,"getOwnerRoot incorrect for sub-child moved from a root to no root"),r.appendChild(e),Polymer.flush(),assert.equal(e.getRootNode(),o.root,"getOwnerRoot incorrect for child added to element in root"),assert.equal(t.getRootNode(),o.root,"getOwnerRoot incorrect for sub-child added to element in root")})),test("getRootNode (paper-ripple use case)",(function(){var e=document.createElement("div"),t=document.createElement("div");e.appendChild(t);var o=createEnabledElement("x-compose"),r=createEnabledElement("x-compose");o.$.project.appendChild(e),Polymer.flush(),assert.equal(e.getRootNode(),o.root,"getOwnerRoot incorrect for child added to element in root"),r.$.project.appendChild(e),Polymer.flush(),assert.equal(e.getRootNode(),r.root,"getOwnerRoot not correctly reset when element moved to different root"),o.appendChild(e),assert.equal(e.getRootNode(),o,"getOwnerRoot incorrect for child moved from a root to no root")})),test("getDestinationInsertionPoints on non-distributable element",(function(){var e=document.createElement("div");assert.equal(allInsertionPoints(e).length,0),assert.equal(allInsertionPoints(document).length,0)})),test("(Polymer.dom) Deep Contains",(function(){var e=document.querySelector("x-deep-contains"),t=e.$.shadowed,o=e.querySelector("[slot=light]"),r=e.children[1],l=document.createElement("div"),n=document.createElement("div");document.body.appendChild(n);var a=Polymer.dom(e);assert.equal(a.deepContains(e),!0,"Element should deepContain itself"),assert.equal(a.deepContains(t),!0,"Shadowed Child element should be found"),assert.equal(a.deepContains(o),!0,"Light Child element should be found"),assert.equal(a.deepContains(r),!0,"Non-distributed child element should be found"),assert.equal(a.deepContains(l),!1,"Disconnected element should not be found"),assert.equal(a.deepContains(n),!1,"Unassociated, attached element should not be found"),document.body.removeChild(n)}))}))</script>

</body>
</html>
