<!doctype html>

<html>
<head>
  <meta charset="utf-8">
  <script>window.customElements&&(customElements.forcePolyfill=!0),window.ShadyDOM={force:!0}</script>
  <script src="../../../webcomponentsjs/webcomponents-lite.js"></script>
  <script src="../../../web-component-tester/browser.js"></script>
  <link rel="import" href="../../polymer.html">
</head>
<body>

<dom-module id="x-dist">
  <template>
    x-dist
    <div id="distWrapper"><slot id="content"></slot></div>
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-dist"})}))</script>
</dom-module>

<dom-module id="x-dist-simple">
  <template>
    <slot id="content"></slot>
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-dist-simple"})}))</script>
</dom-module>

<dom-module id="x-dist-star">
  <template><slot></slot></template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-dist-star"})}))</script>
</dom-module>

<dom-module id="x-dist-inside-deep-tree">
  <template>
    x-dist-inside-deep-tree
    <div></div>
    <div>
      <div>
        <div>
          <div id="distWrapper"><slot id="content"></slot></div>
        </div>
      </div>
    </div>
    <div></div>
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-dist-inside-deep-tree"})}))</script>
</dom-module>

<dom-module id="x-no-dist">
  <template><span id="static">x-no-dist</span></template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-no-dist"})}))</script>
</dom-module>

<dom-module id="x-compose-dist">
  <template>
    <x-dist id="dist"></x-dist>
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-compose-dist"})}))</script>
</dom-module>

<dom-module id="x-compose-no-dist">
  <template>
    <x-no-dist id="noDist"></x-no-dist>
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-compose-no-dist"})}))</script>
</dom-module>

<dom-module id="x-dynamic-content">
  <template>
    <div>
      <div>
        <div>
          <div id="container">
            <template is="dom-if" id="domif">
              <slot name="insert" id="dynamicContent"></slot>
            </template>
          </div>
        </div>
      </div>
    </div>
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-dynamic-content"})}))</script>
</dom-module>

<dom-module id="x-dynamic-content-wrapped">
  <template>
    <div>
      <template is="dom-if" id="domif">
        <div id="container">
          <slot name="insert"></slot>
        </div>
      </template>
    </div>
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-dynamic-content-wrapped"})}))</script>
</dom-module>

<dom-module id="x-dynamic-content-redist">
  <template>
    <x-dynamic-content id="redistContainer">
      <template is="dom-if" id="redistDomif">
        <slot name="insert" id="redistContent"></slot>
      </template>
    </x-dynamic-content>
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-dynamic-content-redist"})}))</script>
</dom-module>

<dom-module id="x-dynamic-content-redist-element">
  <template>
    <template is="dom-if" id="redistDomif">
      <x-dist id="redistContainer">
        <slot name="insert" id="redistContent"></slot>
      </x-dist>
    </template>
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-dynamic-content-redist-element"})}))</script>
</dom-module>

<dom-module id="x-dynamic-content-and-dynamic-no-content">
  <template>
    <div id="container">
      <template is="dom-if" id="staticIf" restamp>
        <div id="static">static</div>
      </template>
      <template is="dom-if" id="contentIf" restamp>
        <slot name="one"></slot>
      </template>
    </div>
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-dynamic-content-and-dynamic-no-content"})}))</script>
</dom-module>

<dom-module id="x-multi-dist">
  <template>
    <x-dist id="dist1"><slot id="content1"></slot></x-dist>
    <x-dist id="dist2"><slot id="content2"></slot></x-dist>
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-multi-dist"})}))</script>
</dom-module>

<dom-module id="x-lazy-no-dist">
  <template>
    Lazy no dist!
  </template>
</dom-module>

<dom-module id="x-compose-lazy-no-dist">
  <template>
    <x-lazy-no-dist id="lazy">
      <slot></slot>
    </x-lazy-no-dist>
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-compose-lazy-no-dist"})}))</script>
</dom-module>

<dom-module id="x-toggle-if">
  <template>
    <div id="container1">
      <template id="foo" is="dom-if" if="{{foo}}" restamp>
        <span>foo</span>
        <slot id="1.1" name="one"></slot>
        <slot id="1.2" name="two"></slot>
      </template>
    </div>
    <div id="container2">
      <template id="notFoo" is="dom-if" if="{{!foo}}" restamp>
        <span>Not foo</span>
        <slot id="2.1" name="one"></slot>
        <slot id="2.2" name="two"></slot>
      </template>
    </div>
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-toggle-if",properties:{foo:{type:Boolean,value:!0}}})}))</script>
</dom-module>

<dom-module id="x-repeat">
  <template>
    <x-dist-inside-deep-tree id="dist">
      <template is="dom-repeat" items="{{items}}"><div>{{item}}</div></template>
    </x-dist-inside-deep-tree>
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-repeat",properties:{items:{type:Array,value:["ITEM1","ITEM2","ITEM3"]}}})}))</script>
</dom-module>

<dom-module id="x-repeat2">
  <template>
    <x-dist-star id="dist">
      <template is="dom-repeat" items="{{items}}">
        <div>{{item}}</div>
      </template>
    </x-dist-star>
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-repeat2",properties:{items:{type:Array,value:["ITEM1","ITEM2","ITEM3"]}}})}))</script>
</dom-module>

<x-repeat2 id="repeat2"></x-repeat2>

<x-compose-lazy-no-dist><span>Child</span></x-compose-lazy-no-dist>

<script>window.ShadyDOM||(ShadyDOM={patch:function(){},flush:function(){}})</script>
<script>function createPatchedDocumentFragment(){return document.createDocumentFragment()}suite("appendChild & removeChild of <slot>",(function(){test("append div to distributing element",(function(){var e=document.createElement("x-dist");document.body.appendChild(e);var t=document.createElement("div");e.appendChild(t),ShadyDOM.flush();var d=document.createElement("div");t.appendChild(d),ShadyDOM.flush(),e.removeChild(t),ShadyDOM.flush(),document.body.removeChild(e)})),test("append div to non-distributing element",(function(){var e=document.createElement("x-no-dist");document.body.appendChild(e);var t=document.createElement("div");e.appendChild(t),ShadyDOM.flush();var d=document.createElement("div");t.appendChild(d),ShadyDOM.flush(),e.removeChild(t),ShadyDOM.flush(),document.body.removeChild(e)})),test("append div to shady root of distributing element",(function(){var e=document.createElement("x-dist");document.body.appendChild(e);var t=document.createElement("div");e.root.appendChild(t),ShadyDOM.flush();var d=document.createElement("div");t.appendChild(d),ShadyDOM.flush(),e.root.removeChild(t),ShadyDOM.flush(),document.body.removeChild(e)})),test("append div to shady root of non-distributing element",(function(){var e=document.createElement("x-no-dist");document.body.appendChild(e);var t=document.createElement("div");e.root.appendChild(t),ShadyDOM.flush();var d=document.createElement("div");t.appendChild(d),ShadyDOM.flush(),e.root.removeChild(t),ShadyDOM.flush(),document.body.removeChild(e)})),test("append div to distributing element in root",(function(){var e=document.createElement("x-compose-dist");document.body.appendChild(e);var t=document.createElement("div");e.$.dist.appendChild(t),ShadyDOM.flush();var d=document.createElement("div");t.appendChild(d),ShadyDOM.flush(),e.$.dist.removeChild(t),ShadyDOM.flush(),document.body.removeChild(e)})),test("append div to non-distributing element in root",(function(){var e=document.createElement("x-compose-no-dist");document.body.appendChild(e);var t=document.createElement("div");e.$.noDist.appendChild(t),ShadyDOM.flush();var d=document.createElement("div");t.appendChild(d),ShadyDOM.flush(),e.$.noDist.removeChild(t),ShadyDOM.flush(),document.body.removeChild(e)})),test("append slot to shady root of element (div first)",(function(){var e=document.createElement("x-no-dist");document.body.appendChild(e);var t=document.createElement("div");t.name="insert",e.appendChild(t),ShadyDOM.flush();var d=document.createElement("slot");d.setAttribute("name","insert"),e.root.appendChild(d),ShadyDOM.flush(),e.root.removeChild(d),ShadyDOM.flush(),document.body.removeChild(e)})),test("append slot to shady root of element (slot first)",(function(){var e=document.createElement("x-no-dist");document.body.appendChild(e);var t=document.createElement("slot");t.setAttribute("name","insert"),e.root.appendChild(t);var d=document.createElement("div");d.name="insert",e.appendChild(d),ShadyDOM.flush(),e.root.removeChild(t),ShadyDOM.flush(),document.body.removeChild(e)})),test("append slot to div in shady root of element (div first)",(function(){var e=document.createElement("x-no-dist");document.body.appendChild(e);var t=document.createElement("div");t.name="insert",e.appendChild(t),ShadyDOM.flush();var d=document.createElement("slot");d.setAttribute("name","insert"),e.$.static.appendChild(d),ShadyDOM.flush(),e.$.static.removeChild(d),ShadyDOM.flush(),document.body.removeChild(e)})),test("append slot to div in shady root of element (slot first)",(function(){var e=document.createElement("x-no-dist");document.body.appendChild(e);var t=document.createElement("slot");t.setAttribute("name","insert"),e.$.static.appendChild(t);var d=document.createElement("div");d.name="insert",e.appendChild(d),ShadyDOM.flush(),e.$.static.removeChild(t),ShadyDOM.flush(),document.body.removeChild(e)})),test("append slot in fragment to shady root of element (div first)",(function(){var e=document.createElement("x-no-dist");document.body.appendChild(e);var t=document.createElement("div");t.name="insert",e.appendChild(t),ShadyDOM.flush();var d=document.createDocumentFragment(),n=document.createElement("slot");n.setAttribute("name","insert"),d.appendChild(n),e.root.appendChild(d),ShadyDOM.flush(),e.root.removeChild(n),ShadyDOM.flush(),document.body.removeChild(e)})),test("append slot in fragment to shady root of element (slot first)",(function(){var e=document.createElement("x-no-dist");document.body.appendChild(e);var t=document.createDocumentFragment(),d=document.createElement("slot");d.setAttribute("name","insert"),t.appendChild(d),e.root.appendChild(t);var n=document.createElement("div");n.name="insert",e.appendChild(n),ShadyDOM.flush(),e.root.removeChild(d),ShadyDOM.flush(),document.body.removeChild(e)})),test("append wrapped slot to shady root of element (div first)",(function(){var e=document.createElement("x-no-dist");document.body.appendChild(e);var t=document.createElement("div");t.name="insert",e.appendChild(t),ShadyDOM.flush();var d=document.createDocumentFragment(),n=document.createElement("div"),a=document.createElement("slot");a.setAttribute("name","insert"),n.appendChild(a),d.appendChild(n),e.root.appendChild(d),ShadyDOM.flush(),e.root.removeChild(n),ShadyDOM.flush(),document.body.removeChild(e)})),test("append wrapped slot to shady root of element (slot first)",(function(){var e=document.createElement("x-no-dist");document.body.appendChild(e);var t=document.createDocumentFragment(),d=document.createElement("div"),n=document.createElement("slot");n.setAttribute("name","insert"),d.appendChild(n),t.appendChild(d),e.root.appendChild(t);var a=document.createElement("div");a.name="insert",e.appendChild(a),ShadyDOM.flush(),e.root.removeChild(d),ShadyDOM.flush(),document.body.removeChild(e)})),test("append wrapped slot to div in shady root of element (div first)",(function(){var e=document.createElement("x-no-dist");document.body.appendChild(e);var t=document.createElement("div");t.name="insert",e.appendChild(t),ShadyDOM.flush();var d=document.createDocumentFragment(),n=document.createElement("div"),a=document.createElement("slot");a.setAttribute("name","insert"),n.appendChild(a),d.appendChild(n),e.$.static.appendChild(d),ShadyDOM.flush(),e.$.static.removeChild(n),ShadyDOM.flush(),document.body.removeChild(e)})),test("append wrapped slot to div in shady root of element (slot first)",(function(){var e=document.createElement("x-no-dist");document.body.appendChild(e);var t=document.createDocumentFragment(),d=document.createElement("div"),n=document.createElement("slot");n.setAttribute("name","insert"),d.appendChild(n),t.appendChild(d),e.$.static.appendChild(t);var a=document.createElement("div");a.name="insert",e.appendChild(a),ShadyDOM.flush(),e.$.static.removeChild(d),ShadyDOM.flush(),document.body.removeChild(e)})),test("append slot to non-distributing element in shady root of composed element (div first)",(function(){var e=document.createElement("x-compose-no-dist");document.body.appendChild(e);var t=document.createElement("div");t.name="insert",e.appendChild(t),ShadyDOM.flush();var d=document.createElement("slot");d.setAttribute("name","insert"),e.$.noDist.appendChild(d),ShadyDOM.flush(),e.$.noDist.removeChild(d),ShadyDOM.flush(),document.body.removeChild(e)})),test("append slot to non-distributing element in shady root of composed element (slot first)",(function(){var e=document.createElement("x-compose-no-dist");document.body.appendChild(e);var t=document.createElement("slot");t.setAttribute("name","insert"),e.$.noDist.appendChild(t);var d=document.createElement("div");d.name="insert",e.appendChild(d),ShadyDOM.flush(),e.$.noDist.removeChild(t),ShadyDOM.flush(),document.body.removeChild(e)})),test("append wrapped slot to non-distributing element in shady root of composed element (div first)",(function(){var e=document.createElement("x-compose-no-dist");document.body.appendChild(e);var t=document.createElement("div");t.name="insert",e.appendChild(t),ShadyDOM.flush();var d=document.createDocumentFragment(),n=document.createElement("div"),a=document.createElement("slot");a.setAttribute("name","insert"),n.appendChild(a),d.appendChild(n),e.$.noDist.appendChild(d),ShadyDOM.flush(),e.$.noDist.removeChild(n),ShadyDOM.flush(),document.body.removeChild(e)})),test("append wrapped slot to non-distributing element in shady root of composed element (slot first)",(function(){var e=document.createElement("x-compose-no-dist");document.body.appendChild(e);var t=document.createDocumentFragment(),d=document.createElement("div"),n=document.createElement("slot");n.setAttribute("name","insert"),d.appendChild(n),t.appendChild(d),e.$.noDist.appendChild(t);var a=document.createElement("div");a.name="insert",e.appendChild(a),ShadyDOM.flush(),e.$.noDist.removeChild(d),ShadyDOM.flush(),document.body.removeChild(e)})),test("append slot to distributing element in shady root of composed element (div first)",(function(){var e=document.createElement("x-compose-dist");document.body.appendChild(e);var t=document.createElement("div");t.name="insert",e.appendChild(t),ShadyDOM.flush();var d=document.createElement("slot");d.setAttribute("name","insert"),e.$.dist.appendChild(d),ShadyDOM.flush(),e.$.dist.removeChild(d),ShadyDOM.flush(),document.body.removeChild(e)})),test("append slot to distributing element in shady root of composed element (slot first)",(function(){var e=document.createElement("x-compose-dist");document.body.appendChild(e);var t=document.createElement("slot");t.setAttribute("name","insert"),e.$.dist.appendChild(t);var d=document.createElement("div");d.name="insert",e.appendChild(d),ShadyDOM.flush(),e.$.dist.removeChild(t),ShadyDOM.flush(),document.body.removeChild(e)})),test("append wrapped slot to distributing element in shady root of composed element (div first)",(function(){var e=document.createElement("x-compose-dist");document.body.appendChild(e);var t=document.createElement("div");t.name="insert",e.appendChild(t),ShadyDOM.flush();var d=document.createDocumentFragment(),n=document.createElement("div"),a=document.createElement("slot");a.setAttribute("name","insert"),n.appendChild(a),d.appendChild(n),e.$.dist.appendChild(d),ShadyDOM.flush(),e.$.dist.removeChild(n),ShadyDOM.flush(),document.body.removeChild(e)})),test("append wrapped slot to distributing element in shady root of composed element (slot first)",(function(){var e=document.createElement("x-compose-dist");document.body.appendChild(e);var t=document.createDocumentFragment(),d=document.createElement("div"),n=document.createElement("slot");n.setAttribute("name","insert"),d.appendChild(n),t.appendChild(d),e.$.dist.appendChild(t);var a=document.createElement("div");a.name="insert",e.appendChild(a),ShadyDOM.flush(),e.$.dist.removeChild(d),ShadyDOM.flush(),document.body.removeChild(e)})),test("append slot to initially un-upgraded element",(function(){var e=document.querySelector("x-compose-lazy-no-dist"),t=e.firstElementChild;Polymer({is:"x-lazy-no-dist"});var d=document.createElement("slot");e.$.lazy.root.appendChild(d),ShadyDOM.flush(),assert.equal(d.assignedNodes({flatten:!0})[1],t)})),test("composed children distributed",(function(){var e=document.createElement("x-dist");document.body.appendChild(e);var t=document.createElement("span"),d=document.createDocumentFragment(),n=document.createElement("span"),a=document.createElement("span"),s=document.createElement("span");d.appendChild(n),d.appendChild(a),d.appendChild(s),e.appendChild(t),e.insertBefore(d,t),ShadyDOM.flush(),e.removeChild(n),e.removeChild(a),e.removeChild(s),ShadyDOM.flush()})),test("composed children added but not distributed",(function(){var e=document.createElement("x-dist");document.body.appendChild(e);var t=document.createElement("span"),d=document.createDocumentFragment(),n=document.createElement("span"),a=document.createElement("span"),s=document.createElement("span");d.appendChild(n),d.appendChild(a),d.appendChild(s),e.$.distWrapper.appendChild(t),e.$.distWrapper.insertBefore(d,t),ShadyDOM.flush(),e.$.distWrapper.removeChild(n),e.$.distWrapper.removeChild(a),e.$.distWrapper.removeChild(s),ShadyDOM.flush()})),test("moving children between distributing hosts",(function(){var e=document.createElement("x-dist"),t=document.createElement("x-dist");document.body.appendChild(e),document.body.appendChild(t),ShadyDOM.flush();var d=document.createElement("div");e.appendChild(d),ShadyDOM.flush(),assert.equal(e.childNodes.length,1),assert.equal(e.firstElementChild,d),assert.deepEqual(e.$.content.assignedNodes({flatten:!0}),[d]),assert.equal(t.childNodes.length,0),assert.deepEqual(t.$.content.assignedNodes({flatten:!0}).length,0),t.appendChild(d),ShadyDOM.flush(),assert.equal(t.childNodes.length,1),assert.equal(t.firstElementChild,d),assert.deepEqual(t.$.content.assignedNodes({flatten:!0}),[d]),assert.equal(e.childNodes.length,0),assert.deepEqual(e.$.content.assignedNodes({flatten:!0}).length,0),e.appendChild(d),ShadyDOM.flush(),assert.equal(e.childNodes.length,1),assert.equal(e.firstElementChild,d),assert.deepEqual(e.$.content.assignedNodes({flatten:!0}),[d]),assert.equal(t.childNodes.length,0),assert.deepEqual(t.$.content.assignedNodes({flatten:!0}).length,0),t.appendChild(d),ShadyDOM.flush(),assert.equal(t.childNodes.length,1),assert.equal(t.firstElementChild,d),assert.deepEqual(t.$.content.assignedNodes({flatten:!0}),[d]),assert.equal(e.childNodes.length,0),assert.deepEqual(e.$.content.assignedNodes({flatten:!0}).length,0),document.body.removeChild(e),document.body.removeChild(t)})),test("moving children between distributing hosts (parsed child)",(function(){var e=document.createElement("div");e.innerHTML="<x-dist><div></div></x-dist>";var t=e.firstChild,d=document.createElement("x-dist");document.body.appendChild(e),document.body.appendChild(d),ShadyDOM.flush();var n=t.firstElementChild;assert.equal(n.localName,"div"),assert.equal(t.childNodes.length,1),assert.equal(t.firstElementChild,n),assert.deepEqual(t.$.content.assignedNodes({flatten:!0}),[n]),assert.equal(d.childNodes.length,0),assert.deepEqual(d.$.content.assignedNodes({flatten:!0}).length,0),d.appendChild(n),ShadyDOM.flush(),assert.equal(d.childNodes.length,1),assert.equal(d.firstElementChild,n),assert.deepEqual(d.$.content.assignedNodes({flatten:!0}),[n]),assert.equal(t.childNodes.length,0),assert.deepEqual(t.$.content.assignedNodes({flatten:!0}).length,0),t.appendChild(n),ShadyDOM.flush(),assert.equal(t.childNodes.length,1),assert.equal(t.firstElementChild,n),assert.deepEqual(t.$.content.assignedNodes({flatten:!0}),[n]),assert.equal(d.childNodes.length,0),assert.deepEqual(d.$.content.assignedNodes({flatten:!0}).length,0),d.appendChild(n),ShadyDOM.flush(),assert.equal(d.childNodes.length,1),assert.equal(d.firstElementChild,n),assert.deepEqual(d.$.content.assignedNodes({flatten:!0}),[n]),assert.equal(t.childNodes.length,0),assert.deepEqual(t.$.content.assignedNodes({flatten:!0}).length,0),document.body.removeChild(e),document.body.removeChild(d)})),test("moving children between distributing host and fragment",(function(){var e=document.createElement("x-dist"),t=createPatchedDocumentFragment();document.body.appendChild(e),ShadyDOM.flush();var d=document.createElement("div");e.appendChild(d),ShadyDOM.flush(),assert.equal(e.childNodes.length,1),assert.equal(e.firstElementChild,d),assert.deepEqual(e.$.content.assignedNodes({flatten:!0}),[d]),assert.equal(t.childNodes.length,0),t.appendChild(d),ShadyDOM.flush(),assert.equal(t.childNodes.length,1),assert.equal(t.firstChild,d),assert.equal(e.childNodes.length,0),assert.deepEqual(e.$.content.assignedNodes({flatten:!0}).length,0),e.appendChild(d),ShadyDOM.flush(),assert.equal(e.childNodes.length,1),assert.equal(e.firstElementChild,d),assert.deepEqual(e.$.content.assignedNodes({flatten:!0}),[d]),assert.equal(t.childNodes.length,0),t.appendChild(d),ShadyDOM.flush(),assert.equal(t.childNodes.length,1),assert.equal(t.firstChild,d),assert.equal(e.childNodes.length,0),assert.deepEqual(e.$.content.assignedNodes({flatten:!0}).length,0),document.body.removeChild(e)})),test("moving children between distributing host and fragment (parsed child)",(function(){var e=document.createElement("div");e.innerHTML="<x-dist><div></div></x-dist>";var t=e.firstChild,d=createPatchedDocumentFragment();document.body.appendChild(t),ShadyDOM.flush();var n=t.firstElementChild;assert.equal(n.localName,"div"),assert.equal(t.childNodes.length,1),assert.equal(t.firstElementChild,n),assert.deepEqual(t.$.content.assignedNodes({flatten:!0}),[n]),assert.equal(d.childNodes.length,0),d.appendChild(n),ShadyDOM.flush(),assert.equal(d.childNodes.length,1),assert.equal(d.firstChild,n),assert.equal(t.childNodes.length,0),assert.deepEqual(t.$.content.assignedNodes({flatten:!0}).length,0),t.appendChild(n),ShadyDOM.flush(),assert.equal(t.childNodes.length,1),assert.equal(t.firstElementChild,n),assert.deepEqual(t.$.content.assignedNodes({flatten:!0}),[n]),assert.equal(d.childNodes.length,0),d.appendChild(n),ShadyDOM.flush(),assert.equal(d.childNodes.length,1),assert.equal(d.firstChild,n),assert.equal(t.childNodes.length,0),assert.deepEqual(t.$.content.assignedNodes({flatten:!0}).length,0),document.body.removeChild(t)})),test("moving children between distributing hosts with deep insertion points",(function(){var e=document.createElement("x-dist-inside-deep-tree"),t=document.createElement("x-dist-inside-deep-tree");document.body.appendChild(e),document.body.appendChild(t),ShadyDOM.flush();var d=document.createElement("div");e.appendChild(d),ShadyDOM.flush(),assert.equal(e.childNodes.length,1),assert.equal(e.firstElementChild,d),assert.deepEqual(e.$.content.assignedNodes({flatten:!0}),[d]),assert.equal(t.childNodes.length,0),assert.deepEqual(t.$.content.assignedNodes({flatten:!0}).length,0),t.appendChild(d),ShadyDOM.flush(),assert.equal(t.childNodes.length,1),assert.equal(t.firstElementChild,d),assert.deepEqual(t.$.content.assignedNodes({flatten:!0}),[d]),assert.equal(e.childNodes.length,0),assert.deepEqual(e.$.content.assignedNodes({flatten:!0}).length,0),e.appendChild(d),ShadyDOM.flush(),assert.equal(e.childNodes.length,1),assert.equal(e.firstElementChild,d),assert.deepEqual(e.$.content.assignedNodes({flatten:!0}),[d]),assert.equal(t.childNodes.length,0),assert.deepEqual(t.$.content.assignedNodes({flatten:!0}).length,0),t.appendChild(d),ShadyDOM.flush(),assert.equal(t.childNodes.length,1),assert.equal(t.firstElementChild,d),assert.deepEqual(t.$.content.assignedNodes({flatten:!0}),[d]),assert.equal(e.childNodes.length,0),assert.deepEqual(e.$.content.assignedNodes({flatten:!0}).length,0),document.body.removeChild(e),document.body.removeChild(t)})),test("moving children between distributing hosts with deep insertion points (parsed child)",(function(){var e=document.createElement("div");e.innerHTML="<x-dist-inside-deep-tree><div></div></x-dist-inside-deep-tree>";var t=e.firstChild,d=document.createElement("x-dist-inside-deep-tree");document.body.appendChild(e),document.body.appendChild(d),ShadyDOM.flush();var n=t.firstElementChild;assert.equal(n.localName,"div"),assert.equal(t.childNodes.length,1),assert.equal(t.firstElementChild,n),assert.deepEqual(t.$.content.assignedNodes({flatten:!0}),[n]),assert.equal(d.childNodes.length,0),assert.deepEqual(d.$.content.assignedNodes({flatten:!0}).length,0),d.appendChild(n),ShadyDOM.flush(),assert.equal(d.childNodes.length,1),assert.equal(d.firstElementChild,n),assert.deepEqual(d.$.content.assignedNodes({flatten:!0}),[n]),assert.equal(t.childNodes.length,0),assert.deepEqual(t.$.content.assignedNodes({flatten:!0}).length,0),t.appendChild(n),ShadyDOM.flush(),assert.equal(t.childNodes.length,1),assert.equal(t.firstElementChild,n),assert.deepEqual(t.$.content.assignedNodes({flatten:!0}),[n]),assert.equal(d.childNodes.length,0),assert.deepEqual(d.$.content.assignedNodes({flatten:!0}).length,0),d.appendChild(n),ShadyDOM.flush(),assert.equal(d.childNodes.length,1),assert.equal(d.firstElementChild,n),assert.deepEqual(d.$.content.assignedNodes({flatten:!0}),[n]),assert.equal(t.childNodes.length,0),assert.deepEqual(t.$.content.assignedNodes({flatten:!0}).length,0),document.body.removeChild(e),document.body.removeChild(d)})),test("moving children between distributing host with deep insertion and fragment",(function(){var e=document.createElement("x-dist-inside-deep-tree"),t=createPatchedDocumentFragment();document.body.appendChild(e),ShadyDOM.flush();var d=document.createElement("div");e.appendChild(d),ShadyDOM.flush(),assert.equal(e.childNodes.length,1),assert.equal(e.firstElementChild,d),assert.deepEqual(e.$.content.assignedNodes({flatten:!0}),[d]),assert.equal(t.childNodes.length,0),t.appendChild(d),ShadyDOM.flush(),assert.equal(t.childNodes.length,1),assert.equal(t.firstChild,d),assert.equal(e.childNodes.length,0),assert.deepEqual(e.$.content.assignedNodes({flatten:!0}).length,0),e.appendChild(d),ShadyDOM.flush(),assert.equal(e.childNodes.length,1),assert.equal(e.firstElementChild,d),assert.deepEqual(e.$.content.assignedNodes({flatten:!0}),[d]),assert.equal(t.childNodes.length,0),t.appendChild(d),ShadyDOM.flush(),assert.equal(t.childNodes.length,1),assert.equal(t.firstChild,d),assert.equal(e.childNodes.length,0),assert.deepEqual(e.$.content.assignedNodes({flatten:!0}).length,0),document.body.removeChild(e)})),test("moving children between distributing host with deep insertion and fragment (parsed child)",(function(){var e=document.createElement("div");e.innerHTML="<x-dist-inside-deep-tree><div></div></x-dist-inside-deep-tree>";var t=e.firstChild,d=createPatchedDocumentFragment();document.body.appendChild(t),ShadyDOM.flush();var n=t.firstElementChild;assert.equal(n.localName,"div"),assert.equal(t.childNodes.length,1),assert.equal(t.firstElementChild,n),assert.deepEqual(t.$.content.assignedNodes({flatten:!0}),[n]),assert.equal(d.childNodes.length,0),d.appendChild(n),ShadyDOM.flush(),assert.equal(d.childNodes.length,1),assert.equal(d.firstChild,n),assert.equal(t.childNodes.length,0),assert.deepEqual(t.$.content.assignedNodes({flatten:!0}).length,0),t.appendChild(n),ShadyDOM.flush(),assert.equal(t.childNodes.length,1),assert.equal(t.firstElementChild,n),assert.deepEqual(t.$.content.assignedNodes({flatten:!0}),[n]),assert.equal(d.childNodes.length,0),d.appendChild(n),ShadyDOM.flush(),assert.equal(d.childNodes.length,1),assert.equal(d.firstChild,n),assert.equal(t.childNodes.length,0),assert.deepEqual(t.$.content.assignedNodes({flatten:!0}).length,0),document.body.removeChild(t)})),test("moving children between distributing host with shallow insertion and fragment",(function(){var e=document.createElement("x-dist-simple"),t=createPatchedDocumentFragment();document.body.appendChild(e),ShadyDOM.flush();var d=document.createElement("div");e.appendChild(d),ShadyDOM.flush(),assert.equal(e.childNodes.length,1),assert.equal(e.firstElementChild,d),assert.deepEqual(e.$.content.assignedNodes({flatten:!0}),[d]),assert.equal(t.childNodes.length,0),t.appendChild(d),ShadyDOM.flush(),assert.equal(t.childNodes.length,1),assert.equal(t.firstChild,d),assert.equal(e.childNodes.length,0),assert.deepEqual(e.$.content.assignedNodes({flatten:!0}).length,0),e.appendChild(d),ShadyDOM.flush(),assert.equal(e.childNodes.length,1),assert.equal(e.firstElementChild,d),assert.deepEqual(e.$.content.assignedNodes({flatten:!0}),[d]),assert.equal(t.childNodes.length,0),t.appendChild(d),ShadyDOM.flush(),assert.equal(t.childNodes.length,1),assert.equal(t.firstChild,d),assert.equal(e.childNodes.length,0),assert.deepEqual(e.$.content.assignedNodes({flatten:!0}).length,0),document.body.removeChild(e)})),test("moving children between distributing host with shallow insertion and fragment (parsed child)",(function(){var e=document.createElement("div");e.innerHTML="<x-dist-simple><div></div></x-dist-simple>";var t=e.firstChild,d=createPatchedDocumentFragment();document.body.appendChild(t),ShadyDOM.flush();var n=t.firstElementChild;assert.equal(n.localName,"div"),assert.equal(t.childNodes.length,1),assert.equal(t.firstElementChild,n),assert.deepEqual(t.$.content.assignedNodes({flatten:!0}),[n]),assert.equal(d.childNodes.length,0),d.appendChild(n),ShadyDOM.flush(),assert.equal(d.childNodes.length,1),assert.equal(d.firstChild,n),assert.equal(t.childNodes.length,0),assert.deepEqual(t.$.content.assignedNodes({flatten:!0}).length,0),t.appendChild(n),ShadyDOM.flush(),assert.equal(t.childNodes.length,1),assert.equal(t.firstElementChild,n),assert.deepEqual(t.$.content.assignedNodes({flatten:!0}),[n]),assert.equal(d.childNodes.length,0),d.appendChild(n),ShadyDOM.flush(),assert.equal(d.childNodes.length,1),assert.equal(d.firstChild,n),assert.equal(t.childNodes.length,0),assert.deepEqual(t.$.content.assignedNodes({flatten:!0}).length,0),document.body.removeChild(t)})),test("moving an element containing a dom-repeat that distributes items",(function(){var e=document.createElement("x-repeat"),t=document.createElement("div");document.body.appendChild(e),document.body.appendChild(t),Polymer.flush(),assert.equal(e.$.dist.children.length,4),t.appendChild(e),ShadyDOM.flush(),assert.equal(e.$.dist.children.length,4),document.body.appendChild(e),ShadyDOM.flush(),assert.equal(e.$.dist.children.length,4),t.appendChild(e),ShadyDOM.flush(),assert.equal(e.$.dist.children.length,4),document.body.removeChild(t)})),test("dom-repeat that distributes inside a slot container",(function(e){var t=document.querySelector("#repeat2");ShadyDOM.flush(),setTimeout((function(){assert.equal(t.$.dist.children.length,4),e()}))})),test("adding a document fragment clears nodes in the fragment",(function(){var e=document.createElement("x-dist-star");document.body.appendChild(e);var t=document.createDocumentFragment(),d=document.createTextNode("hi"),n=document.createElement("div");t.appendChild(d),t.appendChild(n),e.appendChild(t),ShadyDOM.flush(),assert.equal(d.parentNode,e,"logical parent wrong"),assert.equal(n.parentNode,e,"logical parent wrong"),assert.equal(t.childNodes.length,0,"fragment not empty"),document.body.removeChild(e)})),test("adding a non-distributing node removes the node from its current location",(function(){var e=document.createElement("x-dist-star"),t=document.createTextNode("hi");document.body.appendChild(t),e.appendChild(t),ShadyDOM.flush(),assert.equal(t.parentNode,e)}))})),suite("multi-content mutations",(function(){test("remove, append first content",(function(){var e=document.createElement("x-multi-dist");document.body.appendChild(e);var t=document.createElement("div");e.appendChild(t),ShadyDOM.flush(),e.$.dist1.removeChild(e.$.content1),ShadyDOM.flush(),e.$.dist1.appendChild(document.createElement("slot")),ShadyDOM.flush()})),test("remove, append first distributing element",(function(){var e=document.createElement("x-multi-dist");document.body.appendChild(e);var t=document.createElement("div");e.appendChild(t),ShadyDOM.flush(),e.root.removeChild(e.$.dist1),ShadyDOM.flush();var d=document.createDocumentFragment(),n=document.createElement("x-dist");n.appendChild(document.createElement("slot")),d.appendChild(n),e.root.insertBefore(d,e.$.dist2),ShadyDOM.flush()})),test("move first distributing element",(function(){var e=document.createElement("x-multi-dist");document.body.appendChild(e);var t=document.createElement("div");e.appendChild(t),ShadyDOM.flush(),e.root.appendChild(e.$.dist1),ShadyDOM.flush()}))})),suite("dom-if append <slot>",(function(){test("x-dynamic-content",(function(){var e=document.createElement("x-dynamic-content");document.body.appendChild(e);var t=document.createElement("div");t.name="insert",e.appendChild(t),e.$.domif.if=!0,e.$.domif.render(),ShadyDOM.flush(),document.body.removeChild(e)})),test("x-dynamic-content-wrapped",(function(){var e=document.createElement("x-dynamic-content-wrapped");document.body.appendChild(e);var t=document.createElement("div");t.name="insert",e.appendChild(t),e.$.domif.if=!0,e.$.domif.render(),ShadyDOM.flush(),document.body.removeChild(e)})),test("x-dynamic-content-redist",(function(){var e=document.createElement("x-dynamic-content-redist");document.body.appendChild(e);var t=document.createElement("div");t.name="insert",e.appendChild(t),e.$.redistDomif.if=!0,e.$.redistContainer.$.domif.if=!0,e.$.redistDomif.render(),ShadyDOM.flush(),document.body.removeChild(e)})),test("x-dynamic-content-redist-element",(function(){var e=document.createElement("x-dynamic-content-redist-element");document.body.appendChild(e);var t=document.createElement("div");t.name="insert",e.appendChild(t),e.$.redistDomif.if=!0,e.$.redistDomif.render(),ShadyDOM.flush(),document.body.removeChild(e)})),test("x-toggle-if",(function(){var e=document.createElement("x-toggle-if");document.body.appendChild(e);var t=document.createElement("div");t.id="one",e.appendChild(t);var d=document.createElement("div");d.id="two",e.appendChild(d),e.$.foo.render(),e.$.notFoo.render(),ShadyDOM.flush(),e.foo=!1,e.$.foo.render(),e.$.notFoo.render(),ShadyDOM.flush(),e.foo=!0,e.$.foo.render(),e.$.notFoo.render(),ShadyDOM.flush(),e.foo=!1,e.$.foo.render(),e.$.notFoo.render(),ShadyDOM.flush(),e.foo=!0,e.$.foo.render(),e.$.notFoo.render(),ShadyDOM.flush(),document.body.removeChild(e)})),test("x-dynamic-content-and-dynamic-no-content",(function(){var e=document.createElement("x-dynamic-content-and-dynamic-no-content");document.body.appendChild(e);var t=document.createElement("div");t.slot="one",e.appendChild(t),Polymer.flush(),assert.equal(e.querySelector('[slot="one"]'),t),assert.notOk(e.root.querySelector("#static")),assert.notOk(e.root.querySelector("slot")),e.$.contentIf.if=!0,e.$.staticIf.if=!0,Polymer.flush(),assert.ok(e.root.querySelector("#static"));var d=e.root.querySelector("slot");assert.ok(d),assert.equal(d.assignedNodes({flatten:!0})[0],t),e.$.contentIf.if=!1,e.$.staticIf.if=!1,Polymer.flush(),assert.equal(e.querySelector('[slot="one"]'),t),assert.notOk(e.root.querySelector("#static")),assert.notOk(e.root.querySelector("slot")),e.$.contentIf.if=!0,e.$.staticIf.if=!0,Polymer.flush(),assert.ok(e.root.querySelector("#static")),d=e.root.querySelector("slot"),assert.ok(d),assert.equal(d.assignedNodes({flatten:!0})[0],t),document.body.removeChild(e)}))}))</script>

</body>
</html>
