
<dom-module id="global-shared1">
  <link rel="import" type="css" shady-unscoped href="shady-unscoped-style-import-css.html">
  <template>
    <style shady-unscoped>:root{--zug:margin: 10px}.happy{@apply --zug;border:1px solid green}</style>

    <style>.normal{border:3px solid orange}</style>
  </template>
</dom-module>

<dom-module id="global-shared2">
  <link rel="import" type="css" shady-unscoped href="shady-unscoped-style-import-css.html">
</dom-module>

