<!doctype html>

<html>
<head>
  <meta charset="utf-8">
  <script src="../../../webcomponentsjs/webcomponents-lite.js"></script>
  <script src="../../../web-component-tester/browser.js"></script>
  <link rel="import" href="../../polymer.html">
  <style>.variable-override{border-top-width:10px}</style>
</head>
<body>

  <simple-element></simple-element>
  <simple-element></simple-element>

  <x-scope></x-scope>

  <dom-module id="x-grand-child-scope">
    <template>
      <style>:host{display:block;padding:8px}#scope{border:var(--scope-var)}#child{border:var(--child-scope-var)}#me{border:var(--grand-child-scope-var)}</style>
      <div id="me">x-grand-child-scope</div>
      <div id="scope">From x-scope</div>
      <div id="child">From x-child-scope</div>
    </template>
    <script>HTMLImports.whenReady((function(){Polymer({is:"x-grand-child-scope"})}))</script>
  </dom-module>

  <dom-module id="x-host-property">
    <template>
      <style>:host{display:block;padding:8px;border:var(--scope-var)}:host(.foo){border:var(--scope-var-foo)}</style>
      Host property
    </template>
    <script>HTMLImports.whenReady((function(){Polymer({is:"x-host-property"})}))</script>
  </dom-module>

  <dom-module id="x-host-host-property">
    <template>
      <x-host-property id="hosted"></x-host-property>
    </template>
    <script>HTMLImports.whenReady((function(){Polymer({is:"x-host-host-property"})}))</script>
  </dom-module>

  <dom-module id="x-produce-use-property">
    <template>
      <style>:host{--scope-var:6px solid steelblue;--scope-var-foo:8px solid steelblue}</style>
      <x-host-host-property id="hosted"></x-host-host-property>
    </template>
    <script>HTMLImports.whenReady((function(){Polymer({is:"x-produce-use-property"})}))</script>
  </dom-module>

  <dom-module id="x-child-scope">
    <template>
      <style>:host{display:block;padding:8px}:host>*{--gc4-scope:5px solid green}#me{border:var(--child-scope-var)}#gc2{--grand-child-scope-var:4px solid seagreen}#gc4{--grand-child-scope-var:var(--gc4-scope)}</style>
      <div id="me">x-child-scope</div>
      <x-grand-child-scope id="gc1"></x-grand-child-scope>
      <x-grand-child-scope id="gc2"></x-grand-child-scope>
      <x-grand-child-scope id="gc3"></x-grand-child-scope>
      <x-grand-child-scope id="gc4"></x-grand-child-scope>
    </template>
    <script>HTMLImports.whenReady((function(){Polymer({is:"x-child-scope"})}))</script>
  </dom-module>

  <dom-module id="x-overrides">
    <template>
      <style>:host{border:1px dashed gray;margin:8px;padding:8px;display:block;--grand-child-scope-var:var(--rename)}</style>
      overrides:
      <x-grand-child-scope id="gc1"></x-grand-child-scope>
    </template>
    <script>HTMLImports.whenReady((function(){Polymer({is:"x-overrides"})}))</script>
  </dom-module>

  <dom-module id="x-overrides2">
    <template>
      <style>:host{border:1px dashed gray;margin:8px;padding:8px;display:block}:host>*{--grand-child-scope-var:var(--rename)}</style>
      overrides:
      <x-grand-child-scope id="gc1"></x-grand-child-scope>
    </template>
    <script>HTMLImports.whenReady((function(){Polymer({is:"x-overrides2"})}))</script>
  </dom-module>

  <dom-module id="x-late">
    <template>
      <style>:host{border:var(--late);display:block}</style>
      late
    </template>
    <script>HTMLImports.whenReady((function(){Polymer({is:"x-late"})}))</script>
  </dom-module>

  <dom-module id="x-overrides3">
    <template>
      <style>:host{border:1px dashed gray;margin:8px;padding:8px;display:block}:host>*{--fillin:16px}</style>
      overrides:
      <x-late id="late"></x-late>
    </template>
    <script>HTMLImports.whenReady((function(){Polymer({is:"x-overrides3"})}))</script>
  </dom-module>

  <dom-module id="x-has-def">
    <template>
      <style>:host{border:var(--border,var(--defaultBorder));margin:8px;padding:8px;display:block}</style>
      Element with default variable.
    </template>
    <script>HTMLImports.whenReady((function(){Polymer({is:"x-has-def"})}))</script>
  </dom-module>

  <dom-module id="x-has-if">
    <template>
      <style>.iffy{border:var(--scope-var)}</style>
      <template is="dom-if" if="{{gogo}}">
        <div class="iffy">iffy</div>
      </template>
    </template>
    <script>HTMLImports.whenReady((function(){Polymer({is:"x-has-if",properties:{gogo:{value:!0}}})}))</script>
  </dom-module>

  <dom-module id="x-button">
    <template>
      <style>:host{display:block;border:var(--button-border)}</style>
      Button!
    </template>
    <script>HTMLImports.whenReady((function(){Polymer({is:"x-button",extends:"button"})}))</script>
  </dom-module>

  <dom-module id="x-dynamic">
    <template>
      <style>:host{display:block;margin:20px;border:var(--dynamic)}</style>
      Dynamic
    </template>
    <script>HTMLImports.whenReady((function(){Polymer({is:"x-dynamic"})}))</script>
  </dom-module>

  <dom-module id="x-keyframes">
    <template>
      <style>:host{display:block;position:relative;border:10px solid #00f;left:0;-webkit-animation-duration:.3s;animation-duration:.3s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}:host([animated]){-webkit-animation-name:x-keyframes-animation;animation-name:x-keyframes-animation}@-webkit-keyframes x-keyframes-animation{0%{left:var(--a)}100%{left:var(--b)}}@keyframes x-keyframes-animation{0%{left:var(--a)}100%{left:var(--b)}}</style>
      x-keyframes
    </template>
    <script>HTMLImports.whenReady((function(){Polymer({is:"x-keyframes",properties:{animated:{type:Boolean,value:!1,reflectToAttribute:!0}}})}))</script>
  </dom-module>

  <dom-module id="x-scope">
    <template>
      <style>:host{x--invalid:15px solid gray;display:block;padding:8px;--scope-var:1px solid black;--fallback:7px solid orange;--default1:var(--undefined, 6px solid yellow);--default2:var(--undefined, var(--fallback));--default3:var(--undefined, rgb(128, 200, 250));--defaultBorder:22px solid green;--a:10px;--b:5px;--primary-color:rgb(128, 128, 128);--late:var(--fillin);--button-border:16px solid tomato;--after:17px solid brown;--end-term:19px solid blue}:host>*{--ws-term:18px solid orange}#me{border:var(--scope-var)}x-child-scope{--child-scope-var:2px solid orange;--grand-child-scope-var:3px solid steelblue}x-child-scope.special{--child-scope-var:12px solid orange}#applyDefault1{border:var(--undefined,6px solid #ff0)}#applyDefault2{border:var(--undefined,var(--fallback))}#default1{border:var(--default1)}#default2{border:var(--default2)}#default3{padding:8px;background-color:var(--default3)}#defaultElement2{--defaultBorder:23px solid goldenrod}#overrides1a,#overrides1b,#overrides2{--rename:8px solid navy}#overrides1b,#overrides2{--grand-child-scope-var:9px solid orange}#overridesConcrete{border:var(--scope-var);border:4px solid #4682b4}#calc{border:solid red;border-width:calc(var(--a) + var(--b))}#shadow{box-shadow:10px 10px 10px var(--primary-color);-webkit-box-shadow:10px 10px 10px var(--primary-color)}x-host-property{border:10px solid purple}#invalid{border:var(--invalid)}#after::after{content:'after';border:var(--after)}#wsTerm{border:var(--ws-term)}x-keyframes:nth-of-type(2){--b:-5px}#endTerm{border:var(--end-term)}#parenthesis{background-image:var(--foo-background-image,url(http://placehold.it/400x300))}#nestedFallback{border:var(--undefined,var(--undefined,20px solid #00f))}#doubleNestedFallback{border:var(--undefined,var(--undefined,var(--undefined,20px solid red)))}#cornerFallback{background-image:var(--undefined,var(--undefined,var(--undefined,url(http://placehold.it/400x300))))}</style>
      <div id="me">x-scope</div>
      <x-keyframes id="keyframes"></x-keyframes>
      <x-keyframes id="keyframes2"></x-keyframes>
      <x-child-scope id="child"></x-child-scope>
      <x-child-scope id="child2"></x-child-scope>
      <x-overrides id="overrides1a"></x-overrides>
      <x-overrides id="overrides1b"></x-overrides>
      <x-overrides2 id="overrides2"></x-overrides2>
      <x-overrides3 id="overrides3"></x-overrides3>
      <div id="overridesConcrete">override concrete</div>
      <button id="button" is="x-button"></button>
      <div id="default1">default</div>
      <div id="default2">var default</div>
      <div id="default3">tricky property rgb(...) default</div>
      <x-has-def id="defaultElement1"></x-has-def>
      <x-has-def id="defaultElement2"></x-has-def>
      <div id="applyDefault1">default</div>
      <div id="applyDefault2">var default</div>
      <div id="calc">Calc</div>
      <div id="shadow">Shadow</div>
      <div id="invalid">invalid</div>
      <x-host-property id="hostProp"></x-host-property>
      <x-has-if id="iffy"></x-has-if>
      <div id="after"></div>
      <x-dynamic id="dynamic"></x-dynamic>
      <div id="wsTerm">new line var</div>
      <div id="endTerm">end var</div>
      <div id="parenthesis">parenthesis</div>
      <div id="nestedFallback"></div>
      <div id="doubleNestedFallback"></div>
      <div id="cornerFallback"></div>
      <div id="badFallback"></div>
    </template>
    <script>HTMLImports.whenReady((function(){Polymer({is:"x-scope"})}))</script>
  </dom-module>

  <dom-module id="x-inside">
    <template>
      <style>:host{display:inline-block;border:var(--border) solid orange;height:10px;width:10px;background-color:tomato}</style>
    </template>
    <script>HTMLImports.whenReady((function(){Polymer({is:"x-inside"})}))</script>
  </dom-module>

  <dom-module id="simple-element">
    <template>
      <style>:host{display:block}x-inside{color:var(--dne);--border:10px}</style>
      <x-inside id="inner"></x-inside>
    </template>
    <script>HTMLImports.whenReady((function(){Polymer({is:"simple-element"})}))</script>
  </dom-module>


<dom-module id="x-variable-override">
  <template>
    <style>:host{--b:2px solid black;display:block;border:var(--b)}</style>
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-variable-override"})}))</script>
</dom-module>

<dom-module id="x-variable-consumer">
  <template>
    <style>:host(.foo){border:var(--consumer)}</style>
    test
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-variable-consumer"})}))</script>
</dom-module>

<dom-module id="x-host-variable-consumer">
  <template>
    <style>:host{--consumer:2px solid orange}.foo{display:block;border:10px solid #000}</style>
    <x-variable-consumer id="consumer" class="foo"></x-variable-consumer>
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-host-variable-consumer"})}))</script>
</dom-module>

<dom-module id="x-var-produce-via-consume">
  <template>
    <style>:host{display:block;border:10px solid orange;--foo:var(--bar)}</style>
        </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-var-produce-via-consume"})}))</script>
</dom-module>

<dom-module id="x-non-media-matching">
  <template>
    <style>@media (min-width:100000px){#inside{--consumer:10px solid red}}</style>
    <x-variable-consumer id="inside" class="foo"></x-variable-consumer>
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-non-media-matching"})}))</script>
</dom-module>

<dom-module id="x-non-media-matching-host">
  <template>
    <style>@media (min-width:100000px){:host{--border:10px solid red}}:host{display:block;border:var(--border)}</style>
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-non-media-matching-host"})}))</script>
</dom-module>

<dom-module id="x-update-styles">
  <template>
    <style>:host{--border:10px solid red}:host([active]){--consumer:6px solid orange}:host{display:block;border:var(--border)}</style>
    <x-variable-consumer id="child" class="foo"></x-variable-consumer>
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-update-styles",properties:{active:{reflectToAttribute:!0,observer:"_activeChanged"}},_activeChanged:function(){this.updateStyles()}})}))</script>
</dom-module>

<script>suite("scoped-styling-var",(function(){function e(e,t,a,n){e.offsetWidth,n=n||"border-top-width";var d=e.getComputedStyleValue&&!a?e.getComputedStyleValue(n):getComputedStyle(e,a)[n];assert.equal(d,t,"computed style incorrect")}function t(e,t,a){var n=e.getComputedStyleValue(t);assert.include(n,a)}var a=document.querySelector("x-scope");test("variables in @keyframes",(function(e){var n=a.$.keyframes,d=function(){t(n,"left","5px"),n.removeEventListener("animationend",d),n.removeEventListener("webkitAnimationEnd",d),n.animated=!1,e()};t(n,"--a","10px"),t(n,"--b","5px"),n.addEventListener("animationend",d),n.addEventListener("webkitAnimationEnd",d),n.animated=!0})),test("instances of scoped @keyframes",(function(e){navigator.userAgent.match(/Safari/)&&ShadyCSS.nativeCss&&ShadyCSS.nativeShadow&&this.skip();var n=a.$.keyframes2,d=function(){t(n,"left","5px"),n.removeEventListener("animationend",d),n.removeEventListener("webkitAnimationEnd",d),n.animated=!1,e()};t(n,"--a","10px"),t(n,"--b","-5px"),n.addEventListener("animationend",d),n.addEventListener("webkitAnimationEnd",d),n.animated=!0})),test("multiple elements in document",(function(){var t=document.querySelectorAll("simple-element");e(t[0].$.inner,"10px"),e(t[1].$.inner,"10px")})),test("simple variables calculated correctly between scopes",(function(){t(a,"--scope-var","1px");var e=a.$.child;t(e,"--scope-var","1px"),t(e,"--child-scope-var","2px"),t(e,"--grand-child-scope-var","3px");var n=e.$.gc1;t(n,"--scope-var","1px"),t(n,"--child-scope-var","2px"),t(n,"--grand-child-scope-var","3px");var d=e.$.gc2;t(d,"--scope-var","1px"),t(d,"--child-scope-var","2px"),t(d,"--grand-child-scope-var","4px");var o=e.$.gc3;t(o,"--scope-var","1px"),t(o,"--child-scope-var","2px"),t(o,"--grand-child-scope-var","3px")})),test("invalid variables not parsed",(function(){window.ShadyCSS&&!ShadyCSS.nativeCss||this.skip(),assert.notOk(ShadyCSS.ScopingShim.getComputedStyleValue(a,"x--invalid")),e(a.$.invalid,"0px")})),test("simple variables applied correctly between scopes",(function(){e(a.$.me,"1px"),e(a.$.child.$.me,"2px"),e(a.$.child.$.gc1.$.me,"3px"),e(a.$.child.$.gc1.$.scope,"1px"),e(a.$.child.$.gc1.$.child,"2px"),e(a.$.child.$.gc2.$.me,"4px"),e(a.$.child.$.gc2.$.scope,"1px"),e(a.$.child.$.gc2.$.child,"2px")})),test("variable can be set to another variable",(function(){var n=a.$.child.$.gc4;t(n,"--grand-child-scope-var","5px"),e(n.$.me,"5px")})),test("variable default values can be assigned to other variables",(function(){t(a,"--default1","6px"),t(a,"--default2","7px"),e(a.$.default1,"6px"),e(a.$.default2,"7px"),e(a.$.applyDefault1,"6px"),e(a.$.applyDefault2,"7px")})),test("variable literal defaults can contain one (...)",(function(){var e=getComputedStyle(a.$.default3).backgroundColor;assert.match(e,/rgb\(128/,"literal fallback containing (...) not set")})),test("variable values can be used with calc",(function(){e(a.$.calc,"15px")})),test("variable values can be used with box-shadow",(function(){var e=getComputedStyle(a.$.shadow).boxShadow;assert.match(e,/rgb\(128/,"box shadow not set correctly")})),test("host properties can be overridden with outer scope styles",(function(){e(a.$.hostProp,"10px")})),test("updateStyles changes property values and using style cache",(function(){a.$.child.classList.add("special");var t=document.querySelectorAll("style").length;a.updateStyles(),a.shadowRoot&&window.ShadyCSS&&!ShadyCSS.nativeCss&&assert.equal(document.querySelectorAll("style").length,t+4),e(a.$.child.$.me,"12px"),a.$.child.classList.remove("special"),a.updateStyles(),a.shadowRoot&&window.ShadyCSS&&!ShadyCSS.nativeCss&&assert.equal(document.querySelectorAll("style").length,t),e(a.$.child.$.me,"2px")})),test("Nested element uses style cache when attached and updateStyles is called",(function(){var t=document.querySelectorAll("style").length,n=document.createElement("x-produce-use-property");document.body.appendChild(n);var d=n.$.hosted.$.hosted,o=document.createElement("x-produce-use-property");document.body.appendChild(o);var s=o.$.hosted.$.hosted;a.shadowRoot&&window.ShadyDOM&&assert.equal(document.querySelectorAll("style").length,t+1),e(d,"6px"),e(s,"6px"),n.updateStyles({"--scope-var":"8px solid purple"}),o.updateStyles({"--scope-var":"8px solid purple"}),e(d,"8px"),e(s,"8px"),a.shadowRoot&&window.ShadyDOM&&assert.equal(document.querySelectorAll("style").length,t+1),n.updateStyles({"--scope-var":null}),o.updateStyles({"--scope-var":null}),e(d,"6px"),e(s,"6px"),a.shadowRoot&&window.ShadyDOM&&assert.equal(document.querySelectorAll("style").length,t+1)})),test("updateStyles with properties argument changes styles",(function(){a.$.child.updateStyles({"--child-scope-var":"26px solid seagreen"}),e(a.$.child.$.me,"26px"),a.$.child.updateStyles({"--child-scope-var":null}),e(a.$.child.$.me,"2px")})),test("updateStyles on when element when not attached",(function(){var t=document.createElement("x-update-styles");document.body.appendChild(t),e(t,"10px"),document.body.removeChild(t),t.updateStyles({"--border":"8px solid orange"}),document.body.appendChild(t),e(t,"8px")})),test("updateStyles called in observer when element not attached",(function(){var t=document.createElement("x-update-styles");document.body.appendChild(t),e(t.$.child,"0px"),t.active=!0,e(t.$.child,"6px"),t.active=!1,e(t.$.child,"0px"),document.body.removeChild(t),t.active=!0,t.updateStyles=function(){},document.body.appendChild(t),e(t.$.child,"6px")})),test("styles update based on root customStyle changes",(function(){e(a.$.dynamic,"0px"),Polymer.updateStyles({"--dynamic":"4px solid navy"}),e(a.$.dynamic,"4px"),Polymer.updateStyles({"--dynamic":"6px solid gray"}),e(a.$.dynamic,"6px")})),test("null customStyles unapply",(function(){a.$.dynamic.updateStyles({"--dynamic":"8px solid black"}),e(a.$.dynamic,"8px"),a.$.dynamic.updateStyles({"--dynamic":null}),e(a.$.dynamic,"6px"),a.$.dynamic.updateStyles({"--dynamic":"8px solid black"}),e(a.$.dynamic,"8px"),a.$.dynamic.updateStyles({"--dynamic":null}),e(a.$.dynamic,"6px")})),test("style properties with dom-if",(function(){var t=a.$.iffy,n=Polymer.dom(t.root).querySelector(".iffy");assert.ok(n,"dom-if did not stamp"),e(n,"1px")})),test("variable precedence and overrides",(function(){var n=a.$.overrides1a;t(n,"--rename","8px"),t(n,"--grand-child-scope-var","8px"),e(n.$.gc1.$.me,"8px");var d=a.$.overrides1b;t(d,"--rename","8px"),t(d,"--grand-child-scope-var","9px"),e(d.$.gc1.$.me,"9px");var o=a.$.overrides2;t(o,"--rename","8px"),t(o.$.gc1,"--grand-child-scope-var","8px"),e(o.$.gc1.$.me,"8px");var s=a.$.overrides3;window.ShadyCSS&&!ShadyCSS.nativeCss&&assert.equal(ShadyCSS.ScopingShim.getComputedStyleValue(s,"--late"),"","property should not be late bound"),t(s.$.late,"--fillin","16px"),e(s.$.late,"0px")})),test("pseudo-elements can consume custom properties",(function(){e(a.$.after,"17px","::after")})),test("elements using only variable defaults are styled properly",(function(){e(a.$.defaultElement1,"22px"),e(a.$.defaultElement2,"23px")})),test("vars with trailing new line or } apply",(function(){e(a.$.wsTerm,"18px"),e(a.$.endTerm,"19px")})),test("variable with parenthesis",(function(){var e=getComputedStyle(a.$.parenthesis).backgroundImage.replace(/['"]/g,"");assert.equal("url(http://placehold.it/400x300)",e)})),test("custom style class overrides css variable",(function(){var t=document.createElement("x-variable-override");t.classList.add("variable-override"),document.body.appendChild(t),e(t,"10px")})),test("class selector overrides :host(class) property on element with only dynamic styles",(function(){var t=document.createElement("x-host-variable-consumer");document.body.appendChild(t),e(t.$.consumer,"10px")})),test("var values can be overridden by subsequent concrete properties",(function(){e(a.$.overridesConcrete,"4px")})),test("producing a var that consumes another var preserves static styling",(function(){var t=document.createElement("x-var-produce-via-consume");document.body.appendChild(t),e(t,"10px")})),test("producing a var that consumes results in static and not dynamic stylesheet",(function(){window.ShadyCSS&&!ShadyCSS.nativeCss||this.skip();var e=document.createElement("x-var-produce-via-consume");document.body.appendChild(e);var t=!window.ShadyCSS||ShadyCSS.nativeShadow?e.shadowRoot:document.head,a=t.querySelector("style[scope=x-var-produce-via-consume]");assert.ok(a),assert.match(a.textContent,/display/,"static style does not contain style content"),assert.equal(t.querySelectorAll("style[scope~=x-var-produce-via-consume]").length,1)})),test("Nested var fallback syntax",(function(){e(a.$.nestedFallback,"20px"),e(a.$.doubleNestedFallback,"20px");var t=getComputedStyle(a.$.cornerFallback).backgroundImage.replace(/['"]/g,"");assert.equal("url(http://placehold.it/400x300)",t)})),test("invalid @media rules do not match",(function(){var t=document.createElement("x-non-media-matching");document.body.appendChild(t),e(t.$.inside,"0px")})),test("invalid @media rules do not match :host rule",(function(){var t=document.createElement("x-non-media-matching-host");document.body.appendChild(t),e(t,"0px")}))}))</script>
</body>
</html>
