
<dom-module id="shared-styles">
  <style>:host{border:4px solid tomato}</style>
  <link rel="import" type="css" href="styling-import1.css">
  <link rel="import" type="css" href="styling-import2.css">
  <template>
    <style>#three{border:3px solid tomato}</style>
  </template>
</dom-module>
