<!doctype html>

<html>
<head>
  <meta charset="utf-8">
  <script src="../../../webcomponentsjs/webcomponents-lite.js"></script>
  <script>!function(){let e=window.customElements.define,n=[];window.customElements.define=function(t,o,s){return n.push(t),e.call(window.customElements,t,o,s)},customElements.defineOrder=n}()</script>
  <script src="../../../web-component-tester/browser.js"></script>
  <link rel="import" href="../../polymer.html">
  <style>#priority.style-scope.x-styled,#priority[style-scope=x-styled]{border:1px solid #000}</style>
</head>
<body>

<dom-module id="x-keyframes">
  <template>
    <style>:host{display:block;position:relative;border:10px solid #00f;left:0;-webkit-animation-duration:.3s;animation-duration:.3s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}:host([animated]){-webkit-animation-name:x-keyframes-animation;animation-name:x-keyframes-animation}@-webkit-keyframes x-keyframes-animation{0%{left:var(--keyframes0,0)}100%{left:var(--keyframes100,10px)}}@keyframes x-keyframes-animation{0%{left:var(--keyframes0,0)}100%{left:var(--keyframes100,10px)}}</style>
    x-keyframes
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-keyframes",properties:{animated:{type:Boolean,value:!1,reflectToAttribute:!0}}})}))</script>
</dom-module>
<dom-module id="x-gchild">
  <template>
    <style></style>
    <div id="target">x-gchild</div>
  </template>
</dom-module>
<script>HTMLImports.whenReady((function(){Polymer({is:"x-gchild"})}))</script>

<dom-module id="x-child">
  <template>
    <div id="simple">simple</div>
    <div id="complex1" class="scoped">complex1</div>
    <div id="complex2" selected="selected">complex2</div>
    <div id="media">media</div>
    <div id="shadow" class="shadowTarget">shadowTarget</div>
    <div id="deep" class="deepTarget">deepTarget</div>
    <x-gchild id="gchild1"></x-gchild>
    <x-gchild id="gchild2" class="wide"></x-gchild>
  </template>
</dom-module>
<script>HTMLImports.whenReady((function(){Polymer({is:"x-child",hostAttributes:{class:"nug"}})}))</script>

<dom-module id="x-child2">
  <template>
    <style>:host(.wide) #target{border:none}</style>
    <div id="target">x-child2</div>
  </template>
</dom-module>
<script>HTMLImports.whenReady((function(){Polymer({is:"x-child2"})}))</script>

<dom-module id="x-scope-class">
  <template>
    <div id="scope">Trivial</div>
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-scope-class"})}))</script>
</dom-module>

<dom-module id="x-class-literal">
  <template>
    <div id="scope" class$="a [[b]] c" class="d e">Trivial</div>
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-class-literal"})}))</script>
</dom-module>



<dom-module id="x-styled">
  <template>
    <style>:host{display:block;border:1px solid orange;--keyframes100:100px}:host(.wide){border-width:2px}:host(.wide)::after{content:'-content-'}#simple{border:3px solid orange}.scoped,[selected]{border:4px solid pink}@media(max-width:10000px){.media{border:5px solid brown}}.container ::slotted(*){border:6px solid navy}#priority{border:9px solid orange}.container1>::slotted([slot=content1]){border:13px solid navy}.container2>::slotted([slot=content2]){border:14px solid navy}.computed{border:15px solid orange}.computeda{border:20px solid orange}.a.computedb{border:16px solid gray}#child{border:16px solid tomato;display:block}svg{margin-top:20px}#circle{fill:#2e8b57;stroke-width:1px;stroke:tomato}</style>
    <slot name="blank"></slot>
    <div id="simple">simple</div>
    <div id="complex1" class="scoped">complex1</div>
    <div id="complex2" selected="selected">complex2</div>
    <div id="media" class="media">media</div>
    <div class="container1">
      <slot name="content1"></slot>
    </div>
    <div class="container2">
      <slot name="content2"></slot>
    </div>
    <div class="container">
      <slot></slot>
    </div>
    <x-child id="child"></x-child>
    <div id="priority">priority</div>
    <x-child2 class="wide" id="child2"></x-child2>
    <div id="computed" class$="{{computeClass(aClass)}}">Computed</div>
    <div>
      <div id="computed2" class$="a {{computeClass('computedb')}}">Computed</div>
    </div>
    <div id="repeatContainer">
      <template id="repeat" is="dom-repeat" items="{{items}}">
        <a class$="{{aaClass}}">A Computed</a>
      </template>
    </div>
    <svg height="25" width="25">
      <circle id="circle" cx="12" cy="12" r="10"></circle>
    </svg>
    <x-scope-class id="scopeClass"></x-scope-class>
    <x-keyframes id="keyframes"></x-keyframes>
    <x-keyframes id="keyframes2"></x-keyframes>
  </template>
</dom-module>
<script>HTMLImports.whenReady((function(){Polymer({is:"x-styled",properties:{items:{value:[{}]}},computeClass:function(e){return e}})}))</script>

<template id="dynamic">
  <div class="added">
    Added
    <div class="sub-added">
      Sub-added
    </div>
  </div>
</template>

<dom-module id="x-dynamic-scope">
  <template>
    <style>.added{border:17px solid beige}.sub-added{border:18px solid #fafafa}</style>
    <div id="container"></div>
  </template>
</dom-module>
<script>!function(){var e=document.currentScript.ownerDocument.querySelector("template#dynamic");HTMLImports.whenReady((function(){Polymer({is:"x-dynamic-scope",ready:function(){var n=document.importNode(e.content,!0);this.$.container.appendChild(n)}})}))}()</script>

<template id="dynamic-style-template">
  <style>:host{border:40px solid tomato}</style>
  <div>big border</div>
</template>

<script>!function(){var e=document.currentScript.ownerDocument.querySelector("template#dynamic-style-template");HTMLImports.whenReady((function(){Polymer({is:"x-dynamic-template",registered:function(){this._template=e}})}))}()</script>

<template id="svg">
  <svg class="svg" viewBox="0 0 24 24">
    <circle id="circle" r="12" cx="12" cy="12"/>
  </svg>
</template>

<dom-module id="x-dynamic-svg">
  <template>
    <style>.svg{height:24px;width:24px}#circle{fill:red;fill-opacity:.5}</style>
    <div id="container"></div>
  </template>
  <script>!function(){var e=document.currentScript.ownerDocument.querySelector("template#svg");HTMLImports.whenReady((function(){Polymer({is:"x-dynamic-svg",ready:function(){this.scopeSubtree(this.$.container,!0);var t=document.importNode(e.content,!0);this.$.container.appendChild(t)}})}))}()</script>
</dom-module>

<dom-module id="x-specificity">
  <template>
    <style>:host{border-top:1px solid red}:host(.bar){border-top:2px solid red}</style>
    <slot></slot>
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-specificity"})}))</script>
</dom-module>

<custom-style>
  <style>html{--x-specificity-parent:{border:10px solid #00f};--x-specificity-nested:{border:3px solid red};}</style>
</custom-style>

<dom-module id="x-specificity-parent">
  <template>
    <style>::slotted(:not(template)){@apply(--x-specificity-parent);}</style>
    <slot></slot>
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-specificity-parent"})}))</script>
</dom-module>

<dom-module id="x-specificity-nested">
  <template>
    <style>:host{@apply(--x-specificity-nested);}</style>
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-specificity-nested"})}))</script>
</dom-module>

<custom-style>
  <style>html{--x-overriding:{border-top:1px solid red};}</style>
</custom-style>

<dom-module id="x-overriding">
  <template>
    <style>.red{@apply(--x-overriding);}.green{@apply(--x-overriding);border-top:2px solid green}.red-2{border-top:2px solid green;@apply(--x-overriding);}.blue{@apply(--x-overriding);border-top:3px solid #00f}</style>

    <div class="red">red</div>
    <div class="green">green</div>
    <div class="red-2">green-2</div>
    <div class="blue">blue</div>
  </template>
</dom-module>

<script>HTMLImports.whenReady((function(){Polymer({is:"x-overriding"})}))</script>

<dom-module id="x-attr-selector">
  <template>
    <style>#foo1~#bar1{border:2px solid red}#foo1~#bar1~#foo2[attr~=foo2]~#bar2[attr~=bar2]{border:4px solid red}#foo1~#bar1~#foo2[attr~=foo2]~#bar2[attr~=bar2]~#foo3[attr~=foo3][a~=a]~#bar3[attr~=bar3][a~=a]{border:6px solid red}</style>
    <div id="foo1"></div>
    <div id="bar1">bar1</div>
    <div id="foo2" attr="foo2"></div>
    <div id="bar2" attr="bar2">bar2</div>
    <div id="foo3" attr="foo3" a="a"></div>
    <div id="bar3" attr="bar3" a="a">bar3</div>

  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-attr-selector"})}))</script>
</dom-module>

<dom-module id="shared-style">
  <template>
    <style>:host(x-shared1){display:block;border:2px solid orange}:host(x-shared2){display:block;border:4px solid orange}:host(.x-shared1){top:10px}</style>
  </template>
</dom-module>

<dom-module id="x-shared1">
  <template>
    <style include="shared-style"></style>
    x-shared1
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-shared1"})}))</script>
</dom-module>

<dom-module id="x-shared2">
  <template>
    <style include="shared-style"></style>
    x-shared2
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-shared2"})}))</script>
</dom-module>

<dom-module id="x-slotted">
  <template>
    <style>::slotted(.auto-content){border:2px solid orange}.bar,::slotted(.complex-child){border:6px solid navy}#container ::slotted(*){border:8px solid green}</style>
    <slot></slot>
    <div id="container">
      <slot name="container"></slot>
    </div>
  </template>
  <script>HTMLImports.whenReady((function(){Polymer({is:"x-slotted"})}))</script>
</dom-module>

<template id="xClass">
  <style>:host{display:block;border:1px solid orange}</style>
</template>
<script>HTMLImports.whenReady((function(){customElements.define("x-class-no-is",class extends Polymer.Element{static get template(){return window.xClass}}),customElements.define("x-template-string",class extends Polymer.Element{static get template(){return"<style>\n          :host {\n            display: block;\n            border: 1px solid orange;\n          }\n        </style>;"}})}))</script>


  <div class="scoped">no margin</div>

  <x-styled>
    <div slot="content1">Foo</div>
    <div slot="content2">Bar</div>
    <div class="content">Content</div>
  </x-styled>

  <x-styled class="wide"></x-styled>

  <x-dynamic-scope></x-dynamic-scope>

  <dom-bind id="bind">
    <template>
      <div id="dom-bind-static" class="static">static</div>
      <span id="dom-bind-dynamic" class$="[[dynamic]]">[[dynamic]]</span>
    </template>
  </dom-bind>

  <x-dynamic-svg></x-dynamic-svg>
  <x-specificity></x-specificity>
  <x-specificity class="bar"></x-specificity>
  <x-specificity-parent>
    <x-specificity-nested></x-specificity-nested>
  </x-specificity-parent>
  <x-overriding></x-overriding>

  <dom-module id="nested-shared-style">
    <template>
      <style>:host{padding-top:10px}</style>
    </template>
  </dom-module>

  <dom-module id="x-nested-style">
    <template>
      <div id="container">
        <style include="nested-shared-style">:host{display:block;border:10px solid #000}</style>
      </div>
    </template>
    <script>addEventListener("WebComponentsReady",()=>{class e extends Polymer.Element{static get is(){return"x-nested-style"}}customElements.define(e.is,e)})</script>
  </dom-module>

  <dom-module id="x-interleaved-styles">
    <template>
      <style include="x-nested-style"></style>
      <style>:host{padding-top:5px}</style>
      <style>:host{color:#00f}</style>
    </template>
    <script>addEventListener("WebComponentsReady",()=>{class e extends Polymer.Element{static get is(){return"x-interleaved-styles"}}customElements.define(e.is,e)})</script>
  </dom-module>

  <dom-module id="x-only-link-style">
    <link rel="import" type="css" href="styling-import-host.css">
    <link rel="import" type="css" href="styling-import-host2.css">
    <template></template>
    <script>addEventListener("WebComponentsReady",()=>{class e extends Polymer.Element{static get is(){return"x-only-link-style"}}customElements.define(e.is,e)})</script>
  </dom-module>

  <dom-module id="double-shared-style">
    <template>
      <style>.double-shared-style{color:green}</style>
    </template>
  </dom-module>

  <dom-module id="importing-double-shared-style">
    <template>
      <style include="double-shared-style"></style>
    </template>
  </dom-module>

  <dom-module id="double-shared-styling-element">
    <template>
      <style include="importing-double-shared-style double-shared-style"></style>
    </template>
    <script>HTMLImports.whenReady(()=>{class e extends Polymer.Element{static get is(){return"double-shared-styling-element"}}customElements.define(e.is,e)})</script>
  </dom-module>

<script>!function(){function e(e,t,s,o){var n=getComputedStyle(e,o);s=s||"border-top-width",Array.isArray(t)?assert.oneOf(n[s],t,"computed style incorrect for "+s):assert.equal(n[s],t,"computed style incorrect for "+s)}var t=document.querySelector("x-styled"),s=document.querySelector("x-styled.wide"),o=document.querySelector(".scoped");suite("scoped-styling",(function(){test(":host, :host(...)",(function(){e(t,"1px"),e(s,"2px"),e(t,["","none"],"content","::after"),e(s,['"-content-"',"-content-"],"content","::after")})),test("scoped selectors, simple and complex",(function(){e(t.$.simple,"3px"),e(t.$.complex1,"4px"),e(t.$.complex2,"4px")})),test("media query scoped selectors",(function(){e(t.$.media,"5px")})),test("upper bound encapsulation",(function(){e(o,"0px")})),test("lower bound encapsulation",(function(){e(t.$.child.$.simple,"0px"),e(t.$.child.$.complex1,"0px"),e(t.$.child.$.complex2,"0px"),e(t.$.child.$.media,"0px")})),test("::slotted selectors",(function(){var t=document.querySelector(".content"),s=document.querySelector("[slot=content1]"),o=document.querySelector("[slot=content2]");e(t,"6px"),e(s,"13px"),e(o,"14px")})),test("auto ::slotted selector",(function(){var t=document.createElement("x-slotted"),s=document.createElement("div");s.classList.add("auto-content"),s.textContent="auto-content",document.body.appendChild(t),Polymer.dom(t).appendChild(s),Polymer.flush(),e(s,"2px")})),test("::slotted + child in complex selector",(function(){var t=document.createElement("x-slotted"),s=document.createElement("div");s.classList.add("complex-child"),s.textContent="complex-child",document.body.appendChild(t),Polymer.dom(t).appendChild(s),Polymer.flush(),e(s,"6px")})),test("::slotted + named slot",(function(){var t=document.createElement("x-slotted"),s=document.createElement("div");s.setAttribute("slot","container"),s.textContent="named slot child",document.body.appendChild(t),Polymer.dom(t).appendChild(s),Polymer.flush(),e(s,"8px")})),test("elements dynamically added/removed from root",(function(){var s=document.createElement("div");s.classList.add("scoped"),s.textContent="Dynamically... Scoped!",Polymer.dom(t.root).appendChild(s),Polymer.flush(),e(s,"4px"),Polymer.dom(document.body).appendChild(s),Polymer.flush(),assert.notInclude(s.getAttribute("style-scoped")||"",t.is,"scoping attribute not removed when added to other root"),assert.notInclude(s.className,t.is,"scoping class not removed when added to other root"),e(s,"0px"),Polymer.dom(t.root).appendChild(s),Polymer.flush(),e(s,"4px")})),test("elements dynamically added/removed from host",(function(){var s=document.createElement("div");s.classList.add("scoped"),s.slot="blank",s.textContent="Dynamically... unScoped!",Polymer.dom(t).appendChild(s),Polymer.flush(),e(s,"0px"),Polymer.dom(document.body).appendChild(s),Polymer.flush(),assert.notInclude(s.getAttribute("style-scoped")||"",t.is,"scoping attribute not removed when added to other root"),assert.notInclude(s.className,t.is,"scoping class not removed when added to other root"),Polymer.dom(t).appendChild(s),Polymer.flush(),e(s,"0px"),Polymer.dom(t).removeChild(s),Polymer.flush(),assert.notInclude(s.getAttribute("style-scoped")||"",t.is,"scoping attribute not removed when removed from root"),assert.notInclude(s.className,t.is,"scoping class not removed when removed from root"),Polymer.dom(t).appendChild(s),Polymer.flush(),e(s,"0px")})),test("keyframes change scope",(function(s){!navigator.userAgent.match("Edge")||window.ShadyCSS&&!window.ShadyCSS.nativeCss||this.skip();var o=t.$.keyframes,n=function(){o.removeEventListener("animationend",n),o.removeEventListener("webkitAnimationEnd",n),e(o,"100px","left"),o=t.$.keyframes2,n=function(){o.removeEventListener("animationend",n),o.removeEventListener("webkitAnimationEnd",n),e(o,"200px","left"),s()},o.addEventListener("animationend",n),o.addEventListener("webkitAnimationEnd",n),Polymer.dom(o).classList.add("special"),o.updateStyles(),o.animated=!0};o.addEventListener("animationend",n),o.addEventListener("webkitAnimationEnd",n),o.animated=!0,e(o,"0px","left")})),test("elements with computed classes",(function(){e(t.$.computed,"0px"),t.aClass="computed",e(t.$.computed,"15px"),e(t.$.computed2,"16px")})),test("<a> with computed classes dynamically added",(function(){e(t.$.repeatContainer.firstElementChild,"0px"),t.aaClass="computeda",e(t.$.repeatContainer.firstElementChild,"20px")})),test("elements with hostAttributes: class",(function(){e(t.$.child,"16px")})),test("element subtree added via dom api",(function(){var t=document.querySelector("x-dynamic-scope").$.container;e(t.querySelector(".added"),"17px"),e(t.querySelector(".sub-added"),"18px")})),test("styles in dynamically selected template",(function(){var t=document.createElement("x-dynamic-template");document.body.appendChild(t),t.shadowRoot&&assert.notOk(t.querySelector("style")),e(t,"40px"),document.body.removeChild(t)})),test("attribute inclusive selector and general sibling selectors",(function(){var t=document.createElement("x-attr-selector");document.body.appendChild(t),Polymer.flush(),e(t.$.bar1,"2px"),e(t.$.bar2,"4px"),e(t.$.bar3,"6px")})),test("svg classes are dynamically scoped correctly",(function(){var e=document.querySelector("x-dynamic-svg").$.container,t=e.querySelector(".svg"),s=getComputedStyle(t);assert.equal(s.height,"24px"),assert.equal(s.width,"24px");var o=e.querySelector("#circle");s=getComputedStyle(o),assert.equal(s["fill-opacity"],"0.5")})),test(":host with element tag selector",(function(){var t=document.createElement("x-shared1");document.body.appendChild(t),e(t,"2px");var s=document.createElement("x-shared2");document.body.appendChild(s),e(s,"4px")})),test(":host with superset of element tag selector does not leak",(function(){var t=document.createElement("div");t.textContent="host leak test",t.classList.add("x-shared1"),document.body.appendChild(t),e(t,"auto","top")})),test(":host(...) with non-matching type selector does not leak",(function(){var t=document.createElement("x-shared1x-shared2");t.textContent=":host(non-matching-type-selector)",document.body.appendChild(t),e(t,"0px"),(t=document.createElement("x-shared2x-shared1")).textContent=":host(non-matching-type-selector)",document.body.appendChild(t),e(t,"0px")})),test("static is not required for scoping styling",(function(){var t=document.createElement("x-class-no-is");document.body.appendChild(t),e(t,"1px")})),test("template string has scoped styling",(function(){var t=document.createElement("x-template-string");document.body.appendChild(t),e(t,"1px")})),test("styles work correctly when not direct children of the template",(function(){var t=document.createElement("x-nested-style");document.body.appendChild(t),e(t,"10px"),e(t,"10px","padding-top")})),test("interleaved styles and styles with includes work as expected",(function(){var t=document.createElement("x-interleaved-styles");document.body.appendChild(t),e(t,"5px","padding-top")})),test("elements without styles work",(function(){var t=document.createElement("x-only-link-style");document.body.appendChild(t),e(t,"2px")})),test("initial literal values in class are preserved when a class$ binding is present",(function(){var e=document.createElement("x-class-literal");document.body.appendChild(e);var t=e.$.scope;assert.isTrue(t.classList.contains("a")),assert.isTrue(t.classList.contains("c")),assert.isTrue(t.classList.contains("d")),assert.isTrue(t.classList.contains("e"))}))})),suite("double including style sheets",(function(){let e;setup((function(){e=document.createElement("double-shared-styling-element"),document.body.appendChild(e)})),teardown((function(){document.body.removeChild(e)})),test("only includes style modules once",(function(){const t=e.shadowRoot.querySelector("style");t?assert.equal(t.textContent,".double-shared-style {\n  color: green;\n}","There should be only one class selector in this style element"):assert.equal(document.head.querySelector('[scope="double-shared-styling-element"]').textContent,".double-shared-style.double-shared-styling-element {\n  color: green;\n}")}))})),window.ShadyDOM&&suite("scoped-styling-shady-only",(function(){test("element style precedence below document styles",(function(){e(s.$.priority,"1px")})),test("styles shimmed in registration order",(function(){var e=customElements.defineOrder;function t(t){for(var s,o=0;s=e[o];o++)if(t.match(new RegExp(s+"\\-?\\d*$")))return o}for(var s,o,n=document.head.querySelectorAll("style[scope]"),c=0,l=0,d=0;c<n.length;c++)l=t(s=n[c].getAttribute("scope")),assert.isTrue(l>=d,"style not in registration order, expected `"+s+"` to be before `"+o+"`"),d=l,o=s})),test("svg elements properly scoped",(function(){assert.include(t.$.circle.getAttribute("class"),"x-styled"),assert.include(t.$.circle.getAttribute("class"),"style-scope"),assert.notInclude(t.$.circle.getAttribute("class"),"null"),e(t.$.circle,"1px","strokeWidth")})),test("dom-bind content is unscoped",(function(){document.querySelector("#bind").dynamic="dynamic";var e=document.querySelector("#dom-bind-static");assert.equal(e.className,"static");var t=document.querySelector("#dom-bind-dynamic");assert.equal(t.className,"dynamic")})),test("serializeValueToAttribute for class",(function(){var e=t.$.scopeClass,s=e.$.scope;assert.isTrue(e.classList.contains("style-scope")),assert.isTrue(e.classList.contains("x-styled")),e.serializeValueToAttribute("foo","class"),assert.isTrue(e.classList.contains("foo")),assert.isTrue(e.classList.contains("style-scope")),assert.isTrue(e.classList.contains("x-styled")),assert.isTrue(s.classList.contains("style-scope")),assert.isTrue(s.classList.contains("x-scope-class")),e.serializeValueToAttribute("foo","class",s),assert.isTrue(s.classList.contains("foo")),assert.isTrue(s.classList.contains("style-scope")),assert.isTrue(s.classList.contains("x-scope-class"))})),test("specificity of :host selector with class",(function(){e(document.querySelector("x-specificity"),"1px"),e(document.querySelector("x-specificity.bar"),"2px")})),test("specificity of ::slotted :not(template) selector",(function(){e(document.querySelector("x-specificity-nested"),"10px")})),test("overwriting mixin properties",(function(){var t=document.querySelector("x-overriding");e(t.shadowRoot.querySelector(".red"),"1px"),e(t.shadowRoot.querySelector(".green"),"2px"),e(t.shadowRoot.querySelector(".red-2"),"1px"),e(t.shadowRoot.querySelector(".blue"),"3px")})),test("dynamically scope element class on add/remove",(function(){var e=document.createElement("x-scope-class");document.body.appendChild(e),Polymer.flush();var t=document.createElement("div");e.shadowRoot.appendChild(t),Polymer.flush(),assert.isTrue(t.classList.contains("style-scope")),assert.isTrue(t.classList.contains("x-scope-class")),e.shadowRoot.appendChild(t),Polymer.flush(),document.body.removeChild(e)})),test("dynamically scope element class on setAttribute class",(function(){var e=document.createElement("x-scope-class");document.body.appendChild(e),Polymer.flush();var t=document.createElement("div");e.shadowRoot.appendChild(t),Polymer.flush(),t.setAttribute("class","foo"),assert.isTrue(t.classList.contains("foo")),assert.isTrue(t.classList.contains("style-scope")),assert.isTrue(t.classList.contains("x-scope-class")),e.shadowRoot.appendChild(t),Polymer.flush(),document.body.removeChild(e)})),test("dynamically scope element class on set className",(function(){var e=document.createElement("x-scope-class");document.body.appendChild(e),Polymer.flush();var t=document.createElement("div");e.shadowRoot.appendChild(t),Polymer.flush(),t.className="foo",assert.isTrue(t.classList.contains("foo")),assert.isTrue(t.classList.contains("style-scope")),assert.isTrue(t.classList.contains("x-scope-class")),e.shadowRoot.appendChild(t),Polymer.flush(),document.body.removeChild(e)}))}))}()</script>
</body>
</html>
