
<dom-module id="x-host">
  <template>

    <x-templatize obj="{{objA}}" prop="{{propA}}" id="templatizeA">
      <template>
        <x-child on-tap="handleTap" id="childA" outer-prop="{{outerProp}}" outer-obj="{{outerObj}}" outer-obj-prop="{{outerObj.prop}}" prop="{{prop}}" obj="{{obj}}" obj-prop="{{obj.prop}}" conflict="{{outerInnerConflict.prop}}" computed-from-literal="{{computeFromLiteral(33, prop)}}"></x-child>
      </template>
    </x-templatize>

    <x-templatize prop="prop-a" name="templatizeB">
      <template>
        <x-child id="childB" computed-from-literal="{{computeFromLiteral(33, prop)}}"></x-child>
      </template>
    </x-templatize>

    <x-templatize-behavior obj="{{objA}}" prop="{{propA}}" id="templatizeC">
      <template>
        <x-child on-tap="handleTap" id="childC" outer-prop="{{outerProp}}" outer-obj="{{outerObj}}" outer-obj-prop="{{outerObj.prop}}" prop="{{prop}}" obj="{{obj}}" obj-prop="{{obj.prop}}" conflict="{{outerInnerConflict.prop}}" computed-from-literal="{{computeFromLiteral(33, prop)}}"></x-child>
      </template>
    

  </x-templatize-behavior></template>
</dom-module>

<script>Polymer({is:"x-child",properties:{outerProp:{notify:!0},outerObj:{notify:!0},outerObjProp:{notify:!0},prop:{notify:!0},obj:{notify:!0},objProp:{notify:!0},outerInnerConflict:{notify:!0}},observers:["objChanged(obj.*)","outerObjChanged(outerObj.*)"],objChanged:function(){},outerObjChanged:function(){}}),Polymer({is:"x-templatize",properties:{obj:{notify:!0},prop:{notify:!0,observer:"propChanged"}},observers:["objChanged(obj.*)"],propChanged:function(o){this.instance&&(this.instance.prop=o)},objChanged:function(o){this.instance&&this.instance.notifyPath(o.path,o.value)},go:function(o){var t=this.querySelector("template"),n=Polymer.Templatize.templatize(t,this,{parentModel:!0,instanceProps:{obj:!0,prop:!0,outerInnerConflict:!0},forwardHostProp:function(o,t){this.instance&&this.instance.forwardHostProp(o,t)},notifyInstanceProp:function(o,t,n){this.notifyPath(t,n)}});this.instance=new n(o?{obj:this.obj,prop:this.prop,outerInnerConflict:{prop:"bar"}}:null),this.parentNode.appendChild(this.instance.root)}}),Polymer({is:"x-templatize-behavior",properties:{obj:{notify:!0},prop:{notify:!0,observer:"propChanged"}},observers:["objChanged(obj.*)"],behaviors:[Polymer.Templatizer],propChanged:function(o){this.instance&&(this.instance.prop=o)},objChanged:function(o){this.instance&&this.instance.notifyPath(o.path,o.value)},_parentModel:!0,_instanceProps:{obj:!0,prop:!0,outerInnerConflict:!0},_forwardHostPropV2:function(o,t){this.instance&&this.instance.forwardHostProp(o,t)},_notifyInstancePropV2:function(o,t,n){this.notifyPath(t,n)},go:function(o){var t=this.querySelector("template");this.templatize(t),this.instance=this.stamp(o?{obj:this.obj,prop:this.prop,outerInnerConflict:{prop:"bar"}}:null),this.parentNode.appendChild(this.instance.root)}}),Polymer({is:"x-host",properties:{outerProp:{value:"outerProp"},outerObj:{value:function(){return{prop:"outerObj.prop"}}},propA:{value:"prop-a"},objA:{value:function(){return{prop:"objA.prop"}}},propB:{value:"prop-b"},objB:{value:function(){return{prop:"objB.prop"}}},outerInnerConflict:{value:function(){return{prop:"conflict"}}}},observers:["outerObjChanged(outerObj.*)","objAChanged(objA.*)","objBChanged(objB.*)"],created:function(){this.handleTap=sinon.spy()},outerObjChanged:function(){},objAChanged:function(){},objBChanged:function(){},computeFromLiteral:function(o,t){return o+"-"+t}})</script>

