<!doctype html>

<html>
<head>
  <meta charset="utf-8">
  <script src="../../../webcomponentsjs/webcomponents-lite.js"></script>
  <script src="../../../web-component-tester/browser.js"></script>
  <link rel="import" href="../../polymer.html">
</head>
<body>

<dom-module id="has-whitespace">

  <template> <div>A</div> <div>B</div> </template>

  <script>HTMLImports.whenReady((function(){Polymer({is:"has-whitespace"})}))</script>

</dom-module>



<dom-module id="no-whitespace">

  <template strip-whitespace>
    <div>A</div>
    <div>A</div>
    <div>B</div>
  </template>

  <script>HTMLImports.whenReady((function(){Polymer({is:"no-whitespace"})}))</script>

</dom-module>



<dom-module id="no-whitespace-style">

  <template strip-whitespace>
    <style>:host{display:block}</style>
    <div>A</div>
    <div>B</div>
  </template>

  <script>HTMLImports.whenReady((function(){Polymer({is:"no-whitespace-style"})}))</script>

</dom-module>

<dom-module id="no-whitespace-nested">

  <template strip-whitespace>
    <div>
      <div>A</div>
    </div>
    <div>
      <div>B</div>
    </div>
  </template>

  <script>HTMLImports.whenReady((function(){Polymer({is:"no-whitespace-nested"})}))</script>

</dom-module>

<dom-module id="no-whitespace-binding">

  <template strip-whitespace>

    <div id="text">{{text}}</div>
    <div id="attr" attr$="{{attr}}">
      <div>A</div>
    </div>
    <div>
      <div>B</div>
    </div>
    <div id="compound"> {{a}} {{b}} </div>
  </template>

  <script>HTMLImports.whenReady((function(){Polymer({properties:{text:{value:"text"},attr:{value:"attr"},a:{value:"a"},b:{value:"b"}},is:"no-whitespace-binding"})}))</script>

</dom-module>

<dom-module id="no-whitespace-repeat">

  <template strip-whitespace>

    <template is="dom-repeat" items="[[items]]">
      <div></div>
    </template>

  </template>

  <script>HTMLImports.whenReady((function(){Polymer({properties:{items:{value:function(){return[1,2,3]}}},is:"no-whitespace-repeat"})}))</script>

</dom-module>



<script>suite("polymer: template whitespace",(function(){test("template stamped with whitespace preserved",(function(){var e=document.createElement("has-whitespace");document.body.appendChild(e),assert.equal(e.root.childNodes.length,5),assert.equal(e.root.childNodes[0].nodeType,Node.TEXT_NODE)})),test("template stamped without whitespace when strip-template is used",(function(){var e=document.createElement("no-whitespace");document.body.appendChild(e),assert.equal(e.root.childNodes.length,3),assert.equal(e.root.childNodes.length,e.root.children.length)})),test("template including style stamped without whitespace when strip-template is used",(function(){var e=document.createElement("no-whitespace-style");document.body.appendChild(e);var t=Array.from(e.root.childNodes).filter((function(e){return"style"!=e.localName}));assert.equal(t.length,2)})),test("template with nested content stamped without whitespace when strip-template is used",(function(){var e=document.createElement("no-whitespace-nested");document.body.appendChild(e),assert.equal(e.root.childNodes.length,2),assert.equal(e.root.childNodes.length,e.root.children.length),assert.equal(e.root.childNodes[0].childNodes.length,e.root.childNodes[0].children.length),assert.equal(e.root.childNodes[1].childNodes.length,e.root.childNodes[1].children.length)})),test("template with nested content stamped without whitespace when strip-template is used",(function(){var e=document.createElement("no-whitespace-binding");document.body.appendChild(e),assert.equal(e.$.text.textContent,"text"),assert.equal(e.$.attr.getAttribute("attr"),"attr"),assert.equal(e.$.compound.textContent," a b ")})),test("template with dom-repeat stamped without whitespace when strip-template is used",(function(){var e=document.createElement("no-whitespace-repeat");document.body.appendChild(e),Polymer.flush(),assert.equal(e.shadowRoot.childNodes.length,4)}))}))</script>
</body>
</html>
