
<link rel="import" href="lib/mixins/element-mixin.html">

<link rel="import" href="lib/utils/html-tag.html">
<script>!function(){"use strict";Polymer.Element=Polymer.ElementMixin(HTMLElement),Polymer.html=Polymer.html}()</script>
