
<link rel="import" href="lib/legacy/legacy-element-mixin.html">
<link rel="import" href="lib/legacy/polymer-fn.html">

<link rel="import" href="lib/legacy/templatizer-behavior.html">
<link rel="import" href="lib/elements/dom-bind.html">
<link rel="import" href="lib/elements/dom-repeat.html">
<link rel="import" href="lib/elements/dom-if.html">
<link rel="import" href="lib/elements/array-selector.html">

<link rel="import" href="lib/elements/custom-style.html">

<link rel="import" href="lib/legacy/mutable-data-behavior.html">

<link rel="import" href="lib/utils/html-tag.html">
<script>Polymer.Base=Polymer.LegacyElementMixin(HTMLElement).prototype,Polymer.html=Polymer.html</script>
