body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    font-weight: normal; 
    color:brown
}
h1 a{font-size: .5em; margin-right: .3em}

code{
    font-size: 1.2em;
    color: blue;
}
h1 code {color: unset; font-size: unset;}

table{border-collapse: collapse;}
table td, th{border: 1px solid silver;}
/* on_tableRowClick */
tr[row-selected]{background:darkorange}