<dom-module id="x-sub">
  <template>
    <div id="test">test</div>
  </template>
  <script>class XSub extends Polymer.Element{static get is(){return"x-sub"}}customElements.define(XSub.is,XSub)</script>
</dom-module>