
<link rel="import" href="../../../shadycss/custom-style-interface.html">
<link rel="import" href="../utils/style-gather.html">
<script>!function(){"use strict";const t=window.ShadyCSS.CustomStyleInterface;class e extends HTMLElement{constructor(){super(),this._style=null,t.addCustomStyle(this)}getStyle(){if(this._style)return this._style;const t=this.querySelector("style");if(!t)return null;this._style=t;const e=t.getAttribute("include");return e&&(t.removeAttribute("include"),t.textContent=Polymer.StyleGather.cssFromModules(e)+t.textContent),this.ownerDocument!==window.document&&window.document.head.appendChild(this),this._style}}window.customElements.define("custom-style",e),Polymer.CustomStyle=e}()</script>
