
<link rel="import" href="../utils/boot.html">
<link rel="import" href="../utils/resolve-url.html">
<script>!function(){"use strict";let t={},e={};function r(r,s){t[r]=e[r.toLowerCase()]=s}function s(r){return t[r]||e[r.toLowerCase()]}class o extends HTMLElement{static get observedAttributes(){return["id"]}static import(t,e){if(t){let r=s(t);return r&&e?r.querySelector(e):r}return null}attributeChangedCallback(t,e,r,s){e!==r&&this.register()}get assetpath(){if(!this.__assetpath){const t=window.HTMLImports&&HTMLImports.importForElement?HTMLImports.importForElement(this)||document:this.ownerDocument,e=Polymer.ResolveUrl.resolveUrl(this.getAttribute("assetpath")||"",t.baseURI);this.__assetpath=Polymer.ResolveUrl.pathFromUrl(e)}return this.__assetpath}register(t){if(t=t||this.id){if(Polymer.strictTemplatePolicy&&void 0!==s(t))throw r(t,null),new Error(`strictTemplatePolicy: dom-module ${t} re-registered`);this.id=t,r(t,this),(e=this).querySelector("style")&&console.warn("dom-module %s has style outside template",e.id)}var e}}o.prototype.modules=t,customElements.define("dom-module",o),Polymer.DomModule=o}()</script>
