
<link rel="import" href="../utils/boot.html">
<link rel="import" href="../utils/mixin.html">
<link rel="import" href="../utils/gestures.html">

<script>!function(){"use strict";const e=Polymer.Gestures;Polymer.GestureEventListeners=Polymer.dedupingMixin(r=>class extends r{_addEventListenerToNode(r,s,t){e.addListener(r,s,t)||super._addEventListenerToNode(r,s,t)}_removeEventListenerFromNode(r,s,t){e.removeListener(r,s,t)||super._removeEventListenerFromNode(r,s,t)}})}()</script>
