

<link rel="import" href="../utils/boot.html">
<link rel="import" href="../utils/mixin.html">
<link rel="import" href="../utils/case-map.html">
<link rel="import" href="properties-changed.html">

<script>!function(){"use strict";let e=Polymer.CaseMap;const t={};let r=HTMLElement.prototype;for(;r;){let e=Object.getOwnPropertyNames(r);for(let r=0;r<e.length;r++)t[e[r]]=!0;r=Object.getPrototypeOf(r)}Polymer.PropertyAccessors=Polymer.dedupingMixin(r=>{const a=Polymer.PropertiesChanged(r);return class extends a{static createPropertiesForAttributes(){let t=this.observedAttributes;for(let r=0;r<t.length;r++)this.prototype._createPropertyAccessor(e.dashToCamelCase(t[r]))}static attributeNameForProperty(t){return e.camelToDashCase(t)}_initializeProperties(){this.__dataProto&&(this._initializeProtoProperties(this.__dataProto),this.__dataProto=null),super._initializeProperties()}_initializeProtoProperties(e){for(let t in e)this._setProperty(t,e[t])}_ensureAttribute(e,t){const r=this;r.hasAttribute(e)||this._valueToNodeAttribute(r,t,e)}_serializeValue(e){switch(typeof e){case"object":if(e instanceof Date)return e.toString();if(e)try{return JSON.stringify(e)}catch(e){return""}default:return super._serializeValue(e)}}_deserializeValue(e,t){let r;switch(t){case Object:try{r=JSON.parse(e)}catch(t){r=e}break;case Array:try{r=JSON.parse(e)}catch(t){r=null,console.warn("Polymer::Attributes: couldn't decode Array as JSON: "+e)}break;case Date:r=isNaN(e)?String(e):Number(e),r=new Date(r);break;default:r=super._deserializeValue(e,t)}return r}_definePropertyAccessor(e,r){!function(e,r){if(!t[r]){let t=e[r];void 0!==t&&(e.__data?e._setPendingProperty(r,t):(e.__dataProto?e.hasOwnProperty(JSCompiler_renameProperty("__dataProto",e))||(e.__dataProto=Object.create(e.__dataProto)):e.__dataProto={},e.__dataProto[r]=t))}}(this,e),super._definePropertyAccessor(e,r)}_hasAccessor(e){return this.__dataHasAccessor&&this.__dataHasAccessor[e]}_isPropertyPending(e){return Boolean(this.__dataPending&&e in this.__dataPending)}}})}()</script>
