

<link rel="import" href="class.html">
<link rel="import" href="../../polymer.html">
<link rel="import" href="../utils/mixin.html">
<link rel="import" href="../utils/templatize.html">

<script>!function(){"use strict";const e=class extends Error{constructor(t,n){super(t),this.arg=n,this.name=this.constructor.name,this.constructor=e,this.__proto__=e.prototype}};function t(t,n){if(t&&t.fn){const r=t.fn;t.fn=function(){try{r.apply(this,arguments)}catch(t){if(!(t instanceof e))throw t;console.warn(`Argument '${t.arg}'${n?` for method '${n}'`:""} was undefined. Ensure it has an undefined check.`)}}}return t}Polymer.LegacyDataMixin=Polymer.dedupingMixin(n=>class extends n{_marshalArgs(t,n,r){const a=super._marshalArgs(t,n,r);if(this._legacyUndefinedCheck&&a.length>1)for(let n=0;n<a.length;n++)if(void 0===a[n]||t[n].wildcard&&void 0===a[n].base){const r=t[n].name;throw new e(`Argument '${r}' is undefined. Ensure it has an undefined check.`,r)}return a}_addPropertyEffect(e,n,r){return super._addPropertyEffect(e,n,t(r,r&&r.info&&r.info.methodName))}static _addTemplatePropertyEffect(e,n,r){return super._addTemplatePropertyEffect(e,n,t(r))}});const n=Polymer.Class;Polymer.Class=(e,t)=>n(e,e=>t?t(Polymer.LegacyDataMixin(e)):Polymer.LegacyDataMixin(e)),Polymer.Templatize.mixin=Polymer.dedupingMixin(e=>class extends(Polymer.LegacyDataMixin(e)){get _legacyUndefinedCheck(){return this._methodHost&&this._methodHost._legacyUndefinedCheck}}),console.info("LegacyDataMixin will be applied to all legacy elements.\nSet `_legacyUndefinedCheck: true` to enable.")}()</script>
